<app-tabs-nav-bar></app-tabs-nav-bar>
<section class="comming-soon">
  <h1>REGIONAL JAJAM FROM MEWAR</h1>
  <div class="mewar-container">
    <div class="row-text">
     
      <div class="text-column">
         <h4>COMING SOON</h4>
        <p>
          Currently, the research in this part of Rajasthan is underway. We are
          exploring community living, listening to unheard stories and tracing
          new routes.
        </p>
      </div>
      <div class="join-button">
        <button class="btn">Join Us</button>
      </div>
    </div>
  </div>
</section>
