<section>
  <div class="image-container">
    <img src="/assets/images/accountimg.jpg" alt="img" />
    <div class="overlay-text">
      <span class="topic-text">ACCOUNT</span>
      <hr class="horizontal-line" />
      <div class="button">
        <!-- <button class="btn"> <i class="fas fa-sign-out-alt"></i> Logout</button> -->
        <ng-container *ngIf="auth.auth.isAuthenticated$ | async; else loggedOut">
          <button class="btn" (click)="logout()">Log out</button>
        </ng-container>
  
        <ng-template #loggedOut>
          <button class="btn" (click)="loginAt()">Log in</button>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<section class="user">
  <div class="row-section">
    <div *ngIf="email" class="email">
      <!-- <div class="initials-box">{{ userImage }}</div> -->
      <div class="username">
        <h2>{{ userName }}</h2>
      </div>
      <h4>{{ email }}</h4>
      <!-- <p>{{userName}}</p> -->
    </div>
    <div class="profile-img">
      <img [src]="userImage" alt="User Image" />
    </div>
  </div>
</section>
<section>
  <div class="tabs-container">
    <div class="tabs-left">
      <a class="tab3" id="all-tab" (click)="showContent('all')">ANY</a
      ><strong>/</strong>
      <a class="tab3" id="bagru-tab" (click)="showContent('bagru')">NOTES</a
      ><strong>/</strong>
      <a class="tab3" id="delhi-tab" (click)="showContent('delhi')">THEATER</a
      ><strong>/</strong>
      <a class="tab3" id="jaipur-tab" (click)="showContent('jaipur')">STORE</a
      >
    </div>
    <div class="line-and-topic">
      <hr class="horizontal-line" />
      <span class="topic-text">Location</span>
    </div>
  </div>
</section>

<section>
  <div class="line">
    <span class="topic1-text">NOTES</span>
    <hr class="horizontal1-line" />
  </div>
  <div class="htext-container">
    <div class="textsec1">
      <h1>Heading 1, Heading 1</h1>
      <h6>Heading 6, Heading 6, Heading 6</h6>
    </div>
    <button class="rbtn1">Read</button>
  </div>
  <div class="htext-container">
    <div class="textsec2">
      <h1>Heading 1, Heading 1</h1>
      <h6>Heading 6, Heading 6, Heading 6</h6>
    </div>
    <button class="rbtn">Read</button>
  </div>
  <div class="htext-container">
    <div class="textsec3">
      <h1>Heading 1, Heading 1</h1>
      <h6>Heading 6, Heading 6, Heading 6</h6>
    </div>
    <button class="rbtn">Read</button>
  </div>
</section>

<section>
  <div class="line">
    <span class="topic1-text">THEATER</span>
    <hr class="horizontal1-line" />
  </div>
  <div class="container2">
    <div class="item2">
      <img
        src="assets/images/2022_04.jpg"
        routerLink="/bagru"
        alt="Block Carving"
      />
      <p>BAGRU KA TOUR</p>
      <p class="location2">Bagru</p>
    </div>
    <div class="item2">
      <img
        src="assets/images/main_04.jpg"
        routerLink="/texttile"
        alt="Block Printing"
      />
      <p>TRADITIONAL TEXTILES</p>
      <p class="location2">Bagru</p>
    </div>
  </div>

</section>
<!-- <section>
  <div class="text-container">
    <div class="left-text">
      <p>
        Our countryside facility in Bagru welcomes you for workshops to explore
        the intriguing and beautiful world of natural dyes and hand block
        printing.
      </p>
      <p>
        The long barrow was built on land previously inhabited in the Mesolithic
        period. It consisted of a sub-rectangular earthen tumulus, estimated to
        have been 15 metres (50 feet) in length, with a chamber built from
        sarsen megaliths on its eastern end. Both inhumed and cremated human
        remains were placed within this chamber during the Neolithic period,
        representing at least nine or ten individuals.
      </p>
    </div>

    <div class="right-text">
      <p class="text1">Monsoon season</p>
      <p class="text2">
        The long barrow was built on land previously inhabited in the Mesolithic
        period.
      </p>
      <button class="learn-button" routerLink="/learn-more">Learn More</button>
    </div>
  </div>
</section> -->
