

.image-container {
  position: relative;
  width: 100%;
  height: 500px;
}

.image-container img {
  width: 100%;
  height: 100%;
  display: block;
}
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(60, 12, 12, 0.5);
  z-index: 1;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; 
  width: 100%;
  z-index: 2;
}


.overlay-text{
  display: flex;
  align-items: center;
  width: 100%; 
  z-index: 2;
  padding-left: 10%;
  padding-right: 20%;
}

.horizontal-line {
  flex-grow: 1;
  background-color: #fff;
  border: none;
  height: 5px;
  /* margin-right: 10px;  */
  z-index: 2;
}

.topic-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 5rem;
  color: #fff;
  /* letter-spacing: 0.3em; */
  font-weight: normal;
  z-index: 2;
}
.user{
  width: 100%;
  height: auto;
  background-color: #3b3a3a;
}
.row-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}


 .email {
    display: flex;
    align-items: center;
    color: #fff;
    
}

 .email img{
  height: 2.5rem;
  width: 2.5rem;
 }

h2 {
    /* margin: 0; */
    font-size: 1em;
    font-size: 2rem;
}

.button {
    /* margin-left: auto; */
    padding-right: 4rem;


}

.btn {
    padding: 1rem 7rem;
    cursor: pointer;
   color: #fff;
 
  font-size: 1em;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: bold;
  border: 0.2rem solid #e4eaf3;
  /* opacity: 50%; */
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  
  .image-container{
    height: 200px;
    margin-top: 10.5%;
  }
  .topic-text {
    font-size: 3rem;
  }

  .overlay-text {
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
    display: block;
  }

  .horizontal-line {
    /* margin: 10px 0; */
    height: 3px;
  }
  .row-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.email {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  
}

.email img{
height: 2rem;
width: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5em;
 
  
}

.button {

  padding-right: 4rem;
padding-top: 10%;

align-items: center;
}

.btn {
  padding: 1rem 5rem;
  cursor: pointer;
 color: #fff;

font-size: 1em;
cursor: pointer;
border-radius: 2rem;
font-weight: bold;
border: 0.2rem solid #e4eaf3;
/* opacity: 50%; */
transition: background-color 0.3s ease;
}

}

@media (max-width: 576px) {
  .topic-text {
    font-size: 2.5rem;
  }

  .overlay-text {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }
}

@media (max-width: 400px) {
  .topic-text {
    font-size: 2rem;
  }

  .overlay-text {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }

  .horizontal-line {
    height: 2px;
  }
  .button {
padding-left: 10%;
padding-right: 10%;
  padding-top: 10%;
  
  align-items: center;
  }
  h2 {

    font-size: 1em;
   
    
  }
}
