<section>
  <div class="image-container">
    <img src="/assets/images/flyer-background.jpg" alt="img" />
    <div class="overlay-text">
      <span class="topic-text">ACCOUNT</span>
      <hr class="horizontal-line" />
    </div>
  </div>
</section>
<section class="user">
  <div class="row-section">
    <div *ngIf="email" class="email">
      <!-- <div class="initials-box">{{ userImage }}</div> -->
      <img [src]="userImage" alt="User Image" />
      <h2>{{ email }}</h2>
      <!-- <p>{{userName}}</p> -->
    </div>
    <div class="button">
      <!-- <button class="btn"> <i class="fas fa-sign-out-alt"></i> Logout</button> -->
      <ng-container *ngIf="auth.auth.isAuthenticated$ | async; else loggedOut">
        <button class="btn" (click)="logout()">Log out</button>
      </ng-container>

      <ng-template #loggedOut>
        <button class="btn" (click)="loginAt()">Log in</button>
      </ng-template>
    </div>
  </div>
</section>
