<section>
  <div class="image-container">
    <div class="line-and-topic">
      <span class="topic-text">ACCOUNT</span>
      <hr class="horizontal-line" />
    </div>
  </div>
</section>
<section class="user">
 <div class="row-section">
 <div *ngIf="email" class="email">
  <div class="initials-box">{{ initials }}</div>
  <h2>{{ email }}</h2>
</div>
  <div class="button">
<!-- <button class="btn"> <i class="fas fa-sign-out-alt"></i> Logout</button> -->
<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button class="btn" (click)="logout()">
    Log out
  </button>
</ng-container>

<ng-template #loggedOut>
  <button class="btn" (click)="loginAt()">Log in</button>
</ng-template>
  </div>
 </div>
</section>

