<app-tabs-nav-bar></app-tabs-nav-bar>
<div class="ajmercontainer">
        <h1>REGIONAL JAJAM FROM HADOTI</h1>
        <section class="ajmersec1">
            <img src="assets/images/hadotiimg1.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Anandi Lal </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1982</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">244×450cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Dablana</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>
                    Jajam from the Bundi district the one here is highly decorative with ornamental aesthetics. Breathing
                    life into floral designs and hunting scenes, its motifs are inspired by the action-packed miniature
                    paintings gracing the walls of the Hadoti region. We can notice a scattered distribution of the red
                    color. Earlier it was saturated under the free-flowing stream of the Mej river. Dam construction
                    across Mej river, dried up water sources rendering lower quality to the vibrant hues of not only
                    Jajam but also other craft practices of Rajasthan.
                </p>
            </div>
        </section>
    </div>
