<section class="returns">
  <div class="return-policy">
    <h1>Return Policy</h1>
    <p>
      Please note: If you have made a purchase at wabisabiproject.com, we assume
      that you have gone through and are aware of the refund/exchange policy
      stated below.
    </p>
    <ul>
      <li>Shipping is calculated at the time of checkout.</li>
      <li>Orders are not shipped on Sundays or Public Holidays.</li>
      <li>
        We’re continuously striving to get your products to you sooner, however,
        in some unforeseen circumstances it may take a bit longer.
        <ul>
          <li>In this case, we’ll notify you of this delay immediately.</li>
        </ul>
      </li>
      <li>
        You will be responsible for paying for your own shipping costs for
        returning your item.
        <ul>
          <li>
            Shipping costs are non-refundable. If you receive a refund, the cost
            of return shipping will be deducted from your refund.
          </li>
        </ul>
      </li>
      <li>
        Depending on where you live, the time it may take for your exchanged
        product to reach you, may vary.
      </li>
      <li>
        Incase you need the order by a particular date then please reach out to
        us on our email before order.
      </li>
      <li>
        You can track couriers once we send you an email about the tracking
        details.
      </li>
      <li>
        For international shipping please write to us on
        care&#64;wabisabiproject.com
      </li>
      <li>
        We process your orders within 5-7 business days. And products will be
        delivered to your doorstep within 10-15 business days.
        <ul>
          <li>If the piece is ready it will take 5-6 business days</li>
        </ul>
      </li>
    </ul>
    <h1>ELIGIBLE FOR RETURN</h1>
    <ul>
      <li>If the product is damaged in transit.</li>
    </ul>

    <h1>ELIGIBLE FOR EXCHANGE</h1>
    <ul>
      <li>If wrong product has been sent by our team.</li>
      <li>
        If there is a manufacturing defect on the product with respect to design
        or wearability.
      </li>
      <li>If the product is damaged in transit.</li>
    </ul>
    <h1>EXCHANGES</h1>
    <p>(IF APPLICABLE)</p>
    <ul>
      <li>Exchange/return will be only accepted once.</li>
      <li>
        Please send us an email about the same at care&#64;wabisabiproject.com
        within 48 hours.
        <ul>
          <li>
            And also attach a picture of the damaged/defective/incorrect piece.
            We will strive to resolve the issue in the best way possible.
          </li>
        </ul>
      </li>
      <li>
        Once we look into the issue, you will require to return us the product
        through courier within 7 days of receiving the item.
      </li>
      <li>
        The courier charges of return products will be borne by the customer.
      </li>
      <li>The product should be returned along with the tags and packaging.</li>
      <li>
        If the product is eligible for an exchange, we will send you a
        replacement with the next 20 days and the shipping charges will be borne
        by us.
      </li>
      <li>
        The time taken for your exchanged product to reach you may vary
        depending on the individual postal address.
      </li>
      <li>
        The value for the exchange order cannot be less than the original order.
      </li>
    </ul>
    <h1>REFUNDS</h1>
    <p>(IF APPLICABLE)</p>
    <ul>
      <li>
        Once your return is received and inspected, we will send you an email to
        notify you that we have received your returned item.
        <ul>
          <li>
            We will also notify you of the approval or rejection of your refund.
          </li>
        </ul>
      </li>
      <li>
        If you are approved, then you get the full refund will be processed and
        a credit will automatically be applied to your credit card or original
        method of payment, within a certain amount of days.
      </li>
    </ul>
    <h1>SALE ITEMS</h1>
    <p>(IF APPLICABLE)</p>
    <ul>
      <li>
        Unfortunately only regular priced items may be exchanged, sale items
        cannot be exchanged or returned.
      </li>
    </ul>
    <h1>LATE OR MISSING REFUNDS</h1>
    <p>(IF APPLICABLE)</p>
    <ul>
      <li>
        If you haven’t received a refund yet:
        <ul>
          <li>First check your bank account again.</li>
          <li>
            Then contact your credit card company (it may take some time before
            your refund is officially posted.)
          </li>
          <li>
            Next contact your bank. There is often some processing time before a
            refund is posted.
          </li>
        </ul>
      </li>
      <li>
        If you’ve done all of this and you still have not received your refund
        yet, please contact us at care&#64;wabisabiproject.com
      </li>
    </ul>
    <h1>BELOW CASES DO NOT QUALIFY FOR A REFUND OR EXCHANGE</h1>
    <ul>
      <li>
        Incorrect/outdated delivery address.
        <ul>
          <li>Includes incorrect PIN codes.</li>
        </ul>
      </li>
      <li>Package refused by recipient.</li>
      <li>Items returned in used/damaged condition.</li>
      <li>
        Minor color or design variations.
        <ul>
          <li>
            Such variations are a part of the handcrafting process and beyond
            the control of our craftsmen.)
          </li>
          <li>
            We have done our best to display as accurately as possible the
            colors of the products shown on this Web site. However, please know
            monitors are calibrated differently and colors while may be close,
            may not be 100% accurate.
          </li>
        </ul>
      </li>
      <li>
        If your product darkens over time: Wabisabi Project loves natural
        ingredients. Natural degradation/fading is a property of the ingredients
        used depending on the varying climatic & storage conditions.
      </li>
    </ul>
  </div>
</section>
