.about-text{
    display: inline-block;
    background-color: rgba(248, 242, 236, 1);
    color:rgba(79, 46, 44, 1);
  }
  .about h1{
    margin-top: 5%;
    margin-left: 15%;
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    /* font-weight: 200; */
    line-height: 100%;
    padding-top: .05em;
    /* text-wrap: balance; */
    white-space: unset;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0;
    opacity: 72%;
    /* overflow-wrap: break-word; */

    /* display: block; */
    /* font-size: 1.5em; */
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: bold; */
    /* unicode-bidi: isolate; */
  }
  .about p{
    font-weight: 800;
    letter-spacing: .03em;
    margin-left: 15%;
    margin-right: 30%;
    font-family: Nunito, sans-serif;
    /* margin: var(--m1) 0; */
    /* font-style: normal; */
    /* font-weight: 800; */
    font-size: 1.05em;
    line-height: 2rem;
    /* letter-spacing: .02em; */
    font-feature-settings: "pnum" on, "onum" on;
    opacity: 50%;

    /* overflow-wrap: break-word; */
}
.what-we-do h1{
    margin-top: 5%;
    margin-left: 15%;
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    /* font-weight: 200; */
    line-height: 100%;
    padding-top: .05em;
    /* text-wrap: balance; */
    white-space: unset;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0;
    opacity: 72%;
    /* overflow-wrap: break-word; */
}
.what-we-do p{
    margin-top: 3%;
    font-weight: 500;
    letter-spacing: .02em;
    margin-left: 15%;
    margin-right: 30%;
    font-family: Nunito, sans-serif;
    font-style: normal;
    /* margin: var(--m1) 0; */
    /* font-style: normal; */
    /* font-weight: 800; */
    font-size: 1em;
    line-height: 1.75rem;
    /* letter-spacing: .02em; */
    font-feature-settings: "pnum" on, "onum" on;
    opacity: 75%;

    /* overflow-wrap: break-word; */
}

.how-we-do-it h1{
    margin-top: 5%;
    margin-left: 15%;
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    /* font-weight: 200; */
    line-height: 100%;
    padding-top: .05em;
    /* text-wrap: balance; */
    white-space: unset;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0;
    opacity: 72%;
    /* overflow-wrap: break-word; */
}
.how-we-do-it p{
    margin-top: 3%;
    font-weight: 500;
    letter-spacing: .02em;
    margin-left: 15%;
    margin-right: 30%;
    font-family: Nunito, sans-serif;
    font-style: normal;
    /* margin: var(--m1) 0; */
    /* font-style: normal; */
    /* font-weight: 800; */
    font-size: 1em;
    line-height: 1.75rem;
    /* letter-spacing: .02em; */
    font-feature-settings: "pnum" on, "onum" on;
    opacity: 75%;

    /* overflow-wrap: break-word; */
}

.who-we-are h1{
    margin-top: 5%;
    margin-left: 15%;
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    /* font-weight: 200; */
    line-height: 100%;
    padding-top: .05em;
    /* text-wrap: balance; */
    white-space: unset;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0;
    opacity: 72%;
    /* overflow-wrap: break-word; */
}
.who-we-are p{
    margin-top: 3%;
    font-weight: 500;
    letter-spacing: .02em;
    margin-left: 15%;
    margin-right: 30%;
    margin-bottom: 5%;
    font-family: Nunito, sans-serif;
    font-style: normal;
    /* margin: var(--m1) 0; */
    /* font-style: normal; */
    /* font-weight: 800; */
    font-size: 1em;
    line-height: 1.75rem;
    /* letter-spacing: .02em; */
    font-feature-settings: "pnum" on, "onum" on;
    /* opacity: 50%; */

    /* overflow-wrap: break-word; */
}

/* Responsive styles for screens up to 350px (mobile screens) */
@media (max-width: 350px) {
    .about h1,
    .what-we-do h1,
    .how-we-do-it h1,
    .who-we-are h1 {
        padding-top: 10%;
        padding-bottom: 10%;
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      align: 10%;
    }
  
    .about p,
    .what-we-do p,
    .how-we-do-it p,
    .who-we-are p {
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      align: 10%;
    }
  }
  
  /* Responsive styles for screens up to 768px (tablet screens) */
  @media (max-width: 768px) {
    .about-text {
      flex-direction: column;
      align-items: center;
    }
  
    .about h1,
    .what-we-do h1,
    .how-we-do-it h1,
    .who-we-are h1 {
        padding-top: 10%;
        padding-bottom: 10%;
      margin-left: 10%;
      margin-right: 10%;
      width: auto;
      align: 10%;
    }
  
    .about p,
    .what-we-do p,
    .how-we-do-it p,
    .who-we-are p {
      margin-left: 10%;
      margin-right: 10%;
      width: auto;
      align: 10%;
    }
  }