/* header.component.css */
.navbar-toggle-container {
  display: none;
}
.navbar {
  display: block;
  flex-direction: column;
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.navbar.navigation.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  padding-left: 11%;
  padding-right: 11%;
}


.navbar-left img {
  max-height: 20px; /* Maximum height for desktop */
  width: auto; /* Maintain aspect ratio */
}
.navbar-left{
  display: flex;
  flex-direction: row;
}
.navbar-right{
  display: flex;
  flex-direction: row;
}
.nav-item1 a{
  color: gray;
  font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
}
#jajam{
  padding-left: 15%;
  margin-top: 5%;
}
.navbar-item {
  margin-left: 0.55rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  padding-inline-end: 1rem;
}

.navbar-toggle {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-container.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background-color: #f8f9fa;
  transition: background-color 0.3s;
}

.navigation.collapsed {
  display: none;
}

.navigation:not(.collapsed) {
  display: flex;
}

.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav-column {
  margin-right: 11%;
  margin-left: 11%;
  /* padding-right: 40rem; */
  padding-top: 2rem;
}

.nav-column h4 {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.nav-column ul {
  list-style: none;
  padding: 0;
}

.nav-column ul li {
  margin-bottom: 0.5rem;
}
.nav-column ul li a {
  text-decoration: none;
  color: inherit; /* Inherit color from the parent */
}
.nav-column ul li a.active-link {
  font-weight: bold;
  color: black;
}
.cart-count {
  position: absolute;
  top: -8px; 
  right: -10px; 
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
}

.navbar-item i {
  position: relative;
}
@media (max-width: 768px) {
  .navbar {
    display: block;
    flex-direction: column;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    padding-left: 11%;
    padding-right: 11%;
  }
  
  .navigation.collapsed {
    display: none;
  }
  
  .navigation:not(.collapsed) {
    display: flex;
  }
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
  
  .navbar.navigation.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
  }

  .nav-section {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
 .action-icon{
  display: flex;
  flex-direction: row;
 }

}
@media (max-width: 714px) {
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
  
  .navbar.navigation.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    padding-left: 9%;
    padding-right: 9%;
  }
  
  
  .navbar-left img {
    max-height: 22px; /* Maximum height for desktop */
    width: auto; /* Maintain aspect ratio */
  }
  
  .navbar-item {
    margin-left: 0.55rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    padding-inline-end: 1rem;
  }
  
  .navbar-toggle {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-container.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background-color: #f8f9fa;
    transition: background-color 0.3s;
  }
  
  .navigation.collapsed {
    display: none;
  }
  
  .navigation:not(.collapsed) {
    display: flex;
  }
  
  .nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-column {
    margin-right: 8%;
    margin-left: 10%;
    /* padding-right: 40rem; */
    padding-top: 2rem;
  }
  
  .nav-column h4 {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  
  .nav-column ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-column ul li {
    margin-bottom: 0.5rem;
  }
  .nav-column ul li a {
    text-decoration: none;
    color: inherit; /* Inherit color from the parent */
  }
  .nav-column ul li a.active-link {
    font-weight: bold;
    color: black;
  }
  

}


@media (max-width: 1460px) {
  .nav-item1{
    display: none;
  }

  .navbar-toggle-container {
    display: flex;
    align-items: center;
  }
  .action-icon{
    display: flex;
    flex-direction: row;
   }
}

@media (min-width: 1461px) {
  .navbar-left .nav-item1 {
    display: flex;
    flex-direction: row;
  }

  .navbar-toggle-container {
    display: none;
  }
}