<!-- header.component.html -->
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left"><a href="/home">
      <img src="/assets/images/logo.black.line.png" alt="WabiSabi Logo" class="navbar-logo">
    </a></div>
    <div class="navbar-right">
      <a href="/cart" class="navbar-item"><i class="fas fa-shopping-cart"></i></a>
      <!-- <a href="/account" class="navbar-item"
        ><i class="fa-solid fa-arrow-right-to-bracket"></i
      ></a> -->
      <ng-container *ngIf="isAuthenticated; else loggedOut">
        <a href="/account" class="navbar-item">
          <!-- <img [src]="userImage" alt="User Image" class="user-icon" *ngIf="userImage"> -->
          <i class="fa-solid fa-user" ></i>
        </a>
      </ng-container>
      <ng-template #loggedOut>
        <a href="/account" class="navbar-item">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
      </ng-template>
      <!-- <a href="#" class="navbar-item"><i class="fas fa-ellipsis-v"></i></a> -->
      <a class="navbar-item">|</a>
      <button class="navbar-toggle" (click)="toggleNavbar()">
        <span *ngIf="navCollapsed"><i class="fa-solid fa-bars"></i></span>
        <span *ngIf="!navCollapsed"><i class="fa-solid fa-xmark"></i></span>
      </button>
    </div>
  </div>
  <div class="navigation" [class.collapsed]="navCollapsed">
    <div class="nav-section">
      <div class="nav-column">
        <h4>PROJECTS</h4>
        <ul>
          <li><a href="/jajam" routerLinkActive="active-link">Jajam</a></li>
        </ul>
      </div>
      <div class="nav-column">
        <h4>PLATFORM</h4>
        <ul>
          <li><a href="/workshops" routerLinkActive="active-link">Workshops</a></li>
          <li><a href="/collections" routerLinkActive="active-link">Collections</a></li>
          <li><a href="/notes" routerLinkActive="active-link">Notes</a></li>
         
        </ul>
      </div>
    </div>
  </div>
  <!-- <app-breadcrumb></app-breadcrumb> -->
</nav>
