<section class="main">
  <div class="container">
    <div class="img-container">
      <img src="https://wabisabiproject.com/media/galleries/collections/bedsheet-procession/Bedsheet-design-inspired-from-Jajam.jpg" alt="bichhauni" />
    </div>
    <div class="text-container">
      <div class="headline">
        <h1>BICHHAUNI</h1>
        <p>
          This bedsheet design is our interpretation of the traditional motifs
          of Jajam.
        </p>
      </div>
      <div class="size-container">
        <div class="size">
          <h5>230×275cm</h5>
          <p>SIZE</p>
        </div>
        <div class="material">
          <h5>Cotton</h5>
          <p>MATERIAL</p>
        </div>
      </div>
      <div class="feature">
        <h5>Hand Block Printed, Natural dye, Natural bleach</h5>
        <p>FEATURES</p>
      </div>
      <hr />
      <div class="price">
        <h5>12000 INR</h5>
        <p>PRICE</p>
      </div>
      <div class="button">
        <button class="btn" routerLink="/contactus">Buy</button>
        <p>Free shipping in India. Amount includes all taxes.</p>
      </div>
    </div>
  </div>
  <div class="image-box">
    <div class="image1">
      <img src="/assets/images/bedsheet1.jpg" alt="" />
    </div>
    <div class="image1"><img src="/assets/images/bedsheet2.jpg" alt="" /></div>
    <div class="image1"><img src="/assets/images/pillow.jpg" alt="" /></div>
    <div class="image1"><img src="/assets/images/bedsheet3.jpg" alt="" /></div>
  </div>
  <div class="line">
    <span class="topic-text">ADD-ONS</span>
      <hr class="horizontal-line" />
  </div>
  
  <div class="gift-box-container">
    <div class="img-box">
      <img
        src="https://wabisabiproject.com/media/galleries/collections/bedsheet-procession/gift-box-bedsheet-800x800.jpg"
        alt="img"
      />
    </div>
    <div class="text-box">
      <div class="box-headline">
        <h1>GIFT BOX</h1>
        <p>
          Gift this jajam in this box made with handmade paper and printed in
          Jajam motifs.
        </p>
      </div>
      <div class="box-price">
        <h2>200 INR</h2>
        <p>PRICE</p>
      </div>
    </div>
  </div>
</section>
