.tabs {
  display: flex;
  align-items: center;
  padding: 10px 0;
  background-color: rgba(240, 222, 201, 0.5);
  padding-left: 10%;
  padding-right: 10%;
}

.tabs.white-background {
  background-color: white;
}
.tablinks {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

.tablinks {
  color: rgba(82, 11, 11, 0.7);
}

.tablinks.active {
  color: #330303;
}

.horizontal-line {
  flex-grow: 1;
  height: 2px;
  background-color: #520b0b;
  margin: 0 10px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent:target {
  display: block;
}
@media (max-width: 768px) {
  .tabs {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column; /* Stack tabs vertically */
  }

  .tablinks {
    padding: 10px 12px;
    font-size: 16px;
  }

  .horizontal-line {
    height: 1px;
    margin: 5px 0;
  }
}

@media (max-width: 576px) {
  .tabs{
    margin-top: 6.5%;
    padding-top: 3%;
  }
  
  .tablinks {
    padding: 8px 10px;
    font-size: 15px;
  }

  .horizontal-line {
    height: 1px;
    margin: 5px 0;
  }
}

@media (max-width: 400px) {
  .tabs{
    margin-top: 9%;
    padding-top: 7%;
  }
  .tablinks {
    /* margin-top: 9%; */
    padding: 6px 8px;
    font-size: 14px;
  }

  .horizontal-line {
    height: 1px;
    margin: 3px 0;
  }
}