<div [ngClass]="{'tabs': true, 'white-background': currentTab === 'Tab3'}">
  <a
    class="tablinks"
    (click)="openTab('Tab1')"
    [class.active]="currentTab === 'Tab1'"
  >
    People's Textile
  </a>
  <div class="horizontal-line"></div>
  <a
    class="tablinks"
    (click)="openTab('Tab2')"
    [class.active]="currentTab === 'Tab2'"
  >
    The Journey
  </a>
  <div class="horizontal-line"></div>
  <a
    class="tablinks"
    (click)="openTab('Tab3')"
    [class.active]="currentTab === 'Tab3'"
  >
    Regional Jajam
  </a>
</div>
<div class="tabs-page">
    <app-people-texttile *ngIf="currentTab === 'Tab1' && !isRegionShow"></app-people-texttile>
<app-journey-page *ngIf="currentTab === 'Tab2' && !isRegionShow"></app-journey-page>
<app-regional-page *ngIf="currentTab === 'Tab3' && !isRegionShow"> </app-regional-page>
</div>


