<div [ngClass]="{ tabs: true, 'white-background': currentContent === 'Tab3' }">
  <a
    id="jajam"
    class="tablinks"
    (click)="switchContent('jajam')"
    [class.active]="currentContent === 'jajam'"
    routerLink="/jajam"
  >
    People's Textile
  </a>
  <div class="horizontal-line"></div>
  <a
    class="tablinks"
    id="journey"
    (click)="switchContent('journey')"
    [class.active]="currentContent === 'journey'"
    routerLink="/jajam/journey"
  >
    The Journey
  </a>
  <div class="horizontal-line"></div>
  <a
    class="tablinks"
    id="regional"
    (click)="switchContent('regional')"
    [class.active]="currentContent === 'regional'"
    routerLink="/jajam/regional"
  >
    Regional Jajam
  </a>
</div>
<!-- <div class="tabs-page">
    <app-people-texttile *ngIf="currentTab === 'Tab1' && !isRegionShow"></app-people-texttile>
<app-journey-page *ngIf="currentTab === 'Tab2' && !isRegionShow"></app-journey-page>
<app-regional-page *ngIf="currentTab === 'Tab3' && !isRegionShow"> </app-regional-page>
</div> -->
