.image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(20, 18, 18, 0.5);
    z-index: 1;
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
    z-index: 2;
  }
  
  .overlay-text {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
    padding-left: 10%;
    padding-right: 20%;
  }
  
  .img-line {
    flex-grow: 1;
    background-color: #fff;
    border: none;
    height: 7px;
    /* margin-right: 10px;  */
    z-index: 2;
  }
  
  .img-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 5rem;
    color: #fff;
    /* letter-spacing: 0.3em; */
    font-weight: normal;
    z-index: 2;
  }
  .img1-text {
    font-weight: bold;
    color: #9c9999;
    font-size: 1em;
  }
  .tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1%; */
   
    padding-left: 2%;
    /* padding-right: 7%; */
  }
  
  .tabs-left {
    display: flex;
    align-items: center;
  }
  
  .tab {
    margin: 0 10px;
    /* padding: 10px 20px; */
  
    /* border: 1px solid rgba(151, 46, 52, 1); */
    text-decoration: none;
    color: rgba(151, 46, 52, 1);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    cursor: pointer;
    text-wrap: nowrap;
    font-weight: 600;
    opacity: 60%;
    
  }
  
  .tab:hover {
    border: 2px solid rgba(151, 46, 52, 1);
    color: rgba(151, 46, 52, 1);
  }
  
  .tab.active {
    border: 2px solid rgba(151, 46, 52, 1);
    color: rgba(151, 46, 52, 1);
  }
  .tabs-left strong {
    font-weight: normal;
    color: rgba(151, 46, 52, 1);
    font-size: 1.6rem;
    opacity: 20%;
    text-align: center;
  }
  .line-and-topic {
    display: flex;
    align-items: center;
    width: 100%; 
  }
  
  .horizontal1-line {
    flex-grow: 1;
    background-color: rgba(151, 46, 52, 1);
    border: none;
    height: 5px;
    margin-right: 10px; 
  }
  
  .topic1-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    color: rgba(151, 46, 52, 1);
    letter-spacing: 0.3em;
    font-weight: bold;
    opacity: 60%;
  }
.main{
    padding: 5%;
  /* display: block; */
  width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 5%;
    
}
.img-container img{
    width: 100%;
    height: 90%;
}
.text-container{
    padding-left: 2%;
}
.size-container{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}
.size-container, .feature p{
    font-size: 0.7em;
    padding-top: 2%;
}
.size-container .size h5,
.size-container .material h5,
.feature h5 {
  font-weight: bold;
  padding-top: 2%;
}
.price h5{
    font-weight: bold;
 color: rgb(147, 31, 14);
 opacity: 60%;
 padding-top: 2%;
}
.price p{
    /* font-weight: bold; */
    font-size: 0.7em;
 color: rgb(147, 31, 14);
 opacity: 60%;
}
.button p{
    font-size: 1em;
    color: rgb(147, 31, 14);
    opacity: 60%;
}
.headline h1{
    color: #585656;
   
}
.headline p{
    color: #585656;
    padding-top: 2%;
   
}
.btn{
    width: 100%;
    background-color: rgb(147, 31, 14);
    color: #fff;
    border-radius: 20px;
    padding: 2%;
    font-weight: bold;
    padding-top: 2%;
}

  
  .line{
    display: flex;
    align-items: center;
    width: 100%; 
    z-index: 2;
    padding-left: 2.6%;
  }
  
  .horizontal-line {
    flex-grow: 1;
    background-color: #740e0e;
    border: none;
    height: 1px;
    z-index: 2;
  }
  
  .topic-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.5rem;
    color: #550505;
    font-weight: normal;
    z-index: 2;
  }
.image-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding-left: 2.6%;
    gap: 20px;
    padding-bottom: 10%;
    
}
.image1 img{
width: 100%;
height: 100%;


}
.gift-box-container{
    display: flex;
    justify-content: space-between;
    padding-left: 2.6%;
    padding-top: 5%;
}
.img-box img{
    width: 100%;
    height: 90%;
}
.text-box{
    display: block;
    padding-left: 4%;
}
.box-headline h1{
    color: #5c1f1f;
    opacity: 60%;
    font-size: 3em;
}
.box-headline p{
    color: #5c1f1f;
    font-size: 1em;
    font-weight: 500;
    padding-top: 1%;
}
.box-price h2{
    color: #940c0c;
    opacity: 60%;
    font-size: 2em;
}
.box-price p{
    color: #940c0c;
    opacity: 60%;
    font-size: 0.7em;
    font-weight: 500;
}
@media (max-width: 1160px) {
   

    .image-box {
        grid-template-columns: 1fr 1fr;
        display: grid;
        grid-row-gap: 20px;
    }

    .box-headline h1 {
        font-size: 2em;
    }

    .box-price h2 {
        font-size: 1.5em;
    }
}
@media (max-width: 768px) {
   

    .main{
        margin-top: 3%;
    }

    .box-headline h1 {
        font-size: 2em;
    }

    .box-price h2 {
        font-size: 1.5em;
    }
    .button p{
        font-size: 0.8em;

    }
    .image-box{
      padding-top: 3%;
        
    }
    .text-container{
        
        padding-left: 4%;
    }
}

@media (max-width: 714px) {
   

    .main{
        margin-top: 3%;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
   
    .text-container{
        
        padding-top: 2%;
    }
    
.gift-box-container{
    display: block;
}
    .box-headline h1 {
        font-size: 2em;
    }

    .box-price h2 {
        font-size: 1.5em;
    }
    .button p{
        font-size: 0.8em;

    }
    .image-box{
      padding-top: 3%;
      grid-template-columns: 1fr 1fr 1fr;
        
    }
   
    .text-box{
       
        padding-top: 4%;
    }
}

@media (max-width: 680px) {
   

    .main{
        margin-top: 3%;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
   
    .text-container{
        
        padding-top: 2%;
    }
    
.gift-box-container{
    display: block;
}
    .box-headline h1 {
        font-size: 2em;
    }

    .box-price h2 {
        font-size: 1.5em;
    }
    .button p{
        font-size: 0.8em;

    }
    .image-box{
      padding-top: 3%;
      grid-template-columns: 1fr 1fr;
        
    }
   
    .text-box{
       
        padding-top: 4%;
    }
}
@media (max-width: 468px) {
   

    .main{
        margin-top: 7%;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
   
    .text-container{
        
        padding-top: 2%;
    }
    
.gift-box-container{
    display: block;
}
    .box-headline h1 {
        font-size: 2em;
    }

    .box-price h2 {
        font-size: 1.5em;
    }
    .button p{
        font-size: 0.8em;

    }
    .image-box{
      padding-top: 3%;
      grid-template-columns: 1fr;
        
    }
   
    .text-box{
       
        padding-top: 4%;
    }
    
}
@media (max-width: 360px) {
   
    .image-container{
        margin-top: 12%;
      }
      .img-text {
        font-size: 2rem;
      }
      .overlay-text {
        padding-left: 5%;
        padding-right: 5%;
        display: block;
      }
      
      .horizontal-line {
        height: 2px;
      }
    .main{
        margin-top: 15%;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
   
    .text-container{
        
        padding-top: 2%;
    }
    
.gift-box-container{
    display: block;
}
    .box-headline h1 {
        font-size: 2em;
    }

    .box-price h2 {
        font-size: 1.5em;
    }
    .button p{
        font-size: 0.8em;

    }
    .image-box{
      padding-top: 3%;
      grid-template-columns: 1fr;
        
    }
   
    .text-box{
       
        padding-top: 4%;
    }
    .tabs-container {
        display: block;
       
        align-items: flex-start;
      }
    
      .tabs-left{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        margin-bottom: 10px;
        row-gap: 10px;
      }
      .tab1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
        /* row-gap: 10px; */
      }
      .tab{
        margin: 0 0px;
      
      }
      .line-and-topic {
        width: 100%;
      }
      .tabs-left strong {
        font-weight: normal;
        color: rgba(151, 46, 52, 1);
        font-size: 1rem;
        opacity: 10%;
        text-align: center;
       
      }
}
