.terms{
display: block;
width: 100%;
height: auto;
padding: 2%;
 background-color: rgba(250, 238, 238, 0.3);
}
.term-page{
    padding-left: 8rem;
    padding-right: 35rem;
}
.term-page h1{
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    line-height: 100%;
    padding-top: .05em;
    white-space: unset;
    font-size: 3.25rem;
    font-weight: 100;
    letter-spacing: -.02em;
    opacity: 75%;
    overflow-wrap: break-word;
}
.term-page p{
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    overflow-wrap: break-word;
}

