    <app-tabs-nav-bar></app-tabs-nav-bar>
    <div class="ajmercontainer">
        <h1>REGIONAL JAJAM FROM MARWAR</h1>
        <section class="ajmersec1">
            <img src="assets/images/marwarimg1.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Usman Alarakha Chhipa </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1960</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">185×265cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Balotra</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>
                    This Jajam was printed by Usman Alarakha Chhipa, who later gifted it to his neighbor. Its possession
                    is a testimony that Jajams cut across lines of religion, caste, community, hierarchy and welcomed
                    everyone. A careful observation reveals that the motifs lays emphasis on intricate geometrical
                    shapes over figures. However, the central Chaupad was retained to engage the gathering audience.
                    Khan-saab’s family used it for community gatherings, recreation and a game of Chaupad. The gathering
                    occasionally consumed Afim, a practice not despised in this part of Rajasthan.
                </p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/marwarimg2.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Unknown </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1975</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">182×297cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Barmer</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Powerloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>This Jajam is now owned by Askok Tak, an antique textile collector.</p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/marwarimg3.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Chhagan Lal Khatri </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.2010</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">335×418cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Samdari</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Chemical Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>JThis Jajam belongs to the testing times of the artform. Post the decline in local demand, ritualistic
                    symbolism in life ceremonies kept the culture of Jajam textile alive. With dwindling demand, while
                    most printers switched to alternate jobs, printer Chagganlal Khatri continued to take commissioned
                    Jajam work. Khatri switched to synthetic (chemical) dyes from traditional natural dyes. Multiple
                    colors were used on a reduced Jajam size to increase its visual appeal. Jajam’s reduction to mere
                    token of marital rituals diminished the emotional connect it long enjoyed.
                </p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/marwarimg4.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Chhagan Lal Khatri </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1990</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">357×418cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Samdari</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Chemical Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>This Jajam helps connoisseurs recognize the evolution of Indian textile motifs. Earlier Jajam motifs
                    were flat and had minimal angular variations. Eventually the monotony was broken with this floral
                    design. As the viewer takes a position, closer petals appear larger than the farther ones. This
                    perspective motif introducing depth, elevated the motif to 3-D design. The new stylisation draws
                    inspiration from nature and Western techniques making flowers on textile prints appear realistic. A
                    local temple in possession of this Jajam spread it out for temple fairs, cultural gatherings and
                    get-togethers.
                </p>
            </div>
        </section>
    </div>
