.text-container{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: start;
  }

  .text-container h1{
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    line-height: 100%;
    padding-top: .05em;
    white-space: unset;
    font-size: 3.25rem;
    font-weight: 100;
    letter-spacing: -.02em;
    opacity: 75%;
    overflow-wrap: break-word;
  }
  .text-container h2{
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    line-height: 100%;
    padding-top: .05em;
    white-space: unset;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 0;
    opacity: 72%;
    overflow-wrap: break-word;
  }
  .text-container p{
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    overflow-wrap: break-word;
  }
  .text-container ul li{
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    overflow-wrap: break-word;
  }