<section>
  <div class="tabs-container">
    <div class="tabs-left">
      <a
        class="tab"
        id="all-tab"
        [class.active]="currentFilter.topicFilter === TOPIC.ALL"
        (click)="applyFilter('', '', 'all')"
        >ALL</a
      ><strong>/</strong>
      <a
        class="tab"
        id="placeholder-tab"
        [class.active]="currentFilter.topicFilter === TOPIC.PLACE"
        (click)="applyFilter('', '', 'place')"
        >PLACEHOLDER</a
      >
    </div>
    <div class="line-and-topic">
      <hr class="horizontal-line" />
      <span class="topic-text">TOPIC</span>
    </div>
  </div>
  <div class="tabs-container2">
    <div class="tabs-left2">
      <a
        class="tab2"
        id="all-tab2"
        [class.active]="currentFilter.languageFilter === LANGUAGE.ALL"
        (click)="applyFilter('', 'all', '')"
        >ALL</a
      ><strong>/</strong>
      <a
        class="tab2"
        id="english-tab2"
        [class.active]="currentFilter.languageFilter === LANGUAGE.ENGLISH"
        (click)="applyFilter('', 'English', '')"
        >ENGLISH</a
      >
    </div>
    <div class="line-and-topic2">
      <hr class="horizontal-line2" />
      <span class="topic-text2">LANGUAGE</span>
    </div>
  </div>

  <div class="tabs-container3">
    <div class="tabs-left3">
      <a
        class="tab3"
        id="all-tab3"
        [class.active]="currentFilter.accessFilter === ACCESS.ALL"
        (click)="applyFilter('all', '', '')"
        >ALL</a
      ><strong>/</strong>
      <a
        class="tab3"
        id="locked-tab3"
        [class.active]="currentFilter.accessFilter === ACCESS.LOCKED"
        (click)="applyFilter('locked', '', '')"
        >LOCKED</a
      ><strong>/</strong>
      <a
        class="tab3"
        id="unlocked-tab3"
        [class.active]="currentFilter.accessFilter === ACCESS.UNLOCKED"
        (click)="applyFilter('unlocked', '', '')"
        >UNLOCKED</a
      >
    </div>
    <div class="line-and-topic3">
      <hr class="horizontal-line3" />
      <span class="topic-text3">ACCESS</span>
    </div>
  </div>

  <div class="content">
    <div class="all-notes" *ngIf="currentFilter.accessFilter === ACCESS.ALL">
      <div class="note-container" *ngFor="let note of filteredNotes">
        <div class="note-row">
          <div class="left-content">
            <div class="title" (click)="toggleNoteDetails(note)">
              <p class="note">{{ note.name }}</p>
              <p class="sub-text">{{ note.title }}</p>
            </div>
          </div>
          <div class="right-content">
            <button
              class="add-to-cart"
              *ngIf="
                note?.tagStatus && note.tagStatus === TAGS.PRICE || note.tagStatus === TAGS.CART
              "
              (click)="updateCart(note, !note.addedToCart)"
            >
              {{ note?.addedToCart ? "Added To Cart" : note.cost + ' INR' }}
            </button>
            <button
              class="add-to-cart"
              *ngIf="note?.tagStatus === TAGS.PURCHASED"
              (click)="openPdfInNewTab()"
            >
              Read
            </button>
          </div>
         
        </div>
        <div class="note-details" *ngIf="selectedNoteId === note._id">
          <div class="left-content">
            <p>
              This is a placeholder Note. And the text you’re reading is a
              placeholder preview for the Note.
            </p>
          </div>
          <div class="right-content">
            <img src="{{ coverSrc }}" alt="Note Cover" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="locked-notes"
      *ngIf="currentFilter.accessFilter === ACCESS.LOCKED"
    >
      <div *ngIf="filteredNotes.length === 0" class="no-content-message">
        No content found
      </div>
      <div *ngIf="filteredNotes.length > 0">
        <div class="note-container" *ngFor="let note of filteredNotes">
          <div class="note-row">
            <div class="left-content">
              <div class="title" (click)="toggleNoteDetails(note)">
                <p class="note">{{ note.name }}</p>
                <p class="sub-text">{{ note.title }}</p>
              </div>
            </div>
            <div class="right-content">
              <button
                class="add-to-cart"
                (click)="updateCart(note, !note.addedToCart)"
              >
                {{ note?.addedToCart ? "Added To Cart" : note.cost + ' INR'}}
              </button>
            </div>
          </div>
          <div class="note-details" *ngIf="selectedNoteId === note._id">
            <div class="left-content">
              <p>
                This is a placeholder Note. And the text you’re reading is a
                placeholder preview for the Note.
              </p>
            </div>
            <div class="right-content">
              <img src="{{ coverSrc }}" alt="Note Cover Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="unlocked-notes"
      *ngIf="currentFilter.accessFilter === ACCESS.UNLOCKED"
    >
      <div *ngIf="filteredNotes.length === 0" class="no-content-message">
        No content found
      </div>
      <div *ngIf="filteredNotes.length > 0">
        <div class="note-container" *ngFor="let note of filteredNotes">
          <div class="note-row">
            <div class="left-content">
              <div class="title" (click)="toggleNoteDetails(note)">
                <p class="note">{{ note.name }}</p>
                <p class="sub-text">{{ note.title }}</p>
              </div>
            </div>
            <div class="right-content">
              <!-- <button class="add-to-cart" (click)="updateCart(note, !note.addedToCart)">
              {{note?.addedToCart ? 'Added To Cart' : note.cost}}
            </button> -->
              <button
                class="add-to-cart"
                *ngIf="note?.tagStatus === TAGS.PURCHASED"
                (click)="openPdfInNewTab()"
              >
                Read
              </button>
            </div>
          </div>
          <div class="note-details" *ngIf="selectedNoteId === note._id">
            <div class="left-content">
              <p>
                This is a placeholder Note. And the text you’re reading is a
                placeholder preview for the Note.
              </p>
            </div>
            <div class="right-content">
              <img src="{{ coverSrc }}" alt="Note Cover Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
