<section>
  <div class="tabs-container">
    <div class="tabs-left">
      <a class="tab" id="all-tab" [class.active]="lockStatus === 4" (click)="showContent('All-place')">ALL</a><strong>/</strong>
      <a class="tab" id="placeholder-tab" [class.active]="lockStatus === 5" (click)="showContent('PLACEHOLDER')">PLACEHOLDER</a>
    </div>
    <div class="line-and-topic">
      <hr class="horizontal-line" />
      <span class="topic-text">TOPIC</span>
    </div>
  </div>
  <div class="tabs-container2">
    <div class="tabs-left2">
      <a class="tab2" id="all-tab2" [class.active]="lockStatus === 6" (click)="showContent('All-eng')">ALL</a><strong>/</strong>
      <a class="tab2" id="english-tab2" [class.active]="lockStatus === 7" (click)="showContent('ENGLISH')">ENGLISH</a>
    </div>
    <div class="line-and-topic2">
      <hr class="horizontal-line2" />
      <span class="topic-text2">LANGUAGE</span>
    </div>
  </div>

  <div class="tabs-container3">
    <div class="tabs-left3">
      <a class="tab3" id="all-tab3" [class.active]="lockStatus === 0" (click)="showContent('all')">ALL</a><strong>/</strong>
      <a class="tab3" id="locked-tab3" [class.active]="lockStatus === 1" (click)="showContent('locked')">LOCKED</a><strong>/</strong>
      <a class="tab3" id="unlocked-tab3" [class.active]="lockStatus === 2" (click)="showContent('unlocked')">UNLOCKED</a>
    </div>
    <div class="line-and-topic3">
      <hr class="horizontal-line3" />
      <span class="topic-text3">ACCESS</span>
    </div>
  </div>

  <div class="content">
    <div class="all-notes" *ngIf="lockStatus === 0">
      <div class="note-container" *ngFor="let note of filteredNotes">
        <div class="note-row">
          <div class="left-content">
            <div class="title" (click)="toggleNoteDetails(note._id)">
              <p class="note" >{{note.name}}</p>
              <p class="sub-text" >{{note.title}}</p>
            </div>
          </div>
          <div class="right-content">
            <button class="add-to-cart" (click)="updateCart(note, !note.addedToCart)">
              {{note?.addedToCart ? 'Added To Cart' : note.cost}}
            </button>
          </div>
        </div>
        <div class="note-details" *ngIf="selectedNoteId === note._id">
          <div class="left-content">
            <p>This is a placeholder Note. And the text you’re reading is a placeholder preview for the Note.</p>
          </div>
          <div class="right-content">
            <img src="https://wabisabi-notes-directory.s3.ap-south-1.amazonaws.com/cover/test.jpg" alt="Note Cover Image" />
          </div>
        </div>
      </div>
    </div>
    <div class="locked-notes" *ngIf="lockStatus === 1">
      <div class="note-container" *ngFor="let note of filteredNotes">
        <div class="note-row">
          <div class="left-content">
            <div class="title" (click)="toggleNoteDetails(note._id)">
              <p class="note" >{{note.name}}</p>
              <p class="sub-text" >{{note.title}}</p>
            </div>
           
          </div>
          <div class="right-content">
            <button class="add-to-cart" (click)="updateCart(note, !note.addedToCart)">
              {{note?.addedToCart ? 'Added To Cart' : note.cost}}
            </button>
          </div>
        </div>
        <div class="note-details" *ngIf="selectedNoteId === note._id">
          <div class="left-content">
            <p>This is a placeholder Note. And the text you’re reading is a placeholder preview for the Note.</p>
          </div>
          <div class="right-content">
            <img src="https://wabisabi-notes-directory.s3.ap-south-1.amazonaws.com/cover/test.jpg" alt="Note Cover Image" />
          </div>
        </div>
      </div>
    </div>
    <div class="unlocked-notes" *ngIf="lockStatus === 2">
    
      <button (click)="openPdfInNewTab()">Read</button>
     
    </div>
  </div>
</section>
