.cart {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 3%;
}
.container {
  display: flex;
  align-items: center;
  padding-top: 5%;
}
.line-and-topic {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5rem;
  padding-right: 6.5rem;
}
.topic-text {
  font-size: 5rem;
  font-style: normal;
  /* font-family: sans-serif; */
  font-weight: 200;
}

.horizontal-line {
  flex-grow: 1;
  background-color: #333;
  border: none;
  height: 0.2rem;
  margin-right: 10px;
}

.cart-container {
  padding: 20px;
  background-color: #f9f9f9;
  padding-left: 10%;
  border-radius: 5px;
  padding-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-table {
 
  flex: 1;
}

.cart-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 10px 0;
  font-weight: 400;

}

.cart-header .product,
.cart-header .price,
.cart-header .quantity,
.cart-header .total {
  text-align: left;
}

.cart-body {
  padding: 10px 0;
}

.cart-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 0;
  
}

.cart-item .product,
.cart-item .price,
.cart-item .quantity,
.cart-item .total {
  text-align: left;
}

.cart-item .remove-button {
  background: none;
 
  cursor: pointer;
  font-size: 10px;
  margin-left: 8px;
}

.cart-item .remove-button:hover {
  color: #696766; 

}

.button-side {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  justify-content: flex-start;
  padding-top: 1%;
}

.net-total {
  font-weight: 400;
  margin-bottom: 5%;
  align-self: flex-start;
  justify-content: space-between;
  text-wrap: nowrap;
}
.net-label{
  padding-right: 100%;
  padding-left: 5%;

}

.login-button {
  text-align: right;
  padding-top: 5%;
}

.checkout-button {
  /* margin-right: 10rem; */
  padding-right: 10%;
  padding: 1rem 3rem;
  border: none;
  background-color: #0c0c0c;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: bold;
  border: 0.2rem solid #e4eaf3;
  opacity: 70%;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #404040; /* Darker blue on hover */
}
.horizontal-line-product{
  height: 1px;
  margin-right: 13%;
}

@media only screen and (max-width: 1160px) {
  .cart-container {
    flex-direction: column;
    align-items: center;
  }

  .button-side {
    margin-top: 1rem; 
    align-self: flex-end; 
  }
}
@media only screen and (max-width: 768px) {
  .cart-table {
    width: 100%; 
    align-items: center;
   
  }

  .button-side {
   align-items: center;
    margin-top: 1rem;
    padding: 1%;
    width: auto;
    align-self: flex-end;
  }
  
  .login-button{
    text-align: center;
  }
}
@media only screen and (max-width: 714px) {
  .button-side {
    width: 100%; 
    
    align-items: flex-start;
  }
  
  .net-label{
    /* margin-right: 50%; */
    padding-left: 5%;
  
  }
  @media only screen and (max-width: 400px) {
    .cart{
      margin-top: 7%;
    }
    .topic-text {
      font-size: 2rem;
    }
  
    .line-and-topic {
      padding-left: 5%;
      padding-right: 5%;
      display: block;
    }
  
    .horizontal-line {
      height: 2px;
    }
  .button-side {
    /* width: 100%;  */
 
    align-items: flex-start;
  }
  .checkout-button{
    height: 5%;
    text-wrap: nowrap;
  }
  
  .cart-header .product,
.cart-header .price,
.cart-header .quantity,
.cart-header .total {
  text-align: left;
font-size: 0.6rem;
}
.cart-item .product,
.cart-item .price,
.cart-item .quantity,
.cart-item .total {
  text-align: left;
  font-size: 0.9rem;
}
}
}