<section class="cart" *ngIf="!embeddedPayment">
  <div class="container">
    <div class="line-and-topic">
      <h1 class="topic-text">CART</h1>
      <hr class="horizontal-line" />
    </div>
  </div>
  <div class="cart-container">
    <div class="cart-row">
      <div class="cart-header">
        <span class="product">PRODUCT</span>
        <span class="price">PRICE</span>
        <span class="quantity">QUANTITY</span>
        <span class="total">TOTAL</span>
      </div>
      <div class="net-total">
        <span>NET TOTAL</span>
        <span>0.00</span>
      </div>
    </div>
    <hr class="horizontal-line-product" />
    <div class="cart-body-row">
      <div class="cart-body" *ngIf="cartItem.length == 0">
        <p>No items in cart.</p>
      </div>
      <div class="cart-body">
       <div class="cart-tem" *ngFor="let item of cartItem">
        <span class="product">{{item.name}}</span>
        <span class="price">{{item.cost}}</span>
        <span class="quantity">1</span>
        <span class="total">{{item.cost}}</span>
       </div>
      </div>
      <div class="login-button">
        <button class="checkout-button" (click)="doCheckout()">Log in to checkout</button>
      </div>
    </div>
    <hr class="horizontal-line-product" />
  </div>
</section>

<div id="checkout">

</div>
