<section>
  <div class="image-container">
    <img src="/assets/images/2022_04.jpg" alt="Your Image" />
    <div class="overlay-text">
      <span class="topic-text">BAGRU KA TOUR</span>
      <hr class="horizontal-line" />
      <span class="topic1-text">EXCURSION</span>
    </div>
  </div>
</section>
<section class="register_sec">
  <div class="text-container">
    <div class="left-text">
      <p>
        Bagru ka Tour is an experience of walking through a series of visceral
        nature of livelihoods connected to the crafts of hand-making in
        textiles.
      </p>
    </div>
    <div class="right-text">
      <button class="register-button">Register</button>
    </div>
  </div>
</section>

<section class="content_area">
  <div class="all-text">
    <div class="text-column">
      <h2 class="h2txt">How is life like in Bagru?</h2>
      <div class="ptxt">
        <p>
          Let’s walk into the living world of a craft practicing village -
          Bagru, with conversations connecting people, environment and local
          crafts through stories and cultures.
        </p>
      </div>
      <div class="bagru-cost">
        <div class="cost">
          <h1>2500 INR</h1>
          <p>INDIVIDUAL COST</p>
        </div>
        <div class="duration">
          <h1>2 hours</h1>
          <p>DURATION</p>
        </div>
        <div class="location">
          <h1>Bagru</h1>
          <p>LOCATIONS</p>
        </div>
      </div>
    </div>
    <img src="assets/images/bagruimg2.jpg" alt="" />
  </div>
</section>

<section class="content-sec">
  <div class="first_div">
    <div class="itm-1">
      <p>
        As an outside viewer, we were engulfed with the sensation of awe and
        humility when confronted by—the diversity in skills of artisans, the
        vast vocabularies of patterns and motifs, and the sheer large scale of
        production capacities. All of it at one place—Bagru.
      </p>
      <p>We loved that feeling.</p>
      <p>
        We took the conscious decision to contextually interpret this complex
        network of craftspeople rooted in their surroundings and traditions yet
        dynamically influenced by new global stimulus—climate, economic,
        scientific, social, political.
      </p>
    </div>
    <div class="itm-2">
      <img src="assets/images/bagrusmallimg1.jpg" alt="" />
      <img src="assets/images/bagrusmallimg2.jpg" alt="" />
    </div>
  </div>
  <div class="second_div">
    <div class="itm-3">
      <img src="assets/images/bagrusmallimg3.jpg" alt="" />
    </div>
    <div class="itm-4">
      <p>
        You perceive that you do not know anything about the neighbourhood but,
        at the same time, you understand the emotion they are evoking. Your
        senses are enliven and you fill the gaps of the story in your head. You
        are a part of the story that you are experiencing.
      </p>
      <p>All is one.</p>
      <p>
        We want you to face this story the same way we did years ago, as if
        he/she is immersing in a series of live performances in a living museum.
      </p>
      <strong>Wabisabi Project</strong>
      <div class="sign">
        <img src="assets/images/bagru-sig.png" alt="" />
      </div>
    </div>
  </div>
 
</section>
<section>
  <div class="third_div">
    <div class="smlimg">
      <img src="assets/images/bagrusmallimg4.jpg" alt="" />
    </div>
    <div class="lrgimg">
      <img src="assets/images/bagruimg3.jpg" alt="" />
    </div>
  </div>
</section>
<section class="last-sec">
  <section class="images-sec">
    <div class="line">
      <span class="topic-text1">Photos from us</span>
      <hr class="horizontal1-line" />
    </div>
    <div class="gallery">
      <div class="gallery-item">
        <img src="assets/images/bagru1.jpg" alt="Image 1" />
      </div>

      <div class="gallery-item">
        <img src="assets/images/bagru2.png" alt="Image 2" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/bagru3.png" alt="Image 3" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/bagru4.jpg" alt="Image 4" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/bagru5.jpg" alt="Image 5" />
      </div>

      <div class="gallery-item">
        <img src="assets/images/bagru6.png" alt="Image 6" />
      </div>

      <div class="gallery-item">
        <img src="assets/images/bagru7.png" alt="Image 6" />
      </div>
      <div class="gallery-item">
        <img src="assets/images/bagru8.png" alt="Image 6" />
      </div>
    </div>
    <button class="img-btn">See More Photos &rarr;</button>
  </section>
  <!-- <div>
    <h1 class="small-label">QUOTES FROM YOU</h1>
  </div> -->
  <section>
    <div class="line">
      <span class="topic-text1">QUOTES FROM YOU</span>
      <hr class="horizontal1-line" />
    </div>
    <div class="testimonial-section">
      <div class="testimonial">
        <p class="quote">
          “ The walk through Bagru was incredibly eye-opening. ”
        </p>
        <div class="user-info">
          <img src="assets/images/bagruprofile1.jpg" alt="Aimee Vandersteen" />
          <p class="user-name">Aimee Vandersteen</p>
        </div>
      </div>
      <div class="testimonial">
        <p class="quote">
          “ Thank you so much for incorporating social economic and
          transcultural considerations into the discussion of the history and
          current status of this craft. Opened my eyes tremendously. ”
        </p>
        <div class="user-info">
          <img src="assets/images/bagruprofile2.jpg" alt="Caroline Houston" />
          <p class="user-name">Caroline Houston</p>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="breathe">
  <div class="breathe-container">
    <h1>BREATHE EASY</h1>
    <div class="headline-text">
      <p>
        The countryside location of our studio has been designed with natural
        ventilation in mind, with large windows and doors that allow the breeze
        to flow through.
      </p>
    </div>

    <div class="row-text">
      <div class="text1-column">
        <p>
          The design prioritizes open spaces for people can move around and
          socialize freely without feeling confined. The pockets of privacy and
          community provide a sense of security and belonging. The
        </p>
      </div>
      <div class="text2-column">
        <p>
          studio embraces industrial style and leaves essential elements and
          services exposed, albeit neatly arranged, providing easy access for
          maintenance.
        </p>
      </div>
      <div class="text3-column">
        <p>The studio is designed to be healthy, comfortable, and welcoming.</p>
      </div>
    </div>
  </div>
</section>
