<section>
    <div class="container">
        <img src="assets/images/chaupad1.jpg" alt="">
        <nav>
            <span class="tab active" onclick="openTab('chaupad')">CHAUPAD</span>
            <span class="tab" onclick="openTab('barfi')">BARFI</span>
            <span class="tab" onclick="openTab('char_chaukor')">CHAR CHAUKOR</span>
        </nav>
        <div id="chaupad" class="tab-content">
            <div class="main-content">
                <img src="assets/images/chaupad2.jpg" alt="">
                <div class="htxt">
                    <h2>Jajam Spread — Chaupad</h2>
                    <p>Traditional jajam with makdi jaal and Chaupad board game.</p>
                    <section class="workplace_info">
                        <div class="workplace_detail">
                            <div>
                                <div class="topic">23</div>
                                <div class="label">Days to Make</div>
                            </div>
                            <div>
                                <div class="topic">15</div>
                                <div class="label">Processes Required</div>
                            </div>
                            <div>
                                <div class="topic">6</div>
                                <div class="label">Communities Involved</div>
                            </div>
                            <div>
                                <div class="topic">275×275cm</div>
                                <div class="label">Size</div>
                            </div>
                            <div>
                                <div class="topic">Cotton</div>
                                <div class="label">Material</div>
                            </div>
                            <div style="grid-column: 1/-1;">
                                <div class="features">
                                    Hand Block Printed, 
                                    Natural dye, 
                                    Natural bleach, 
                                    Printed lining, 
                                    Kantha stitch, 
                                    Syahi-Begar process
                                </div>
                                <div class="label">Features</div>
                            </div>
                        </div>
                    </section>
                    <hr class="line01" style="opacity: 10%;">
                    <section class="btn-sec">
                        <button class="btn">Log In for Quote</button>
                        <p class="caption">Free shipping in India. Amount includes all taxes.</p>
                    </section>
                </div>
            </div>
            <section class="photo-sec">
                <img loading="eager" src="assets/images/chaupad3.jpg" alt="">
                <img loading="eager" src="assets/images/chaupad4.jpg" alt="">
                <img loading="eager" src="assets/images/chaupad5.jpg" alt="">
                <img loading="eager" src="assets/images/chaupad6.jpg" alt="">
            </section>
            <section class="gift">
                <h1 class="smlh1">ADD ONS</h1>
                <hr class="line02">
                <div class="gift-box">
                    <img src="assets/images/chaupad7.jpg" alt="">
                    <div class="gift-txt">
                        <h3>Gift Box</h3>
                        <p>Gift this jajam in this box made with handmade paper and printed in Jajam motifs.</p>
                    </div>
                </div>
                <div class="playset">
                    <img src="assets/images/chaupad8.jpg" alt="">
                    <div class="playset-txt">
                        <h3>Chaupad Playset</h3>
                        <p>Complete your Jajam experience with this Chaupad play set. Enjoy throwing cowrie shells and racing pawns (made of betel nut) around the four-arm path with your loved ones.</p>
                    </div>
                </div>
            </section>
        </div>
        <div id="barfi" class="tab-content" style="display:none;">
            <div class="main-content">
                <img src="assets/images/Barfi1.jpg" alt="">
                <div class="htxt">
                    <h2>Jajam Spread — Barfi</h2>
                    <p>Traditional Jajam with central barfi design.</p>
                    <section class="workplace_info">
                        <div class="workplace_detail">
                            <div>
                                <div class="topic">23</div>
                                <div class="label">Days to Make</div>
                            </div>
                            <div>
                                <div class="topic">15</div>
                                <div class="label">Processes Required</div>
                            </div>
                            <div>
                                <div class="topic">6</div>
                                <div class="label">Communities Involved</div>
                            </div>
                            <div>
                                <div class="topic">275×275cm</div>
                                <div class="label">Size</div>
                            </div>
                            <div>
                                <div class="topic">Cotton</div>
                                <div class="label">Material</div>
                            </div>
                            <div style="grid-column: 1/-1;">
                                <div class="features">
                                    Hand Block Printed, 
                                    Natural dye, 
                                    Natural bleach, 
                                    Printed lining, 
                                    Kantha stitch, 
                                    Syahi-Begar process
                                </div>
                                <div class="label">Features</div>
                            </div>
                        </div>
                    </section>
                    <hr class="line01" style="opacity: 10%;">
                    <section class="btn-sec">
                        <button class="btn">Log In for Quote</button>
                        <p class="caption">Free shipping in India. Amount includes all taxes.</p>
                    </section>
                </div>
            </div>
            <section class="photo-sec">
                <img loading="eager" src="assets/images/barfi2.jpg" alt="">
                <img loading="eager" src="assets/images/barfi3.jpg" alt="">
                <img loading="eager" src="assets/images/barfi4.jpg" alt="">
                <img loading="eager" src="assets/images/barfi5.jpg" alt="">
            </section>
            <section class="gift">
                <h1 class="smlh1">ADD ONS</h1>
                <hr class="line02">
                <div class="gift-box">
                    <img src="assets/images/gft.jpg" alt="">
                    <div class="gift-txt">
                        <h3>Gift Box</h3>
                        <p>Gift this jajam in this box made with handmade paper and printed in Jajam motifs.</p>
                    </div>
                </div>
            </section>
        </div>
        <div id="char_chaukor" class="tab-content" style="display:none;">
            <div class="main-content">
                <img src="assets/images/char1.jpg" alt="">
                <div class="htxt">
                    <h2>Jajam Spread — CHAR CHAUKOR</h2>
                    <p>Traditional Jajam with Barfi design and Chaupad board game.</p>
                    <section class="workplace_info">
                        <div class="workplace_detail">
                            <div>
                                <div class="topic">23</div>
                                <div class="label">Days to Make</div>
                            </div>
                            <div>
                                <div class="topic">15</div>
                                <div class="label">Processes Required</div>
                            </div>
                            <div>
                                <div class="topic">6</div>
                                <div class="label">Communities Involved</div>
                            </div>
                            <div>
                                <div class="topic">275×275cm</div>
                                <div class="label">Size</div>
                            </div>
                            <div>
                                <div class="topic">Cotton</div>
                                <div class="label">Material</div>
                            </div>
                            <div style="grid-column: 1/-1;">
                                <div class="features">
                                    Hand Block Printed, 
                                    Natural dye, 
                                    Natural bleach, 
                                    Printed lining, 
                                    Kantha stitch, 
                                    Syahi-Begar process
                                </div>
                                <div class="label">Features</div>
                            </div>
                        </div>
                    </section>
                    <hr class="line01" style="opacity: 10%;">
                    <section class="btn-sec">
                        <button class="btn">Log In for Quote</button>
                        <p class="caption">Free shipping in India. Amount includes all taxes.</p>
                    </section>
                </div>
            </div>
            <section class="photo-sec">
                <img loading="eager" src="assets/images/char2.jpg" alt="">
                <img loading="eager" src="assets/images/char3.jpg" alt="">
                <img loading="eager" src="assets/images/char4.jpg" alt="">
                <img loading="eager" src="assets/images/char5.jpg" alt="">
            </section>
            <section class="gift">
                <h1 class="smlh1">ADD ONS</h1>
                <hr class="line02">
                <div class="gift-box">
                    <img src="assets/images/gft.jpg" alt="">
                    <div class="gift-txt">
                        <h3>Gift Box</h3>
                        <p>Gift this jajam in this box made with handmade paper and printed in Jajam motifs.</p>
                    </div>
                </div>
                <div class="playset">
                    <img src="assets/images/chaupad8.jpg" alt="">
                    <div class="playset-txt">
                        <h3>Chaupad Playset</h3>
                        <p>Complete your Jajam experience with this Chaupad play set. Enjoy throwing cowrie shells and racing pawns (made of betel nut) around the four-arm path with your loved ones.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>