<section>
    <section>
        <div class="image-container">
            <img src="assets/images/chaupad1.jpg" alt="">
            <div class="overlay-text">
                <span class="img-text">
                    JAJAM SPREAD</span>
                <hr class="img-line" />
                <span class="img1-text">COLLECTION

                </span>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="tabs-container">
            <div class="tabs-left">
              <div class="tab1">
                <a class="tab" id="all-tab" [class.active]="currentContent === 'CHAUPAD'"
                (click)="switchContent('CHAUPAD')" routerLink="/collections/jajam-chaupad">CHAUPAD</a><strong>/</strong>
              </div>
              <div class="tab1">
                <a class="tab" id="placeholder-tab" [class.active]="currentContent === 'BARFI'"
                (click)="switchContent('BARFI')" routerLink="/collections/jajam-barfi">BARFI</a><strong>/</strong>
              </div>
              <div class="tab1">
                <a class="tab" id="placeholder-tab" [class.active]="currentContent === 'CHAR'"
                (click)="switchContent('CHAR')" routerLink="/collections/jajam-char-chaukor">CHAR CHAUKOR</a>
              </div>
            </div>
            <div class="line-and-topic">
                <hr class="horizontal1-line" />
                <span class="topic1-text">DESIGN</span>
            </div>
        </div>
        <div class="container">
           
          <div class="img-container">
            <img src="https://wabisabiproject.com/media/galleries/collections/jajam/Bedspread-with-board-game-hand-print-design.jpg" alt="bichhauni" />
          </div>
          <div class="text-container">
            <div class="headline">
              <h1>JAJAM SPREAD — CHAUPAD</h1>
              <p>
                Traditional jajam with makdi jaal and Chaupad board game.
              </p>
            </div>
            <div class="size-container">
                <div class="size">
                    <h5>23</h5>
                    <p>DAYS TO MAKE</p>
                  </div>
                  <div class="material">
                    <h5>15</h5>
                    <p>PROCESSES REQUIRED</p>
                  </div>
                  <div class="material">
                    <h5>6</h5>
                    <p>COMMUNITIES INVOLVED</p>
                  </div>
              <div class="size">
                <h5>275×275cm</h5>
                <p>SIZE</p>
              </div>
              <div class="material">
                <h5>Cotton</h5>
                <p>MATERIAL</p>
              </div>
            </div>
            <div class="feature">
              <h5>Hand Block Printed, Natural dye, Natural bleach, Printed lining, Kantha stitch, Syahi-Begar process</h5>
              <p>FEATURES</p>
            </div>
            <hr />
            <div class="price">
              <h5>25100 INR</h5>
              <p>PRICE</p>
            </div>
            <div class="button">
              <button class="btn" routerLink="/contactus">Buy</button>
              <p>Free shipping in India. Amount includes all taxes.</p>
            </div>
          </div>
        </div>
        <div class="image-box">
          <div class="image1">
            <img src="https://wabisabiproject.com/media/galleries/collections/jajam/Jajam-Spread-with-Chaupad.jpg" alt="" />
          </div>
          <div class="image1"><img src="https://wabisabiproject.com/media/galleries/collections/jajam/Border-design-Jajam-Spread.jpg" alt="" /></div>
          <div class="image1"><img src="https://wabisabiproject.com/media/galleries/collections/jajam/Bedspread-with-printed-lining.jpg" alt="" /></div>
          <div class="image1"><img src="https://wabisabiproject.com/media/galleries/collections/jajam/Hand-stitch-bedspread-with-printed-lining.jpg" alt="" /></div>
        </div>
        <div class="line">
          <span class="topic-text">ADD-ONS</span>
            <hr class="horizontal-line" />
        </div>
        
        <div class="gift-box-container">
          <div class="img-box">
            <img
              src="https://wabisabiproject.com/media/galleries/collections/bedsheet-procession/gift-box-bedsheet-800x800.jpg"
              alt="img"
            />
          </div>
          <div class="text-box">
            <div class="box-headline">
              <h1>GIFT BOX</h1>
              <p>
                Gift this jajam in this box made with handmade paper and printed in Jajam motifs.
              </p>
            </div>
            <div class="box-price">
              <h2>250 INR</h2>
              <p>PRICE</p>
            </div>
          </div>
        </div>

        <div class="gift-box-container">
            <div class="img-box">
                <img
                  src="https://wabisabiproject.com/media/galleries/collections/jajam/chaupad-game-set-wabisabi-project.jpg"
                  alt="img"
                />
              </div>
            <div class="text-box">
                <div class="box-headline">
                  <h1>CHAUPAD PLAYSET</h1>
                  <p>
                    Complete your Jajam experience with this Chaupad play set. Enjoy throwing cowrie shells and racing pawns (made of betel nut) around the four-arm path with your loved ones.
                  </p>
                </div>
                <div class="box-price">
                  <h2>1600 INR</h2>
                  <p>PRICE</p>
                </div>
              </div>
        </div>
      </section>
      
    
</section>