<section>
    <section>
        <div class="image-container">
            <img src="assets/images/indigo1.jpg" alt="" />
            <div class="overlay-text">
                <span class="img-text">NATURAL INDIGO</span>
                <hr class="img-line" />
                <span class="img1-text">PROGRAM</span>
            </div>
        </div>
    </section>
    <section>
        <div class="text-container">
            <div class="text">
                <p>
                    Crafts can help learning about life. Learnings that are derived from
                    numerous momentary discoveries, collected and experimented with
                    interdisciplinary understandings, styles, inclinations. Dyeing with
                    the multiplicity of natural resources make us more adept at operating
                    in unpredictable range of life scenarios that we face today.
                </p>
            </div>
            <div class="headline">
                <h3>Recommended by</h3>
            </div>
            <div class="recommended-links">
                <div class="first-half">
                    <div class="anokhi">
                        <a href=""><img src="/assets/images/anokhi.svg" alt=""></a>
                      </div>
                      <div class="new-york">
                        <a href=""><img src="/assets/images/t-magazine.svg" alt=""></a>
                      </div>
                      <div class="planet">
                        <a href=""><img src="/assets/images/lonely-planet.png" alt=""></a>
                      </div>
                      <div class="travel">
                        <a href=""><img src="/assets/images/natgeo--travel.png" alt=""></a>
                      </div>
                </div>

                <div class="download-button">
                    <button class="btn">Download Brochure</button>
                </div>
            </div>
        </div>
    </section>

    <section class="sec2">
        <div class="tabs-container">
            <div class="tabs-left">
                <a class="tab" id="all-tab" [class.active]="currentContent === 'DELHI'"
                    (click)="switchContent('DELHI')">DELHI</a>
                <a class="tab" id="placeholder-tab" [class.active]="currentContent === 'ONLINE'"
                    (click)="switchContent('ONLINE')">ONLINE</a>
            </div>
            <div class="line-and-topic">
                <hr class="horizontal-line" />
                <span class="topic-text">LOCATION</span>
            </div>
        </div>

        <div *ngIf="currentContent === 'DELHI'" class="delhi-container" id="DELHI">
            <div class="program-section">
                <div class="program-header" (click)="toggleContent()">
                    <span>ONE-DAY NATURAL INDIGO</span>
                    <hr class="horizontal-line" />
                    <span id="block-carving-icon" class="toggle-icon">{{
                        isHalfDayVisible ? "-" : "+"
                        }}</span>
                </div>
                <div id="block-carving-content" class="program-content" *ngIf="isHalfDayVisible">
                    <div class="text-row">
                        <div class="text-part">
                            <p class="para1">
                                Until the invention of synthetic dyes, all dyes came from the natural world. India’s
                                natural indigo, derived from indigo-bearing plant, was exported since antiquity. The
                                workshop brings together centuries old continued dyeing techniques and convenience of
                                modern innovation.
                            </p>
                            <p>Immerse yourself in the experience of the natural blue dye.</p>
                        </div>
                        <div class="register-button">
                            <button class="regbtn">Register!</button>
                        </div>
                    </div>
                    <div class="small">
                        <div class="details">
                            <div class="individual">
                                <div class="topic">_______</div>
                                <div class="label">Individual Cost</div>
                            </div>
                            <div class="group-cost">
                                <div class="topic">5000 INR</div>
                                <div class="label">Group Cost Per Person (2+)</div>
                            </div>
                            <div class="per-request">
                                <div class="topic">Per request</div>
                                <div class="label">Date</div>
                            </div>
                            <div class="hours">
                                <div class="topic">6 hours per day</div>
                                <div class="label">time</div>
                            </div>
                            <div class="offer">
                                <div class="topic">Delhi, Online</div>
                                <div class="label">Offered At</div>
                            </div>

                            <div class="topic-level">
                                <div class="topic">Natural Indigo</div>
                                <div class="label">Programs Included</div>
                            </div>
                            <div class="optional-level">
                                <div class="topic">___</div>
                                <div class="label">OPTIONAL EXCURSIONS</div>
                            </div>
                        </div>
                        <div class="three">
                            <p class="para2">
                                Learn to make your own natural indigo vat. Wood block print with mud resist paste. Add
                                design patterns with tie-dye or shibori techniques. Dye with indigo blue.
                            </p>
                        </div>
                        <div class="image">
                            <img src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="currentContent === 'ONLINE'" class="online-container" id="ONLINE">
            <div class="program-section">
                <div class="program-header" (click)="toggleContent()">
                    <span>ONE-DAY NATURAL INDIGO</span>
                    <hr class="horizontal-line" />
                    <span id="block-carving-icon" class="toggle-icon">{{
                        isHalfDayVisible ? "-" : "+"
                        }}</span>
                </div>
                <div id="block-carving-content" class="program-content" *ngIf="isHalfDayVisible">
                    <div class="text-row">
                        <div class="text-part">
                            <p class="para1">
                                Until the invention of synthetic dyes, all dyes came from the natural world. India’s
                                natural indigo, derived from indigo-bearing plant, was exported since antiquity. The
                                workshop brings together centuries old continued dyeing techniques and convenience of
                                modern innovation.
                            </p>
                            <p>Immerse yourself in the experience of the natural blue dye.</p>
                        </div>
                        <div class="register-button">
                            <button class="regbtn">Register!</button>
                        </div>
                    </div>
                    <div class="small">
                        <div class="details">
                            <div class="individual">
                                <div class="topic">_______</div>
                                <div class="label">Individual Cost</div>
                            </div>
                            <div class="group-cost">
                                <div class="topic">5000 INR</div>
                                <div class="label">Group Cost Per Person (2+)</div>
                            </div>
                            <div class="per-request">
                                <div class="topic">Per request</div>
                                <div class="label">Date</div>
                            </div>
                            <div class="hours">
                                <div class="topic">6 hours per day</div>
                                <div class="label">time</div>
                            </div>
                            <div class="offer">
                                <div class="topic">Delhi, Online</div>
                                <div class="label">Offered At</div>
                            </div>

                            <div class="topic-level">
                                <div class="topic">Natural Indigo</div>
                                <div class="label">Programs Included</div>
                            </div>
                            <div class="optional-level">
                                <div class="topic">___</div>
                                <div class="label">OPTIONAL EXCURSIONS</div>
                            </div>
                        </div>
                        <div class="three">
                            <p class="para2">
                                Learn to make your own natural indigo vat. Wood block print with mud resist paste. Add
                                design patterns with tie-dye or shibori techniques. Dye with indigo blue.
                            </p>
                        </div>
                        <div class="image">
                            <img src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="natural_dye.js"></script>
    </section>
    <section class="sec3">
        <div class="line">
            <span class="topic-text1">Photos from us</span>
            <hr class="horizontal1-line" />
        </div>
        <section class="photo-sec">
            <img loading="eager" src="assets/images/indigo2.jpg" alt="" />
            <img loading="eager" src="assets/images/indigo3.jpg" alt="" />
            <img loading="eager" src="assets/images/indigo4.jpg" alt="" />
            <img loading="eager" src="assets/images/indigo5.jpg" alt="" />
            <img loading="eager" src="assets/images/indigo06.png" alt="" />
            <img loading="eager" src="assets/images/indigo7.jpg" alt="" />
            <img loading="eager" src="assets/images/indigo8.jpg" alt="" />
            <img loading="eager" src="assets/images/indigo9.jpg" alt="" />
        </section>
        <button class="img-btn">See More Photos &rarr;</button>
    </section>
   
    <section class="quotes-sec">
        <div class="line">
            <span class="topic-text1">QUOTES FROM YOU</span>
            <hr class="horizontal1-line" />
          </div>
        <div class="testimonial-section">
            <div class="testimonial">
                <p class="quote">
                    “ I enjoyed how you explained everything, (specially) the time you
                    gave us to do everything. ”
                </p>
                <div class="user-info">
                    <img src="assets/images/SONIA.jpg" alt="Aimee Vandersteen" />
                    <p class="user-name">SONIA PICO</p>
                </div>
            </div>
            <div class="testimonial-section">
                <div class="testimonial">
                    <p class="quote">
                        “ I found the enviroment very nice and I enjoyed a lot. I’ll be
                        back for sure. ”
                    </p>
                    <div class="user-info">
                        <img src="assets/images/ELENA.jpg" alt="Aimee Vandersteen" />
                        <p class="user-name">ELENA FERNANDEZ</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="sec4">
        <div class="line">
            <span class="topic-text1">RECOMMENDED EXCURSIONS</span>
            <hr class="horizontal1-line" />
          </div>
        <div class="rec-sec">
            <div class="textsec">
                <div class="h1txt">BAGRU KA TOUR</div>
                <p class="smallp">Bagru · 2hr</p>
                <p class="bigp">
                    Bagru ka Tour is an experience of walking through a series of
                    visceral nature of livelihoods connected to the crafts of
                    hand-making in textiles.
                </p>
                <button class="exc-btn">Visit Excursion</button>
            </div>
            <div class="picsec">
                <img src="assets/images/blockimg7.jpg" alt="" />
            </div>
        </div>
    </section>
    <section id="last-sec" class="tabcontent1">
        <div class="line">
            <span class="topic-text1">RECOMMENDED PROGRAMS </span>
            <hr class="horizontal1-line" />
          </div>
        <div class="container">
            <div class="item" onclick="window.location='#'">
                <img src="assets/images/block_prints.jpg" alt="Block Printing" />
                <p>BLOCK PRINTING</p>
                <p class="location">Jaipur, Online</p>
            </div>
            <div class="item" onclick="window.location='#'">
                <img src="assets/images/Natural_dyes.JPG" alt="Natural Dye" />
                <p>NATURAL DYE</p>
                <p class="location">Bagru, Delhi, Online</p>
            </div>
            <div class="item" onclick="window.location='#'">
                <img src="assets/images/resist-printing.jpg" alt="Natural Indigo" />
                <p>RESIST PAINTING</p>
                <p class="location">Bahru, Online</p>
            </div>
        </div>
    </section>

    <section class="breathe">
        <div class="breathe-container">
          <h1>BREATHE EASY</h1>
          <div class="headline-text">
            <p>
              The countryside location of our studio has been designed with natural
              ventilation in mind, with large windows and doors that allow the
              breeze to flow through.
            </p>
          </div>
    
          <div class="row-text">
            <div class="text1-column">
              <p>
                The design prioritizes open spaces for people can move around and
                socialize freely without feeling confined. The pockets of privacy
                and community provide a sense of security and belonging. The
              </p>
            </div>
            <div class="text2-column">
              <p>
                studio embraces industrial style and leaves essential elements and
                services exposed, albeit neatly arranged, providing easy access for
                maintenance.
              </p>
            </div>
            <div class="text3-column">
              <p>
                The studio is designed to be healthy, comfortable, and welcoming.
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <section class="jaipur">
        <div class="jaipur-section">
          <div class="jaipur-header" (click)="delhiContent()">
            <span>DELHI</span>
            <hr class="horizontal2-line" />
            <span id="workshop-icon" class="toggle-icon">{{
                isDelhi ? "-" : "+"
            }}</span>
          </div>
          <div id="workshop-content" class="jaipur-content" *ngIf="isDelhi">
            <div class="jaipur-text">
             <p>We have established a collaborative partnership with SSMI, a Delhi-based NGO dedicated to the promotion of Fine Arts & Crafts. Together, we work towards organizing workshops centered around natural dyeing and block printing. SSMI is deeply committed to enhancing the quality of life for marginalized women, youth, and children in Delhi and its surrounding areas. They are fervently dedicated to enabling and empowering these individuals to unlock their full potential. Notably, SSMI operates a women-led block printing division, which independently conducts workshops as well.</p>
            </div>
          </div>
        </div>
    
        <div class="jaipur-section">
          <div class="jaipur-header" (click)="onlineContent()">
            <span>ONLINE</span>
            <hr class="horizontal2-line" />
            <span id="workshop-icon" class="toggle-icon">{{
              isOnline ? "-" : "+"
            }}</span>
          </div>
          <div id="workshop-content" class="jaipur-content" *ngIf="isOnline">
            <div class="jaipur-text">
             <p>During the global COVID lockdowns when travel and in-person gatherings were restricted, we initiated virtual adaptations of our workshops. This innovative approach to crafting has captured our attention, and we are dedicated to enhancing its sophistication. Our primary objective remains consistent in both virtual and physical versions – to maintain a personalized and engaging experience.</p>
           <p>In the virtual workshops, upon enrollment, we dispatch a comprehensive dye-kit containing all the necessary ingredients and detailed instructions to your doorstep. To ensure you achieve the desired results and to foster a sense of inclusion, we complement this kit with daily online personal sessions led by experienced instructors. This approach allows you to fully participate and engage, even from a distance, preserving the essence of our craft workshops.</p>
            </div>
          </div>
        </div>
      </section>

</section>