<div class="footer">
        <!-- footer content -->
        <div class="footer-left">
            <p>Over the years, working with Nature has helped us realise 'less is more and usually more effective'. We intend to continue working hard to make simple systems more sophisticated.</p>
        </div>
        <div class="footer-mid">
            <div class="mid-text">
                <h4>PROJECTS</h4>
                <nav>
                  <ul>
                    <li><a href="/jajam">Jajam</a></li>
                  </ul>
                </nav>
              </div>
        </div>
        <div class="footer-right">
            <div class="right-text">
                <h4>PLATFORM</h4>
                <nav>
                  <ul>
                    <li><a href="/workshops">Workshops</a></li>
                    <li><a href="/collections">Collections</a></li>
                    <li><a href="/notes">Notes</a></li>
                  </ul>
                </nav>
              </div>
        </div>
        </div>
        <div class="footer2">
        <div class="footer2-left">
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="/contactus">Contact Us</a></li>
              </ul>
        </div>
        <div class="footer2-right">
            <ul>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/returns">Return Policy</a></li>
              </ul>
        </div>
      </div>
      