.footer {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3f3f3f;
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 2%;
}

.footer-left {
  width: 70%;
  padding-left: 11%;
  padding-right: 11%;
}
.footer-left p {
  font-family: Nunito, sans-serif;
  color: rgb(255, 255, 255);

  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
}
.footer-right {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;;
  gap: 70%;
  padding-right: 20%;
  padding-left: 10%;
}

.footer-right .left-text,
.footer-right .right-text {
  flex: 1; 
}

.footer-right h4 {
  margin-top: 0;
  font-size: 1rem;
  opacity: 60%;
}

.footer-right nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-right nav ul li {
  margin-bottom: 5px;
}

.footer-right nav ul li a {
  text-decoration: none;
  color: #fff; 
}

.footer-right nav ul li a:hover {
 opacity: 60%;
}


.footer2 {
  background-color: black;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.footer2 ul li {
  float: left;
  padding: 3%;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.02em;
  line-height: 2em;
  letter-spacing: 0.05em;
}
.footer2 a {
  color: white;
  text-decoration: none;
}
.footer2-left {
  width: 60%;
  margin-left: 11%;
}
.footer2-right {
  width: 40%;
}
.footer2 .footer2-left h1 {
  color: white;
}
.footer2 .footer2-right h1 {
  color: white;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    /* margin-right: 40%; */
    /* margin-left: 5%; */
    /* margin: 10px 0; */
    text-align: left;
  }
  .footer-left p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .footer-right {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;;
    gap: 45%;
    padding-right: 10%;
    padding-left: 10%;
  }
  
  .footer-right .left-text,
  .footer-right .right-text {
    flex: 1; 
  }
  
  .footer-right h4 {
    margin-top: 0;
    font-size: 1rem;
    opacity: 60%;
  }
  
  .footer-right nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-right nav ul li {
    margin-bottom: 5px;
  }
  
  .footer-right nav ul li a {
    text-decoration: none;
    color: #fff; 
  }
  
  .footer-right nav ul li a:hover {
   opacity: 60%;
  }
  
  .footer2 {
    display: flex;
    justify-content: space-between;
    
    padding: 2%;
  }
  .footer2-left,
  .footer2-right {
    display: flex;
    flex-direction: column;
  
  }

  .footer2-left ul,
  .footer2-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer2-right li {
    display: inline;
  
  }

  .footer2-left h1,
  .footer2-right h1 {
    font-size: 1.5rem;
  }
}
