<section class="img1">
    <img src="assets/images/textileimg1.jpg" alt="">
    
</section>
<section class="register_sec">
    <div class="text-container">
        <div class="left-text">
            <p>Cohesion of multitudes</p>
            <p>
                Tradtional textiles in India were a result of an integrated approach to life with 
                surroundings. Understand why they continue retaining sensitivity to multiple contexts. 
            </p>
        </div>
        <div class="right-text">
          <button class="register-button">Register</button>
        </div>
      </div>
</section>
<article id="articlesec">
    <section class="content_area">
        <div class="container">
            <div class="all-text">
                <h2 class="h2txt">
                    WHY WERE TEXTILES REGION SPECIFIC?
                </h2>
                <!-- <div class="ptxt">
                <p>
                    Let’s walk into the living world of a craft practicing village - Bagru, 
                    with conversations connecting people, environment and local crafts through 
                    stories and cultures.
                </p>
                </div> -->
                <img src="assets/images/textileimg2.jpg" alt="">
            </div>
        </div>
    </section>
</article>
<section class="content-sec">
    <div class="first_div">
        <div class="itm-1">
            <p>
                In the pre-industrial era, India’s prolific textile industry was virtually 
                clothing the world.
            </p>
            
            <p>
                The exceptional proficiency of Indian craftsmen was representative of a unique 
                heritage of creative talent that was specific to their world view. Rooted to their 
                surrounding raw materials and commune of patrons and audiences, their peculiar 
                characteristic of hereditary practices over ages evolved and later enabled them to 
                adapt to the changes in demand of new markets far away from home.
            </p>
        </div>
        <div class="itm-2">
            <img src="assets/images/textileimg3.jpg" alt="">
            <img src="assets/images/textileimg4.jpg" alt="">
        </div>
    </div>
    <div class="second_div">
        <div class="itm-1">
            <img src="assets/images/textileimg6.jpg" alt="">
        </div>
        <div class="itm-2">
            <p>
                Even today, while walking through the by-lanes of sleepy towns of Rajasthan, 
                every once in a while, we experience that touches the extra-ordinary. 
                Pieces of living history seems to be hidden in the selves of local textile shops 
                and in the house of craftspeople, who seek to make you feel welcome, to enter 
                into conversation.
            </p>
            <p>
                Imbibed with regional specific aesthetics, lots of beliefs and stories we have 
                collected select traditional textiles of block printing and natural dyeing techniques.
            </p>
            <p>
                Allow us to open them to you.
            </p>
            <strong>Wabisabi Project</strong>
            <img src="assets/images/bagru-sig.png" alt="">
        </div>
    </div>
    <div class="third_div">
        <div class="itm-1">
            <img class="smlimg" src="assets/images/textileimg7.jpg" alt="">
            <img class="lrgimg" src="assets/images/textileimg8.jpg" alt="">
        </div>
    </div>
</section>
<section class="last-sec">
    <section class="images-sec">
        <div>
            <h1 class="small-label">Photos from us</h1>
        </div>
        <div class="gallery">
            <div class="gallery-item">
                <img src="assets/images/textileimg9.jpg" alt="Image 1">
            </div>
            <div class="gallery-item">
                <img src="assets/images/textileimg10.jpg" alt="Image 2">
            </div>
        </div>
    </section>
    <div>
        <h1 class="small-label">QUOTES FROM YOU</h1>
    </div>
    <div class="testimonial-section">
        <div class="testimonial">
            <p class="quote">“ The look at the textiles from different communities that show different research techniques usage and processes solidified and deepened our understanding of what goes on to create such works and how things have changed over time ”</p>
            <div class="user-info">
                <img src="assets/images/textileprofile1.jpg" alt="Aimee Vandersteen">
                <p class="user-name">ERIN DOWDING</p>
            </div>
        </div>
    </div>
</section>