<app-tabs-nav-bar></app-tabs-nav-bar>
<section>
  <div class="ajmersec1">
    <h1>Regional Jajam from Ajmer</h1>
    <img src="assets/images/ajmerimg1.jpg" alt="" />
  </div>
  <div class="workplace_info">
    <div class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Kanniyalal Chhipa</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.1958</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">255x450cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Akoria</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Natural Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </div>

    <p>
      This Jajam is printed by Kanniyalal Chippa post his return from the
      printing stint at Bagru. He and his brother Amarchand were renowned Jajam
      printers in and around the Akoria region of Rajasthan. One cannot miss the
      combination of contemporary motifs popular in Sanganer and Bagru during
      the 1970s-80s. These motifs were popular on bed sheets, wrap-around
      skirts, and tablecloths. Kanniyalalji fused these contemporary motifs with
      traditional motifs like Phetia to cater to local demands.
    </p>
  </div>
</section>

<section>
  <div class="ajmersec1"><img src="assets/images/ajmerimg2.jpg" alt="" /></div>

  <div class="workplace_info">
    <section class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Gordhan Lal</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.1958</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">488×900cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Unknown</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Natural Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </section>
    <p>Jajam offered to community temple by the printer.</p>
  </div>
</section>
<section>
  <div class="ajmersec1">
    <img src="assets/images/ajmerimg3.jpg" alt="" />
  </div>

  <div class="workplace_info">
    <div class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Krishna Gopal Chhipa</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.1982</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">363×522cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Ramsar</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Natural Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </div>

    <p>
      This is a privately owned Jajam by a joint family. The family could afford
      one and preferred owning it over frequent borrowing. It was also lent for
      events of their extended family of Uncles, Cousins, and neighbors. A
      diamond shape was specially commissioned at the center of this gigantic
      Jajam. The owners fondly recollect the eventful days of its washing. They
      carried it on a bicycle to the pond. Four people held four corners jumping
      up and down to rinse it in water. The two-layered Reza is very thick with
      joints across its expanse.
    </p>
  </div>
</section>
<section>
  <div class="ajmersec1">
    <img src="assets/images/ajmerimg4.jpg" alt="" />
  </div>

  <div class="workplace_info">
    <div class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Nandkishor Nagar</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.2005</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">144×222cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Masuda</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Chemical Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </div>

    <p>
      Every art form goes through a boom and bust cycle, only to rediscover
      itself. This Jajam belongs to the struggling times when the craft faced
      challenges from labor, decline of local demand, and degradation of rivers.
      During this period, craftsman Nandkishore Nagar innovated with designs and
      sizes to enhance its visual appeal. For instance, this Jajam has
      overprints of blue over the green base color, unique to traditional
      regional designs. Additionally, Nagar sized down floor-spread Jajams to
      bed-sheet expanse. He displayed these attractive variants in craft
      exhibitions, playing a pivotal role in the survival of the art form during
      the decades of darkness.
    </p>
  </div>
</section>
<section>
  <div class="ajmersec1">
    <img src="assets/images/ajmerimg5.jpg" alt="" />
  </div>

  <div class="workplace_info">
    <div class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Ramdayal Chhipa</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.1990</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">87×158cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Jotayan</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Chemical Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </div>

    <p>
      Dowry is an Indian tradition of the bridal family gifting the bride-groom.
      In parts of Rajasthan, dowry included a Jajam and a mattress. As displayed
      in this picture, the mattress had Jajam prints as it was used to spread
      out on the floor. It was mostly the only other form of existence of Jajam
      prints. Colloquially, the mattress was popular as ‘Sodiya’ and was
      typically the size of a Khat (bed). Regions around Jahota, Jairampura were
      uniquely known for Sodiya.
    </p>
  </div>
</section>
<section>
  <div class="ajmersec1">
    <img src="assets/images/ajmerimg6.jpg" alt="" />
  </div>

  <div class="workplace_info">
    <div class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Krishna Gopal Chhipa</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.1990</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">236×494cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Shreenagar</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Natural Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </div>

    <p>
      Jajam found at a jajam printers house that he had printed for his family
      use.
    </p>
  </div>
</section>
<section>
  <div class="ajmersec1">
    <img src="assets/images/ajmerimg7.jpg" alt="" />
  </div>

  <div class="workplace_info">
    <div class="workplace_detail">
      <div style="grid-column: 1/-1">
        <div class="topic">Modu Lal Chhipa</div>
        <div class="label">Printer</div>
      </div>
      <div>
        <div class="topic">c.1970</div>
        <div class="label">year</div>
      </div>
      <div>
        <div class="topic">296×393cm</div>
        <div class="label">size</div>
      </div>
      <div>
        <div class="topic">Junia</div>
        <div class="label">location</div>
      </div>
      <div>
        <div class="topic">Block Print</div>
        <div class="label">Craft</div>
      </div>
      <div>
        <div class="topic">Natural Dye</div>
        <div class="label">Color</div>
      </div>
      <div>
        <div class="topic">Handloom Cotton</div>
        <div class="label">Fabric</div>
      </div>
    </div>

    <p>
      Privately owned jajam to host guest for weddings and other life
      ceremonies.
    </p>
  </div>
</section>
