<section class="image-container">
  <!-- <img src="assets/images/reg-jajam.jpg" alt="" /> -->
  <div class="img-text">
    <h1>Regional Jajam</h1>
    <h4>Rajasthan</h4>
  </div>
</section>

<section>
  <div id="Tab3" class="tabcontent">
    <section class="T3container2">
      <h2>Regions of Rajasthan</h2>
      <blockquote class="txtp">
        <p>
          Rajputana, as Rajasthan was previously known was subdivided into
          several regional units for ease of administration. Approaching the
          Jajam research on these regional basis brings out the uniqueness of
          Jajam in colors, motifs, nuances and themes with respect to each
          region.
        </p>
      </blockquote>
    </section>
    <!-- <section class="regions">
            <a href="#" class="half" style="background-image: url(assets/images/ajmer.png);">
                <h3>Ajmer</h3>
                <p>Jotayan, Shreenagar, Pushkar, Akoria</p>
            </a>
        </section> -->
  </div>
</section>
