<section class="red-section">
    <div class="text1">
            <h1>JAJAM</h1>
            <p>
                Rajasthani traditional fabrics, even from a distance, shine in their diversity and tales of their
                origin. Every beautiful weave carries within a history of a craft that has never remained isolated
                from the social life that surrounded it. Jajam textile, as expansive as our imagination, decorated
                the earth during marriages, social events and even important community gatherings like village
                Panchayats. As one gets closer to the threads of jajam, one can still feel the warmth and festivity
                of the traditions that inspired it.</p>
        </div>
</section>