.red-section {
  background-color: rgba(146, 36, 59, 0.9);
  color: white;
  width: 100%;
  height: auto;
}
.text1{
    /* background-color: purple; */
    display: block; 
    padding: 3%;
   padding: 2%;
}
.text1 h1{
    text-align: center;
    font-size: 4em;
    color: white;
    opacity: 70%;
}
.text1 p{
    margin-top: 2%;
    margin-left: 25% ;
    margin-right: 25%;
    text-align: center;
    font-family: Nunito, sans-serif;
  margin-bottom: 5%;
  color: rgb(255, 255, 255);

  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
}