<section>
  <div class="text-container">
    <div class="left-text">
      <p>
        We are a small team practicing traditional techniques in block printing
        and natural dyes. Over many years, hands-on craft experiences have
        taught us the bounty and fragility of Nature’s colours. We are delighted
        to share this knowledge with you.
      </p>
    </div>
    <div class="right-text">
      <p>Explore our Workshops and Excursions—</p>
      <button class="workshop-button" routerLink="/workshops" >Workshops</button>
    </div>
  </div>
</section>
