section {
  padding: 1%;
  background-color: #f8f8f8; /* Light background for sections */
  padding: 5%;
}
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  background-color: #f8f8f8; /* Light background for tabs */
}

.tabs-left {
  display: flex;
  align-items: center;
}

.tab3 {
  margin: 0 15px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.tab3:hover {
  background-color: #6d6b6d;
  color: #fff;
}

.tab3.active {
  background-color: #551404;
  color: #fff;
}

.line-and-topic {
  display: flex;
  align-items: center;
  width: 100%;
}

.horizontal-line {
  flex-grow: 1;
  background-color: #333;
  border: none;
  height: 5px;
  margin-right: 10px;
}

.topic-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  color: #333;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.container {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  margin: 20px;
  margin-right: 15%;
  align-items: start;
}

.item {
  /* text-align: center; */
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
}

.item p {
  margin: 5px 0;
}

.item .location {
  font-size: 0.9em;
  color: grey;
}
.container2 {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 20px;
  margin-right: 15%;
  /* align-items: start; */
}

.item2 {
  /* text-align: center; */
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.item2:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item2 img {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
}

.item2 p {
  margin: 5px 0;
}

.item2 .location2 {
  font-size: 0.9em;
  color: grey;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .tabs-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tabs-left {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Two columns */
    gap: 10px;
  }

  .tab3 {
    font-size: 0.85rem;
    padding: 6px 12px;
    margin: 0;
  }

  .container,
  .container2 {
    flex-direction: column;
    align-items: center;
    margin: 10px 5%;
  }

  .item img,
  .item2 img {
    width: 400px;
  }

  .item,
  .item2 {
    width: 100%;
    text-align: center;
  }
}

/* Media query for small mobile devices */
@media screen and (max-width: 480px) {
  .tabs-left {

    grid-template-columns: repeat(2, 2fr); /* One column */
    gap: 10px;
  }

  .tab3 {
    font-size: 1.6rem;
    padding: 5px 10px;
    margin: 5px 0;
  }

  .container,
  .container2 {
    margin: 5px 5px;
  }

  .item img,
  .item2 img {
    width: 300px;
  }
}