<section>
  <div class="tabs-container">
    <div class="tabs-left">
      <a class="tab3" id="all-tab" (click)="showContent('all')">ALL</a
      ><strong>/</strong>
      <a class="tab3" id="bagru-tab" (click)="showContent('bagru')">BAGRU</a
      ><strong>/</strong>
      <a class="tab3" id="delhi-tab" (click)="showContent('delhi')">DELHI</a
      ><strong>/</strong>
      <a class="tab3" id="jaipur-tab" (click)="showContent('jaipur')">JAIPUR</a
      ><strong>/</strong>
      <a class="tab3" id="online-tab" (click)="showContent('online')">ONLINE</a>
    </div>
    <div class="line-and-topic">
      <hr class="horizontal-line" />
      <span class="topic-text">Location</span>
    </div>
  </div>

  <section class="content">
    <div *ngIf="currentContent === 'all'" class="all-content" id="all-content">
      <div class="line">
        <span class="topic1-text">PROGRAMS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="content-container">
        <div class="container">
          <div class="item">
            <img
              src="assets/images/block-carving.jpg"
              routerLink="/workshops/block-carving"
              alt="Block Carving"
            />
            <!-- <a routerLink="/workshops/block-carving">
            <img src="assets/images/block-carving.jpg" alt="Block Carving" />
        </a> -->
            <p>BLOCK CARVING</p>
            <p class="location">Jaipur</p>
          </div>
          <div class="item">
            <img
              src="assets/images/block_prints.jpg"
              routerLink="/workshops/block-printing"
              alt="Block Printing"
            />
            <p>BLOCK PRINTING</p>
            <p class="location">Bagru, Online</p>
          </div>
          <div class="item">
            <img
              src="assets/images/Natural_dyes.JPG"
              routerLink="/workshops/natural-dye"
              alt="Natural Dye"
            />
            <p>NATURAL DYE</p>
            <p class="location">Bagru, Delhi, Online</p>
          </div>
          <div class="item">
            <img
              src="assets/images/idigo.jpg"
              routerLink="/workshops/natural-indigo"
              alt="Natural Indigo"
            />
            <p>NATURAL INDIGO</p>
            <p class="location">Delhi, Online</p>
          </div>
          <div class="item">
            <img
              src="assets/images/resist-printing.jpg"
              routerLink="/workshops/resist-printing"
              alt="Natural Indigo"
            />
            <p>Resist-Printing</p>
            <p class="location">Bagru, Online</p>
          </div>
        </div>

        <div class="line">
          <span class="topic1-text">EXCURSIONS</span>
          <hr class="horizontal1-line" />
        </div>
        <div class="container2">
          <div class="item2">
            <img
              src="assets/images/2022_04.jpg"
              routerLink="/bagru"
              alt="Block Carving"
            />
            <p>BAGRU KA TOUR</p>
            <p class="location2">Bagru</p>
          </div>
          <div class="item2">
            <img
              src="assets/images/main_04.jpg"
              routerLink="/texttile"
              alt="Block Printing"
            />
            <p>TRADITIONAL TEXTILES</p>
            <p class="location2">Bagru</p>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="currentContent === 'bagru'"
      class="all-content"
      id="all-content"
    >
      <div class="line">
        <span class="topic1-text">PROGRAMS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="container">
        <div class="item">
          <img
            src="assets/images/block_prints.jpg"
            routerLink="/workshops/block-printing"
            alt="Block Printing"
          />
          <p>BLOCK PRINTING</p>
          <p class="location">Bagru, Online</p>
        </div>
        <div class="item">
          <img
            src="assets/images/Natural_dyes.JPG"
            routerLink="/workshops/natural-dye"
            alt="Natural Dye"
          />
          <p>NATURAL DYE</p>
          <p class="location">Bagru, Delhi, Online</p>
        </div>
        <div class="item">
          <img
            src="assets/images/resist-printing.jpg"
            routerLink="/workshops/resist-printing"
            alt="Natural Indigo"
          />
          <p>Resist-Printing</p>
          <p class="location">Bagru, Online</p>
        </div>
      </div>
      <div class="line">
        <span class="topic1-text">EXCURSIONS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="container2">
        <div class="item2">
          <img
            src="assets/images/2022_04.jpg"
            routerLink="/bagru"
            alt="Block Carving"
          />
          <p>BAGRU KA TOUR</p>
          <p class="location2">Bagru</p>
        </div>
        <div class="item2">
          <img
            src="assets/images/main_04.jpg"
            routerLink="/texttile"
            alt="Block Printing"
          />
          <p>TRADITIONAL TEXTILES</p>
          <p class="location2">Bagru</p>
        </div>
      </div>
    </div>

    <div
      *ngIf="currentContent === 'delhi'"
      class="all-content"
      id="all-content"
    >
      <div class="line">
        <span class="topic1-text">PROGRAMS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="container">
        <div class="item">
          <img
            src="assets/images/Natural_dyes.JPG"
            routerLink="/workshops/natural-dye"
            alt="Natural Dye"
          />
          <p>NATURAL DYE</p>
          <p class="location">Bagru, Delhi, Online</p>
        </div>
        <div class="item">
          <img
            src="assets/images/idigo.jpg"
            routerLink="/workshops/natural-indigo"
            alt="Natural Indigo"
          />
          <p>NATURAL INDIGO</p>
          <p class="location">Delhi, Online</p>
        </div>
      </div>
      <div class="line">
        <span class="topic1-text">EXCURSIONS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="notfound-content">
        <p>No EXCURSIONS found</p>
      </div>
    </div>

    <div
      *ngIf="currentContent === 'jaipur'"
      class="all-content"
      id="all-content"
    >
      <div class="line">
        <span class="topic1-text">PROGRAMS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="container">
        <div class="item">
          <img
            src="assets/images/block-carving.jpg"
            routerLink="/workshops/block-carving"
            alt="Block Carving"
          />
          <p>BLOCK CARVING</p>
          <p class="location">Jaipur</p>
        </div>
      </div>
      <div class="line">
        <span class="topic1-text">EXCURSIONS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="notfound-content">
        <p>No EXCURSIONS found</p>
      </div>
    </div>

    <div
      *ngIf="currentContent === 'online'"
      class="all-content"
      id="all-content"
    >
      <div class="line">
        <span class="topic1-text">PROGRAMS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="container">
        <div class="item">
          <img
            src="assets/images/block_prints.jpg"
            routerLink="/workshops/block-printing"
            alt="Block Printing"
          />
          <p>BLOCK PRINTING</p>
          <p class="location">Bagru, Online</p>
        </div>
        <div class="item">
          <img
            src="assets/images/Natural_dyes.JPG"
            routerLink="/workshops/natural-dye"
            alt="Natural Dye"
          />
          <p>NATURAL DYE</p>
          <p class="location">Bagru, Delhi, Online</p>
        </div>
        <div class="item">
          <img
            src="assets/images/idigo.jpg"
            routerLink="/workshops/natural-indigo"
            alt="Natural Indigo"
          />
          <p>NATURAL INDIGO</p>
          <p class="location">Delhi, Online</p>
        </div>
        <div class="item">
          <img
            src="assets/images/resist-printing.jpg"
            routerLink="/workshops/resist-printing"
            alt="Natural Indigo"
          />
          <p>Resist-Printing</p>
          <p class="location">Bagru, Online</p>
        </div>
      </div>
      <div class="line">
        <span class="topic1-text">EXCURSIONS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="notfound-content">
        <p>No EXCURSIONS found</p>
      </div>
    </div>
  </section>
</section>
