section {

  background-color: #f8f8f8; /* Light background for sections */
  padding: 5%;
}
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  background-color: #f8f8f8; /* Light background for tabs */
}

.tabs-left {
  display: flex;
  align-items: center;
}

.tab3 {
  margin: 0 10px;
  /* padding: 10px 20px; */
  background-color: #fff;
  text-decoration: none;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  cursor: pointer;
  opacity: 60%;
}
.tabs-left strong {
  font-weight: normal;
  color: #000;
  font-size: 2rem;
  opacity: 10%;
  text-align: center;
}

.tab3:hover {
  border: 3.5px solid #868585;
}

.tab3.active {
  border: 3.5px solid #868585;
}

.line-and-topic {
  display: flex;
  align-items: center;
  width: 100%;
}

.horizontal-line {
  flex-grow: 1;
  background-color: #333;
  border: none;
  height: 5px;
  margin-right: 10px;
}

.topic-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2rem;
  color: #333;
  letter-spacing: 0.3em;
  font-weight: bold;
  opacity: 60%;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.content-container{
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding-left: 5%;
}

.item {
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 5%;
  margin-bottom: 5%;
  
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item img {
  width: 200px;
  height: auto;
  /* border: 1px solid #ccc; */
 
}

.item p {
  margin: 5px 0;
}

.item .location {
  font-size: 0.9em;
  color: grey;
}
.container2 {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  /* padding-left: 5%; */
}

.item2 {

  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.item2:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item2 img {
  padding-top: 5%;
  width: 400px;
  height: auto;
  /* border: 1px solid #ccc; */
}

.item2 p {
  margin: 5px 0;
}

.item2 .location2 {
  font-size: 0.9em;
  color: grey;
}
.line{
  display: flex;
  align-items: center;
  width: 100%; 
  z-index: 2;
  padding-left: 1.6%;
}

.horizontal1-line {
  flex-grow: 1;
  background-color: #7c7b7b;
  border: none;
  height: 2px;
  z-index: 2;
}

.topic1-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.7rem;
  color: #7c7b7b;
  font-weight: normal;
  z-index: 2;
}
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .tabs-container {
    padding-left: 2.3%;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .tabs-left {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Two columns */
    gap: 10px;
  }

  .tab3 {
    margin: 0 10px;
    /* padding: 10px 20px; */
    background-color: #fff;
    text-decoration: none;
    color: #333;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 60%;
  }
  .tabs-left strong {
    font-weight: normal;
    color: #000;
    font-size: 1.2rem;
    opacity: 10%;
    text-align: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 0;
    padding-right: 0;

   
  }
  .container2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .item img{
    width: 200px;
  }
  .item2 img {
    width: 300px;
  }

  .item,
  .item2 {
    width: 100%;
    text-align: center;
  }
  .line{
    display: flex;
    align-items: center;
    width: 100%; 
    z-index: 2;
    padding-left: 1.6%;
  }
  
  .horizontal1-line {
    flex-grow: 1;
    background-color: #7c7b7b;
    border: none;
    height: 2px;
    z-index: 2;
  }
  
  .topic1-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.7rem;
    color: #7c7b7b;
    font-weight: normal;
    z-index: 2;
  }
}
@media (max-width: 576px) {
  .content{
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 0;
    padding-right: 0;

   
  }
  .container2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .tabs-container {
    padding-left: 2.3%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .tabs-left {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Two columns */
    gap: 10px;
  }
  .item2 img {
    width: 400px;
  }
}
/* Media query for small mobile devices */
@media screen and (max-width: 480px) {
  .tabs-left {

    grid-template-columns: repeat(2, 2fr); /* One column */
    gap: 10px;
  }

  .tab3 {
    font-size: 1.6rem;
    padding: 5px 10px;
    margin: 5px 0;
  }

  /* .container,
  .container2 {
    margin: 5px 5px;
  } */

  .item img,
  .item2 img {
    width: 300px;
   
  }
  .content{
    display: flex;
    flex-direction: column;
    /* padding: 2%; */
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-left: 0;
    /* padding-right: 5%; */

   
  }
  .container2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .tabs-container {
    padding-left:0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .tabs-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    /* gap: 10px; */
  }
  .item2 img {
    width: 200px;
  }
  .line-and-topic {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 5%;
  }
  
  .horizontal-line {
    flex-grow: 1;
    background-color: #333;
    border: none;
    height: 5px;
    margin-right: 10px;
  }
  
  .topic-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2rem;
    color: #333;
    letter-spacing: 0.3em;
    font-weight: bold;
    opacity: 60%;
  }
  .tab3 {
    margin: 0 1px;
   
  }
  .container {
   
    padding-left: 0;
  }
  .content{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .item {
    text-align: center;
    margin: 0px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  
}