<section class="main">
    <div class="container">
      <div class="img-container">
        <img src="https://wabisabiproject.com/media/galleries/collections/chaupad/Chaupad-Design-Syahi-Begar.jpg" alt="games" />
      </div>
      <div class="text-container">
        <div class="headline">
          <h1>CHAUPAD GAME</h1>
          <p>
            Chaupad is an ancient Indian game and precursor to our modern favourites like Ludo. While this game is no longer central to village life, today, elders might still be spotted tossing cowrie shells into the air. It is with their help we could re-discover this intriguing game of strategy and share it with you.
          </p>
        </div>
        <div class="size-container">
          <div class="size">
            <h5>61×61cm</h5>
            <p>SIZE</p>
          </div>
          <div class="material">
            <h5>Cotton</h5>
            <p>MATERIAL</p>
          </div>
        </div>
        <div class="feature">
          <h5>Hand Block Printed, Natural dye, Printed lining</h5>
          <p>FEATURES</p>
        </div>
        <div class="feature">
            <h5>Cowrie shells, Chaupad rules, Wooden Tokens, Printed bag</h5>
            <p>PLAY SET</p>
          </div>
        <hr />
        <div class="price">
          <h5>3950 INR</h5>
          <p>PRICE</p>
        </div>
        <div class="button">
          <button class="btn" routerLink="/contactus">Buy</button>
          <p>Free shipping in India. Amount includes all taxes.</p>
        </div>
      </div>
    </div>
    <div class="image-box">
      <div class="image1">
        <img src="https://wabisabiproject.com/media/galleries/collections/chaupad/Board-game-Jajam-Collection-Wabisabi-Project.jpg" alt="" />
      </div>
      <div class="image1"><img src="https://wabisabiproject.com/media/galleries/collections/chaupad/Chaupad-board-game-hand-block-printed.jpg" alt="" /></div>
    
    </div>
    <div class="line">
      <span class="topic-text">ADD-ONS</span>
        <hr class="horizontal-line" />
    </div>
    
    <div class="gift-box-container">
      <div class="img-box">
        <img
          src="https://wabisabiproject.com/media/galleries/collections/chaupad/gift-box-chaupad-800x600.jpg"
          alt="img"
        />
      </div>
      <div class="text-box">
        <div class="box-headline">
          <h1>GIFT BOX</h1>
          <p>
            Gift this jajam in this box made with handmade paper and printed in Jajam motifs.
          </p>
        </div>
        <div class="box-price">
          <h2>125 INR</h2>
          <p>PRICE</p>
        </div>
      </div>
    </div>
  </section>
  