.image-container {
  width: 100%; 
  height: auto; 
  overflow: hidden; 
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  /* border-radius: 10px;  */
}
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgba(113, 34, 34, 0.3);
  z-index: 1;
}



/* Responsive styles for screens up to 768px (tablet portrait and below) */
@media (max-width: 768px) {
  .image-container {
    height: auto; /* Adjust height for smaller screens */
  }
}

/* Responsive styles for screens up to 350px (mobile screens) */
@media (max-width: 350px) {
  .image-container {
    height: auto; /* Further adjust height for smaller mobile screens */
  }
}