.image {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: block;
}

/* Styles for the text container */
.T2container {
  position: absolute;
  flex: 2;
  padding-left: 10%;
  padding-right: 40%;
  padding-top: 5%;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  color: rgba(72, 50, 49, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.02em;
  /* font-feature-settings: "pnum" on, "onum" on; */
}

/* _______________container2_____________________ */
.container2 {
  background-color: rgba(44, 9, 17, 0.8);
  color: rgb(240, 214, 190);
  width: 100%;
  height: auto;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.text {
  display: block;
  padding: 3%;
  padding: 2%;
}
.text h2 {
  text-align: center;
  font-size: 2.5em;
  color: rgb(240, 214, 190);
}
.container2 p {
  text-align: center;
  font-family: Nunito, sans-serif;

  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  /* opacity: 50%; */
}

.txtimgcontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 5%;
}
.text-section1,
.image-section1 {
  width: 50%;
}
.text-section1 {
  padding-left: 6%;
}
.text-section1 h1 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  text-align: start;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 70%;
  overflow-wrap: break-word;
}
.text-section1 p {
  font-family: Nunito, sans-serif;
  text-align: start;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.75rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  /* max-width: 60ch; */
  overflow-wrap: break-word;
}
.token--featured {
  font-family: Nunito, sans-serif;
  text-align: start;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: inherit;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 75%;
}
.image-section1 img {
  width: 90%;
  height: auto;
}
#desgn {
  text-align: center;
}
.design2 h3 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 70%;
  overflow-wrap: break-word;
}
blockquote p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
  padding-left: 13%;
  padding-right: 13%;
}
#img-design {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  margin-top: 5%;
  margin-bottom: 5%;
}
#img-design img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  overflow-clip-margin: content-box;
}
.chaupadtag {
  width: 100%;
  height: auto;
  text-align: left;
  background-color: rgba(229, 215, 210, 1);
}
.chaupad {
  /* background-color: purple; */
  display: block;
  padding: 3%;
  text-align: left;
}
.chaupad h4 {
  text-align: left;
  font-size: 1.3em;
  line-height: 1em;
  color: rgb(100, 80, 62);
  opacity: 70%;
  padding-left: 10%;
  text-transform: uppercase;
}
.chaupad h2 {
  text-align: left;
  font-size: 3em;
  font-weight: 400;
  color: rgb(100, 80, 62);
  opacity: 70%;
  line-height: 1em;
  padding-left: 10%;
  text-transform: uppercase;
}
.chaupad p {
  padding-left: 10%;
  padding-right: 50%;
  text-align: left;
  font-family: Nunito, sans-serif;
  color: rgb(83, 81, 81);

  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
}

/* ____________________________________text-with images_______________________ */
.txtimgcontainer2 {
  position: relative;
  text-align: center;
  height: auto;
  background-color: rgba(240, 231, 223, 1);
  display: flex;
  flex-direction: column;
}
.txtimgcontainer2 img {
  width: 100%;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  object-fit: cover;
}
.mid-logo img {
  height: 14%;
  width: 14%;
  padding: 3%;
  opacity: 50%;
}
.mid-logo h2 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 100%;
  white-space: unset;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 72%;
  overflow-wrap: break-word;
  color: rgba(72, 50, 49, 1);
  text-align: center;
}
.block {
  font-family: Nunito, sans-serif;
  padding-left: 27rem;
  padding-right: 27rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  padding-top: 1rem;
  overflow-wrap: break-word;
  color: rgba(72, 50, 49, 1);
  text-align: center;
  opacity: 80%;
}

.img-container4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: rgba(240, 231, 223, 1);
  padding-top: 1%;
}

.img-container4 img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  /* padding-top: 0.5%; */
}
.txt-container4 {
  position: absolute;
  align-items: center;
  padding-left: 35%;
  padding-top: 10%;
}
.txt-container4 p {
  color: #fff;
  font-family: Nunito, sans-serif;
  font-style: normal;
  text-align: start;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.75rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  overflow-wrap: break-word;
  max-width: 60ch;
}
.block-carving {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(240, 231, 223, 1);
  padding-top: 5%;
}
.block-carving img {
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  object-fit: cover;
}
.block-carving h3 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 200;
  line-height: 100%;
  padding-top: 0.05em;
  text-wrap: balance;
  white-space: unset;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 70%;
  overflow-wrap: break-word;
  color: rgba(72, 50, 49, 1);
  text-align: center;
  padding-top: 1rem;
}
.namda-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(240, 231, 223, 1);
  padding-top: 5%;
}
.namda-container img {
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
  object-fit: cover;
}
.namda-container h3 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 200;
  line-height: 100%;
  padding-top: 0.05em;
  text-wrap: balance;
  white-space: unset;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 70%;
  overflow-wrap: break-word;
  color: rgba(72, 50, 49, 1);
  text-align: center;
  padding-top: 1rem;
}
.paint h3 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 200;
  line-height: 100%;
  padding-top: 0.05em;
  text-wrap: balance;
  white-space: unset;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 70%;
  overflow-wrap: break-word;
  color: rgba(72, 50, 49, 1);
  text-align: center;
  padding-top: 1rem;
}

/* _______________________ artisan text section_____________*/
.artisans-slide {
  padding: 5%;
  height: auto;
  width: 100%;
  height: auto;
  position: relative;
}
.artisans h2 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  line-height: 100%;
  padding-top: 0.05em;
  text-wrap: balance;
  white-space: unset;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 72%;
  overflow-wrap: break-word;
}
.artisan-container {
  padding-top: 5%;
}
.artisandiv {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: grid;
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  max-width: 100ch;
}
.artisan img {
  width: unset;
  padding-left: 80%;
}
.artisan-container {
  /* width: 70%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  justify-items: center;
}
.artisandiv h4 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  opacity: 66%;
  overflow-wrap: break-word;
}
.artisandiv h5 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  margin-top: -4%;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.04em;
  opacity: 80%;
  overflow-wrap: break-word;
}
.artisandiv p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.75rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  max-width: 100ch;
  overflow-wrap: break-word;
  padding-right: 15%;
  
}
.artisan-container2 {
  padding-top: 3%;
}
.artisandiv2 {
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  display: grid;
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  max-width: 75ch;
  
}
.artisan2 img {
  width: unset;
  
  padding-right: 80%;
 
}
.artisan-container2 {
  /* width: 70%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.25rem;
  column-gap: 1.25rem;
  justify-items: start;
}
.artisandiv2 h4 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: end;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  opacity: 66%;
  overflow-wrap: break-word;
}
.artisandiv2 h5 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  text-align: end;
  margin-top: -4%;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.04em;
  opacity: 80%;
  overflow-wrap: break-word;
}
.artisandiv2 p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.75rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  max-width: 100ch;
  overflow-wrap: break-word;
  padding-left: 10%;
  text-align: end;
  
}

@media (max-width: 1160px) {
  .image-container {
    display: none;
  }
  .T2container {
    position: relative;
    background-color: rgba(227, 210, 197, 0.4);
    text-align: left;
    padding-right: 5%;
  }
}
@media (max-width: 768px) {
  .image-container {
    display: none;
  }
  .T2container {
    position: relative;
    background-color: rgba(227, 210, 197, 0.4);
    text-align: left;
    padding-right: 5%;
  }
  .container2 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .txtimgcontainer {
    display: flex;
    flex-direction: column;
  }
  .text-section1,
  .image-section1 {
    width: 100%;
  }
  .text-section1 h1 {
    text-align: center;
    padding-top: 5%;
  }
  .text-section1 p {
    text-align: center;
  }
  .token--featured {
    text-align: center;
  }
  .image-section1 img {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 1rem;
  }
  blockquote p {
    text-align: center;
  }
  #img-design {
    grid-template-columns: repeat(3, 1fr);

    padding-bottom: 8%;
  }
  #img-design img {
    padding: 3%;
  }

  .chaupad h4 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
  }
  .chaupad h2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .chaupad p {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

  .block {
    padding-left: 5%;
    padding-right: 5%;
  }

  .img-container4 {
    flex-direction: column;
  }
  .img-container4 img {
    height: auto;
    padding-left: 3%;
    padding-right: 3%;
  }

  .txt-container4 {
    position: absolute;
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: right;
    font-size: 1rem;
    /* width: 50%; */
  }
  /* ____________________________________________________________ */
  .artisan img {
    width: unset;
    padding-left: 10%;
  }

  .artisandiv h4 {
    font-size: 1.4rem;
  }
  .artisandiv h5 {
    margin-top: -7%;
    font-size: 1rem;
  }
  .artisandiv p {
    padding-right: 5%;
  }
  .artisan2 {
    padding-top: 3%;
  }

  .artisan2 img {
    width: unset;
    
    padding-right: 10%;
   
  }
  
  .artisandiv2 h4 {
   
    font-size: 1.4rem;
    
  }
  .artisandiv2 h5 {
   
    margin-top: -7%;
    
    font-size: 1rem;
    
  }
  .artisandiv2 p {
    
    padding-left: 5%;
    
  }
}
@media (max-width: 714px) {
  .img-container4 {
    flex-direction: column;
    align-items: center;
  }

  .txt-container4 {
    position: static;
    padding: 0 5%;
    text-align: center;
    font-size: 1rem;
    order: 1;
  }
  .txt-container4 p {
    color: rgba(72, 50, 49, 1);
  }
  .img-container4 img {
    width: 90%;
    height: auto;
    order: 2;
  }
  /* _________________________ */

  .artisan-container {
    position: static;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
   
    width: 100%;
  }
  .artisan img {
    width: unset;
    padding-left: 5%;
    padding-right: 5%;
  }
  .artisandiv h4 {
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .artisandiv h5 {
   
    padding-top: 3%;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .artisandiv p {
   
  text-align: center;
    max-width: 100ch;
   
    padding-left: 5%;
   
  }
  .artisan-container2 {
    /* position: static; */
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
   
    width: 100%;
  }
  
  .artisan2 img {
    width: unset;
    
    padding-left: 5%;
    padding-right: 5%;
    order: 1;
   
  }
  .artisandiv2{
    order: 2;
  }
  .artisandiv2 h4 {
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    /* font-size: 1rem; */
    
  }
  .artisandiv2 h5 {
    padding-top: 3%;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
   
  }
  .artisandiv2 p {
    text-align: center;
    max-width: 100ch;
   
    padding-left: 5%;

    
  }
}
