<section>
  <div class="image-container">
    <div class="T2container">
      <!-- <img src="/assets/images/jajam8.jpg" alt="" /> -->
      <p class="p1">
        Beginning 2015, Our Journey resembles a treasure hunt across Rajasthan!
      </p>
      <p class="p2">
        En route on the journey, we found clues, met guides & discovered
        villages in our quest to understand the nuances of traditional block
        printing. We listened to stories and memories of master printers and
        dyers. These interactions revealed to us an invisible thread knitting
        Indian communities, cultures, beliefs & skills, and the Jajam embodied
        them all as a ‘Community textile’. How beautiful that a Jajam opens up
        its generous heart and welcomes people from all sections.
      </p>
      <p class="p3">We wonder where are today’s Jajam.</p>
      <p class="p4">Are community spaces disappearing in Urban life?</p>
    </div>
  </div>
</section>

<section class="container2">
  <div class="text">
    <h4>1974</h4>
    <h2>CHANGING TIMES</h2>
  </div>
  <p>
    Urbanisation has slowly chipped away at the social fabric of local community
    life and, today, the craft of jajam making has lost its patrons and
    appreciators. Since the mid-20th century demand has slowly diminished, with
    only a handful of printers retaining the skills, resources and resolve to
    continue. In an attempt to keep up with changing times, many chhipa printers
    crossed over to inexpensive chemical dyes.
  </p>
  <p>
    In recent years, a culture of consumerism and competition has taken over and
    the sense of community living has dissolved. Societies that once gathered
    together, making collective decisions and celebrating festivals, have all
    but disappeared. The art of dyeing and printing has also started to be
    affected. Deforestation within India’s jungles means it is more and more
    difficult to source natural ingredients. Traditional dyeing and washing
    processes are an increasingly rare sight as rivers run dry.
  </p>
  <p>
    In the Dablana (South East Rajasthan) Jajam exhibited here, the red dye
    flows into many areas. Printers would frequent Mej river banks for washing
    and achieving clarity in their natural dyes, especially while handling large
    textiles. As the river perished, so did the stories of craft in these
    printing villages.
  </p>
</section>

<section>
  <div class="txtimgcontainer">
    <div class="text-section1">
      <h1>Customized</h1>
      <p>
        Jajam was made to order in large sizes to accommodate community
        gatherings in a village or, for guests coming to a life ceremony. It was
        customized according to the space, for example, as big as a courtyard in
        a temple or a house. This floor covering could be as large as one’s
        imagination.
      </p>
      <div class="token--featured">10 x 15m</div>
      <p>The biggest jajam we found in a community temple</p>
      <div class="token--featured">3 x 2m</div>
      <p>Jajam made for household purposes</p>
    </div>
    <div class="image-section1">
      <img src="assets/images/jajam9.jpg" alt="Descriptive Alt Text" />
    </div>
  </div>
</section>

<section id="desgn" class="design2">
  <h3>design</h3>
  <blockquote>
    <p>
      Jajam owes its innovative designs to the traditions that brought them to
      life. Printed on thick hand-woven cotton fabric, they often featured
      motifs from local architectural designs and would also celebrate the rich
      wildlife of a region. Tigers, elephants, soldiers, or mounted warriors
      might surround the stacked geometric designs of the central field like
      symbolic protective figures to create a safe space in which people played
      chaupad and conversed.
    </p>
  </blockquote>
</section>

<section id="img-design" class="img-sec">
  <img src="assets/images/jpic1.jpg" alt="" />
  <img src="assets/images/jpic2.jpg" alt="" />
  <img src="assets/images/jpic3.jpg" alt="" />
  <img src="assets/images/jpic4.jpg" alt="" />
  <img src="assets/images/jpic5.jpg" alt="" />
  <img src="assets/images/jpic6.jpg" alt="" />
  <img src="assets/images/jpic1.jpg7.jpg" alt="" />
  <img src="assets/images/jpic7.jpg" alt="" />
  <img src="assets/images/jpic9.jpg" alt="" />
  <img src="assets/images/jpic10.jpg" alt="" />
  <img src="assets/images/jpic11.jpg" alt="" />
  <img src="assets/images/jpic12.jpg" alt="" />
  <img src="assets/images/jpic13.jpg" alt="" />
  <img src="assets/images/jpic14.jpg" alt="" />
  <img src="assets/images/jpic15.jpg" alt="" />
</section>

<section class="chaupadtag">
  <div class="chaupad">
    <h4>Ancient Indian boardgame</h4>
    <h2>Chaupad</h2>
    <p>
      Tales of Chaupad are inextricably woven into Indian mythology and
      folklore. It’s not common knowledge that our modern favourites like Ludo
      and Chess originated from the ancient Indian game of Chaupad.
    </p>
    <p>
      The chaupad motif was often block printed in the center of a jajam where
      two to four players could enjoy throwing the dice and racing their pawns
      around a four-arm path. Thus jajam created an entertaining gathering spot
      during a village council meeting. While the game no longer features in
      modern village life, references to it and reminiscences are still embedded
      in Indian culture.
    </p>
  </div>
</section>

<!-- __________________textimage________________ -->
<section class="paint">
  <div class="txtimgcontainer2">
    <div class="mid-logo">
      <img src="assets/images/jajam5.png" alt="" />
      <h2>Crafts</h2>
    </div>
    <section class="painting">
      <h3>Block Printing</h3>
      <p class="block">
        The labour-intensive nature of block printed fabric requires a community
        of artisans — chhipas printers, rangrez dyers, dhobis washer men and
        block carvers. Jajam making reflected the pinnacle of craft practices of
        chhippa block printers. These artisan communities were usually nestled
        alongside rivers where the deep red and black hues of the natural dyes
        would be washed in the free-flowing stream.
      </p>
      <img src="assets/images/jajam10.jpg" alt="" />
      <div class="img-container4">
        <div class="image-wrapper">
          <img src="assets/images/jajam11.jpg" alt="Centered Image" />
        </div>
        <div class="txt-container4">
          <p>
            Krishna Gopal Chhipa reminiscences about the festivities of
            Akhateej. He speaks of the auspicious day when many marriages would
            take place and bring a heavy demand for jajam. History mirrors the
            significance of jajam as a token of camaraderie within various
            communities such as Rao, Rajput, and others.
          </p>
        </div>
      </div>
      <h3>Block Carving</h3>
      <p class="block">
        Surrounded by multiple border and complex centerfield designs, jajam
        making required a wide repertoire of blocks. The richness of the
        seasoned wood with the skills of the Kharadi (wood carver) community
        contributed to a sharper image in the print that would outlast the
        cheaper alternatives that eventually flooded the market.
      </p>
      <img src="assets/images/jajam12.jpg" alt="" />
      <div class="img-container4">
        <div class="image-wrapper">
          <img
            style="height: 20%; width: 85%; margin-left: 7.5%"
            src="assets/images/jajam13.jpg"
            alt="Centered Image"
          />
        </div>
        <div class="txt-container4">
          <p>
            Abdul Sattar Kharadi shares the long history of block carvers he
            descended from. In his story, he narrates the tales of Sheik
            Allaudin, who traveled from Multan to Sanganer around 350 years ago.
            During the development of Jaipur, his ancestors were relocated to
            Purani Basti. The craft held dear by his community focused on
            finesse achieved through blocks made of a superior quality.
          </p>
        </div>
      </div>
      <h3>NAMDA</h3>
      <p class="block">
        The sheep wool waste generated from dhurries and decorative floor mats
        in many parts of Rajasthan is used in the making of jajam blocks. This
        specialised craft that very few practices help in printing the natural
        dye color evenly.
      </p>
      <img src="assets/images/jajam14.jpg" alt="" />
      <div class="img-container4">
        <div class="image-wrapper">
          <img
            style="height: 20%; width: 85%; margin-left: 7.5%"
            src="assets/images/jajam15.jpg"
            alt="Centered Image"
          />
        </div>
        <div class="txt-container4">
          <p>
            To know if the wool has been filled in properly, Rashid Ahmed uses
            his palm to apply required pressure on the tool. The sensitized palm
            help him determine the accuracy of the process.
          </p>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- ___________________________artisans__________________ -->
<section class="artisans-slide">
  <div class="artisans">
    <h2>Artisans</h2>
    <blockquote>
      <p>
        A craftsman translates designs in his mind with impeccable hand-eye
        coordination. Jajam is an outcome of the invaluable contribution of
        several craftspeople across Rajasthan. Amongst the myriad of craftsmen,
        below is an assemblage of block printers and makers who helped us
        rediscover this art form.
      </p>
    </blockquote>
    <section class="artisan">
      <img src="assets/images/jprofile1.jpg" alt="" />
      <div class="artisandiv">
        <h4>Purushottam Chippa</h4>
        <h5>Jahota, Jaipur District</h5>

        <p>
          Purushottamji is a master printer based at Badagaon village, a region
          earlier renowned for Jajam Prints. His Jajam prints and Sodiya has
          garnered him recognition. He vividly remembers his forefathers selling
          printed Jajam at Hatwada, a weekly bazaar in Jaipur. On our request,
          Purushottomji’s family printed us traditional Jajam in great
          enthusiasm.
        </p>
      </div>
    </section>
    <section class="artisan2">
      <!-- <img src="assets/images/jprofile1.jpg" alt=""> -->
      <div class="artisandiv2">
        <h4>NANDKISHORE NAGAR</h4>
        <h5>MASUDA, AJMER DISTRICT</h5>

        <p>
          Nandkishore Nagar envisaged a new product line although Jajam printing
          was not his ancestral work. He innovated with designs and
          sizes(bedsheets) and showcased them in craft exhibitions. Nagarji’s
          Wife gave unwavering support in keeping his now defunct printing
          workshop alive. He is now caretaker at a community temple at Pushkar.
        </p>
      </div>
      <img src="assets/images/jprofile2.jpg" alt="" />
    </section>
    <section class="artisan">
      <img src="assets/images/jprofile3.jpg" alt="" />
      <div class="artisandiv">
        <h4>KRISHNA GOPAL CHIPPA</h4>
        <h5>SHREE NAGAR, AJMER DISTRICT</h5>

        <p>
          Brought up in a family of households, Krishnagopalji learnt the craft
          while assisting his father. He pursued printing and carried forward
          the legacy of his family.He mainly catered to local market and demand.
          Today he spends his retired life reminiscing his eventful printing
          days.
        </p>
      </div>
    </section>
    <section class="artisan2">
      <!-- <img src="assets/images/jprofile1.jpg" alt=""> -->
      <div class="artisandiv2">
        <h4>CHAGGANLAL KHATRI</h4>
        <h5>SAMDARI, BARMER DISTRICT</h5>

        <p>
          To counter dwindling demand, printer Chagganlal Khatri took
          commissioned Jajam work for ritualistic purposes catering to local
          demand. Khatri switched to chemical dyes from traditional natural
          colors. Currently, he is the only printer who exclusively prints
          Jajam.
        </p>
      </div>
      <img src="assets/images/jprofile4.jpg" alt="" />
    </section>
    <section class="artisan">
      <img src="assets/images/jprofile5.jpg" alt="" />
      <div class="artisandiv">
        <h4>RAMDAYAL CHIPPA</h4>
        <h5>JOTAYAN, AJMER DISTRICT</h5>

        <p>
          An energetic person, he mainly printed Sodiyas. To overcome the dearth
          of carvers in village outskirts, he acquired multiple skills and
          turned a block carver-cum-printer. His wife assisted him in meeting
          his deadlines throughout his printing journey. Withdrawing from
          printing, today they overlook their farmland and children in their
          ancestral village.
        </p>
      </div>
    </section>
    <section class="artisan2">
      <!-- <img src="assets/images/jprofile1.jpg" alt=""> -->
      <div class="artisandiv2">
        <h4>RASHID AHMED</h4>
        <h5>JAIPUR, JAIPUR DISTRICT</h5>

        <p>
          Rashid Bhai is equipped with a rare skill of filling Namda (sheep
          wool) inside wooden blocks. He delicately filled wool in our newer
          blocks enabling it to absorb dyes uniformly. Despite old age, his
          sensitised palms and sharp eyes enthuse him to fill blocks at his
          house.
        </p>
      </div>
      <img src="assets/images/jprofile6.jpg" alt="" />
    </section>
    <section class="artisan">
      <img src="assets/images/jprofile7.jpg" alt="" />
      <div class="artisandiv">
        <h4>ABDUL SATTAR</h4>
        <h5>JAIPUR, JAIPUR DISTRICT</h5>

        <p>
          Sattar Bhai of kharadi community is a resourceful craftsman with
          diverse collection of Jajam blueprints. He is a classical old wise man
          who believes in sharing his skill and knowledge of the craft. Our
          Journey would have been incomplete without his poise & patience as we
          explored his treasure.
        </p>
      </div>
    </section>
    <section class="artisan2">
      <!-- <img src="assets/images/jprofile1.jpg" alt=""> -->
      <div class="artisandiv2">
        <h4>NATHULAL CHIPPA</h4>
        <h5>BAGRU, JAIPUR DISTRICT</h5>

        <p>
          As someone who shared our vision of the craft, Nathulalji was the
          first printer at our workshop. He helped us recreate some of our
          earliest Jajam in traditional form. He continues printing variety of
          products to showcase at craft exhibitions across the country.
        </p>
      </div>
      <img src="assets/images/jprofile8.jpg" alt="" />
    </section>
    <section class="artisan">
      <img src="assets/images/jprofile9.jpg" alt="" />
      <div class="artisandiv">
        <h4>SEDURAM CHIPPA</h4>
        <h5>BAGRU, JAIPUR DISTRICT</h5>

        <p>
          Seduram Chippa learnt block printing from his father at a tender age
          of 7. An explorer at heart, he gained proficiency in farad printing,
          gold and silver printing. Our first sampling under his aegis
          encouraged us to kickstart our own workshop. Aged 75, he now works as
          a freelance consultant-cum-trainer and is revered for his proficiency
          in the craft.
        </p>
      </div>
    </section>
    <section class="artisan2">
      <!-- <img src="assets/images/jprofile1.jpg" alt=""> -->
      <div class="artisandiv2">
        <h4>RAMSWAROOP CHIPPA</h4>
        <h5>JAIRAMPURA, JAIPUR DISTRICT</h5>

        <p>
          Ramswaroop Chippa imbibed printing skills by inheritance from his
          gifted father Devi Sahay Chippa. He reminiscences his childhood days
          spent helping his father sell his Jajam at Jaipur’s weekly bazaar.
          Today, he continues printing in the same ancestral workspace, albeit
          with chemical dyes.
        </p>
      </div>
      <img src="assets/images/jprofile10.jpg" alt="" />
    </section>
  </div>
</section>
