<section>
  <div class="container1">
    <img src="assets/images/contactus.jpeg" alt="Placeholder Image" />
    <div class="overlay-text">
      <span class="topic-text">ContactUs</span>
      <hr class="horizontal-line" />
    </div>
  </div>

  <div class="container2">
    <p class="para1">
      Talk to us about our offerings that interest you, or anything else that
      comes to your mind.
    </p>
    <p class="para2">Find our contact form below—</p>
  </div>

  <div class="contact-section">
    <div class="form-section">
      <form>
        <div class="full-width">
          <label for="name">Name*</label>
          <input type="text" id="name" name="name" />
        </div>
        <div class="input-row">
          <div class="full-width">
            <label for="email">Email*</label>
            <input type="email" id="email" name="email" />
          </div>
          <div class="full-width">
            <label for="country">Country</label>
            <input type="text" id="country" name="country" />
          </div>
        </div>
      </form>
      <div class="info-text">
        We will only use your personal details to reach back to you, and they
        will not be shared with any third party.
      </div>
    </div>
    <hr class="bottom-line" />
  </div>

  <div class="form-section2">
    <div class="topic-container">
      <label for="topic">Topic</label>
      <div class="topic-count">
        <div class="topic-options">
          <div class="tab" [class.active]="activeTab === 'workshops'" (click)="setActiveTab('workshops')">Workshops</div>
        <div class="tab" [class.active]="activeTab === 'excursions'" (click)="setActiveTab('excursions')">Excursions</div>
        <div class="tab" [class.active]="activeTab === 'collections'" (click)="setActiveTab('collections')">Collections</div>
        <div class="tab" [class.active]="activeTab === 'message'" (click)="setActiveTab('message')">Just a Message</div>
        </div>
        <div class="info-text2">
          <p>
            Please select what offering interests you, or if you’re just sending
            a message.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-content">
      
      <div class="content" *ngIf="activeTab === 'workshops'">
        <form>
          <div class="excursions-section">
            <div class="excursion-group">
              <label for="preferred-date">Preferred Date*</label>
              <input type="date" id="preferred-date" name="preferred-date" />
            </div>
            <div class="form-row">
              <div class="excursions-group">
                <label for="location">Location*</label>
                <div class="location-options">
                  <div 
                    class="location-tab" 
                    [class.active]="selectedLocation === 'Any'" 
                    (click)="selectLocation('Any')">Any</div>
                  <div 
                    class="location-tab" 
                    [class.active]="selectedLocation === 'Bagru'" 
                    (click)="selectLocation('Bagru')">Bagru</div>
                  <div 
                    class="location-tab" 
                    [class.active]="selectedLocation === 'Delhi'" 
                    (click)="selectLocation('Delhi')">Delhi</div>
                  <div 
                    class="location-tab" 
                    [class.active]="selectedLocation === 'Jaipur'" 
                    (click)="selectLocation('Jaipur')">Jaipur</div>
                  <div 
                    class="location-tab" 
                    [class.active]="selectedLocation === 'Online'" 
                    (click)="selectLocation('Online')">Online</div>
                </div>
               
              </div>
              <div class="excursions-group">
                <label for="workshop">WORKSHOP*</label>
                <select 
                  class="select-item" 
                  id="workshop" 
                  name="workshop" 
                  (change)="onWorkshopChange($event)">
                  <option value="" disabled selected>Select</option>
                  <!-- <option value="Half-day Block Printing">Half-day Block Printing</option>
                  <option value="Half-day Natural Dye">Half-day Natural Dye</option>
                  <option value="One-day Block Carving">One-day Block Carving</option>
                  <option value="One-day Block Print & Natural Dye">One-day Block Print & Natural Dye</option>
                  <option value="One-day Natural Dye">One-day Natural Dye</option>
                  <option value="One-day Natural Indigo">One-day Natural Indigo</option>
                  <option value="Table Cloth Large">One-day Resist Printing</option>
                  <option value="One-day Resist Printing">Two-day Block Print & Natural Dye</option>
                  <option value="Two-day Resist Printing">Two-day Resist Printing</option>
                  <option value="Four-day Workshop">Four-day Workshop</option>
                  <option value="Six-day Workshop">Six-day Workshop</option>
                  <option value="Eight-day Workshop">Eight-day Workshop</option> -->
                  <option *ngFor="let workshop of filteredWorkshops" [value]="workshop">{{ workshop }}</option>
                </select>
              </div>
              <div class="tab-text">
                <p>
                  This Workshop features:
                </p>
              </div>
            </div>
            <div class="excursion-group" *ngIf="showImages">
              <label for="excursions">OPTIONAL EXCURSIONS</label>
              <div class="excursions-options">
                <div class="excursion-item"
                  [class.selected]="selectedExcursion === 'Bagru Ka Tour'"
                  (click)="selectExcursion('Bagru Ka Tour')">
                  <img src="/assets/images/2022_04.jpg" alt="Bagru Ka Tour" />
                  <div class="excursion-info">
                    <h3>Bagru Ka Tour</h3>
                    <p>Bagru · 2hr</p>
                  </div>
                </div>
                <div class="excursion-item"
                  [class.selected]="selectedExcursion === 'Traditional Textiles'"
                  (click)="selectExcursion('Traditional Textiles')">
                  <img src="/assets/images/2022_05.jpg" alt="Traditional Textiles" />
                  <div class="excursion-info">
                    <h3>Traditional Textiles</h3>
                    <p>Bagru · 2hr</p>
                  </div>
                </div>
                <div class="img-text">
                  <p>
                    You may visit any of these Excursions offered around your Workshop.
                  </p>
                </div>
              </div>
             
            </div>
          </div>
        </form>
      </div>
      
  
      <div class="content" *ngIf="activeTab === 'excursions'">
        <form>
          <div class="excursions-section">
            <form>
              <div class="excursion-group">
                <label for="preferred-date">Preferred Date*</label>
                <input type="date" id="preferred-date" name="preferred-date" />
              </div>
              <div class="excursion-group">
                <label for="location">Location*</label>
                <div class="location-options">
                  <div class="location-tab active">Any</div>
                  <div class="location-tab">Bagru</div>
                  <div class="location-tab">Delhi</div>
                  <div class="location-tab">Jaipur</div>
                  <div class="location-tab">Online</div>
                </div>
              </div>
              <div class="excursions-group">
                <label for="excursions">Excursions*</label>
                <div class="excursions-options">
                  <div class="excursion-item"
                  [class.selected]="selectedExcursion === 'Bagru Ka Tour'"
                  (click)="selectExcursion('Bagru Ka Tour')">
                    <img src="/assets/images/2022_04.jpg" alt="Bagru Ka Tour" />
                    
                    <div class="excursion-info">
                      <h3>Bagru Ka Tour</h3>
                      <p>Bagru · 2hr</p>
                      <!-- <div class="tick-mark" *ngIf="selectedExcursion === 'Bagru Ka Tour'">✓</div> -->
                    </div>
                  </div>
                  <div  class="excursion-item"
                  [class.selected]="selectedExcursion === 'Traditional Textiles'"
                  (click)="selectExcursion('Traditional Textiles')">
                    <img src="/assets/images/2022_05.jpg" alt="Traditional Textiles" />
                    
                    <div class="excursion-info">
                      <h3>Traditional Textiles</h3>
                      <p>Bagru · 2hr</p>
                      <!-- <div class="tick-mark" *ngIf="selectedExcursion === 'Traditional Textiles'">✓</div> -->
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </form>
      </div>
  
      <div class="content" *ngIf="activeTab === 'collections'">
        <form>
          <div class="select-section">
            <form>
              <div class="select-part">
                <label for="collection">Collection*</label>
                <select class="select-item" id="collection" name="collection">
                  <option value="" disabled selected>Select</option>
                  <option value="Bichhauni">Bichhauni</option>
                  <option value="Chaupad">Chaupad</option>
                  <option value="Jajam Barfi">Jajam Barfi</option>
                  <option value="Jajam Char Chaukor">Jajam Char Chaukor</option>
                  <option value="Jajam Spread">Jajam Spread</option>
                  <option value="Table Cloth Large">Table Cloth Large</option>
                </select>
              </div>
            </form>
          </div>
          
        </form>
      </div>
  
      <div class="content-active" id="message">
        <div class="message-container">
          <form>
            <label for="message-content">Message</label>
            <textarea id="message-content" name="message" rows="5"></textarea>
          </form>
        </div>
        <div class="button">
          <button class="submit-btn" type="submit">Send Message</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breathe">
  <div class="text-container">
    <h1>BREATHE EASY</h1>
    <div class="headline-text">
      <p>
        The countryside location of our studio has been designed with natural
        ventilation in mind, with large windows and doors that allow the breeze
        to flow through.
      </p>
    </div>

    <div class="row-text">
      <div class="text1-column">
        <p>
          The design prioritizes open spaces for people can move around and
          socialize freely without feeling confined. The pockets of privacy and
          community provide a sense of security and belonging. The
        </p>
      </div>
      <div class="text2-column">
        <p>
          studio embraces industrial style and leaves essential elements and
          services exposed, albeit neatly arranged, providing easy access for
          maintenance.
        </p>
      </div>
      <div class="text3-column">
        <p>The studio is designed to be healthy, comfortable, and welcoming.</p>
      </div>
    </div>
  </div>
</section>
