
.container1 {
  position: relative;
  width: 100%;
  height: 500px;
}

.container1 img {
  width: 100%;
  height: 100%;
  display: block;
}

.container1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(60, 12, 12, 0.5);
  z-index: 1;
}
.container1 h1 {
    position: absolute;
    top: 30%;
    left: 14%;
    padding-top: 18rem;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-family: Nunito Sans, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    line-height: 100%;
    padding-top: .05em;
    font-size: 3.25rem;
    font-weight: 400;
    letter-spacing: -.02em;
    /* opacity: 75%; */
}
.container1 .line {
    position: absolute;
    top:39.5%; /* Slightly below the text */
    left: 35%;
    width: 50%;
    height: 2px;
    background-color: white;
}



.container2 {
    margin-top: -1.5%;
    background-color: gray;
}

.container2 .para1 {
    margin-left: 15%;
    padding-top: 4%;
    margin-right: 35%;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    opacity: 50%;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
}
.container2 .para2{
    margin-left: 15%;
    padding-top: 2%;
    margin-right: 35%;
    padding-bottom: 4%;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.75rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    overflow-wrap: break-word;
    color: white;
}



.form-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    max-width: 80%;
    /* margin: auto; */
}

.form-section form {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.form-section form div {
    flex: 1;
    margin: 10px 10px 0 0;
}

.form-section form div.full-width {
    margin-top: 4%;
    margin-left: 10%;
    flex-basis: 50%;
}

.form-section label {
    font-family: Nunito, sans-serif;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    font-style: normal;
    font-weight: 800;
    font-size: .6875rem;
    line-height: 100%;
    letter-spacing: .06em;
    text-transform: uppercase;
}

.form-section input {
    width: 100%;
    padding: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: .6875rem;
    line-height: 100%;
    letter-spacing: .09em;
    text-transform: uppercase;
    padding: .50rem 0 .0775rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.info-text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.05rem;
    line-height: 1.3rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    flex: 1;
    padding: 2%;
    color: #333;
    margin-left: 5%;
    margin-top: 2%;
    overflow-wrap: break-word;
}
/* .line2 {
    width: 100%;
    height: 5%;
    background-color: #ff0000;
} */

#message{
  padding-bottom: 10%;
}

.form-section2 {
    box-sizing: border-box;
    /* display: flex; */
    /* justify-content: space-between; */
    border-bottom: 1px solid #ccc;
    max-width: 90%;
    margin-top: 2%;
    margin-left: 15% ;
}

.form-section2 form {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-section2 form div {
    width: 100%;
    margin-bottom: 2%;
}

.form-section2 label {
    display: block;
    margin-bottom: 1%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
}

/* .form-section2 input[type="text"], */
.form-section2 textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
.topic-cont{
  display: flex;
}
.topic-options {
    display: flex;
    width: 58%;
    justify-content: space-between;
    /* background-color: gray; */
    height: fit-content;
    /* padding: 1%; */
}

.tab {
    flex: 1;
    height: fit-content;
    text-align: center;
    padding: 1%;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    margin-right: 1%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:last-child {
    margin-right: 0;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: gray;
    color: white;
}
.tab-content{
    display: flex;
}
.tab-content .content {
    margin-top: 2%;
    width: 58%;
    display: none;
}
.content textarea{
    height: 10rem;
}

.tab-content .content.active {
    display: block;
}

.info-text2 p {
  font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.05rem;
    line-height: 1.3rem;
    letter-spacing: .02em;
    font-feature-settings: "pnum" on, "onum" on;
    flex: 1;
    padding: 2%;
    color: #333;
    margin-left: 5%;
    margin-top: 2%;
    overflow-wrap: break-word;
} 
.info-text2{
  margin-left: 5%;
  width: 25%;
  align-items: flex-end;
}
.info-text2 .submit-btn {
  width: fit-content;
  font-family: Nunito, sans-serif;
    font-style: normal;
    display: block;
    height: 35%;
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    margin-left: 10%;
    /* text-align: center; */
    border-radius: 20px;
    /* text-transform: uppercase; */
    cursor: pointer;
    border: none;
    font-size: 90%;
    font-weight: 600;
    letter-spacing: .1rem;
}

/* collectios tab*/

.select-section {
  max-width: 50%;
  margin: 2% auto;
}

.select-section form div {
  margin-bottom: 1.5%;
}

label {
  display: block;
  margin-bottom: 0.5%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
}
.select-part{
  align-items: start;
  margin-left: -50%;
  margin-top: -10%;
}
.select-item {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.select-item option{
  font-family: Nunito, sans-serif;
  font-weight: 600;
}

.select-item:focus {
  outline: none;
  border-color: #aaa;
}
/* excursion */

.excursions-section {
  max-width: 100%;
  margin: 2% auto;
  margin-left: -.5%;
}

.excursions-group {
  margin-bottom: 2%;
}

label {
  display: block;
  margin-bottom: 0.5%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90%;
}

input[type="date"],
input[type="text"] {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.location-options {
  display: flex;
  gap: 1%;
}

.location-tab {
  flex: 1;
  text-align: center;
  padding: 1%;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.location-tab.active,
.location-tab:hover {
  background-color: gray;
  color: white;
}

.excursions-options {
  display: flex;
  gap: 2%;
}

.excursion-item {
  position: relative;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.excursion-item:hover {
  transform: scale(1.05);
}

.excursion-item img {
  width: 100%;
  height: auto;
  display: block;
}

.excursion-select {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.excursion-info {
  padding: 10px;
  background-color: white;
  text-align: center;
}

.excursion-info h3 {
  margin: 0;
  font-size: 100%;
}

.excursion-info p {
  margin: 5px 0 0;
  font-size: 90%;
  color: gray;
}

.excursion-item[data-selected="true"] {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
}

.excursion-item[data-selected="true"] .excursion-select {
  background-color: blue;
  color: white;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; 
  width: 100%;
  z-index: 2;
}


.overlay-text{
  display: flex;
  align-items: center;
  width: 100%; 
  z-index: 2;
  padding-left: 10%;
  padding-right: 20%;
}

.horizontal-line {
  flex-grow: 1;
  background-color: #fff;
  border: none;
  height: 5px;
  /* margin-right: 10px;  */
  z-index: 2;
}

.topic-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 5rem;
  color: #fff;
  /* letter-spacing: 0.3em; */
  font-weight: normal;
  z-index: 2;
  text-transform: uppercase;
}
.breathe {
  padding: 20px;
  background-color: #d0c4ba;
  font-family: Arial, sans-serif;
  width: 100%;
  height: auto;
}

.text-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text-container h1 {
  font-size: 2.5em;
  color: #994f4f;
  text-align: start;
  margin-bottom: 20px;
}

.headline-text p {
  font-size: 1.2em;
  color: #8b4848;
  text-align: start;
  margin-bottom: 30px;
}

/* Row for the three columns */
.row-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

/* Individual column styles */
.row-text .text1-column,
.row-text .text2-column,
.row-text .text3-column {
  flex: 1;
  margin: 10px;
  min-width: 250px;
  max-width: 32%;
}

/* Text within the columns */
.row-text p {
  font-size: 1em;
  color: #8b4848;
  line-height: 1.5;
  margin: 0;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .row-text {
    flex-direction: column;
    align-items: left;
  }

  .row-text .text1-column,
  .row-text .text2-column,
  .row-text .text3-column {
    max-width: 100%;
    text-align: left;
  }
  .text-container h1{
    font-size: 2rem;

  }
  .topic-text {
    font-size: 3rem;
  }

  .overlay-text {
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
    display: block;
  }

  .horizontal-line {
    /* margin: 10px 0; */
    height: 3px;
  }
}

@media (max-width: 350px) {
  .container1 img {
      display: block;
      width: 100%;
  }
  .container1 h1 {
      top: 20%;
      left: 10%;
      font-size: 2rem;
      padding-top: 1rem;
  }
  .container1 .line {
      top: 25%;
      left: 10%;
      width: 80%;
  }
  .container2 .para1, 
  .container2 .para2 {
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
      font-size: 1rem;
  }
  .form-section {
    flex: 1;
    display: block;
      flex-direction: column;
      
  }
  .form-section form {
    display: block;
      flex-direction: column;
  }
  .form-section form div {
      width: 100%;
      margin: 5px 0;
  }
  .form-section label,
  .form-section input {
      font-size: 0.875rem;
  }
  .info-text {
      font-size: 0.875rem;
      
  }
  .form-section2 {
      max-width: 95%;
      margin: auto;
  }
  .topic-cont {
      flex-direction: column;
  }
  .topic-options {
      width: 95%;
      margin: auto;
  }
  .tab-content .content {
      width: 95%;
  }
  .info-text2 {
      width: 100%;
      margin-left: 0;
  }
  .info-text2 .submit-btn {
      width: 80%;
      margin: 10% auto;
  }
  .select-section {
      max-width: 95%;
      margin: auto;
  }
  .select-part {
      margin-left: 0;
  }
  .select-item {
      font-size: 0.875rem;
  }
  .excursions-section {
      max-width: 95%;
      margin: auto;
  }
  .location-options,
  .excursions-options {
      flex-direction: column;
  }
  .location-tab,
  .excursion-item {
      width: 100%;
      margin-bottom: 1rem;
  }
  .excursion-info h3,
  .excursion-info p {
      font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .topic-text {
    font-size: 2.5rem;
  }

  .overlay-text {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }
}

@media (max-width: 400px) {
  .topic-text {
    font-size: 2rem;
  }

  .overlay-text {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }

  .horizontal-line {
    height: 2px;
  }
}