<section>
  <section>
    <div class="image-container">
      <img src="assets/images/blockpaint1.jpg" alt="" />
      <div class="overlay-text">
        <span class="img-text">BLOCK PRINTING</span>
        <hr class="img-line" />
        <span class="img1-text">PROGRAM</span>
      </div>
    </div>
  </section>

  <section>
    <div class="text-container">
      <div class="text">
        <p>
          Block Printing, the very word calls up myriad visual images: earthy
          colored printed textiles drying under the sun, artisans nurturing
          traditional skills, communities living in harmony with nature. Yet
          these alluring depictions barely scratch the surface. Only repeated
          examinations can enable one to comprehend the intricate logic and
          wisdom behind the almost mysterious traditional virtuosity.
        </p>
      </div>
      <div class="headline">
        <h3>Recommended by</h3>
      </div>
      <div class="recommended-links">
        <div class="first-half">
          <div class="anokhi">
            <a href="">Anokhi museum of hand printing</a>
          </div>
          <div class="new-york">
            <a href="">The new york Times</a>
          </div>
          <div class="planet">
            <a href="">lonley Planet</a>
          </div>
          <div class="travel">
            <a href="">travel</a>
          </div>
        </div>

        <div class="download-button">
          <button class="btn">Download Brochure</button>
        </div>
      </div>
    </div>
  </section>
  <section class="sec2">
    <div class="tabs-container">
      <div class="tabs-left">
        <a class="tab" id="all-tab" [class.active]="currentContent === 'BAGRU'" (click)="switchContent('BAGRU')">BAGRU</a>
        <a class="tab" id="placeholder-tab" [class.active]="currentContent === 'ONLINE'" (click)="switchContent('ONLINE')">ONLINE</a>
      </div>
      <div class="line-and-topic">
        <hr class="horizontal-line" />
        <span class="topic-text">ONLINE</span>
      </div>
    </div>
<div *ngIf="currentContent === 'BAGRU'" class="bagru-container" id="BAGRU">
  <div class="program-section">
    <div class="program-header" (click)="toggleContent()">
      <span>HALF-DAY BLOCK PAINTING</span>
      <hr class="horizontal-line" />
      <span id="block-carving-icon" class="toggle-icon">{{
        isHalfDayVisible ? "-" : "+"
      }}</span>
    </div>
    <div
      id="block-carving-content"
      class="program-content"
      *ngIf="isHalfDayVisible"
    >
      <div class="text-row">
        <div class="text-part">
          <p class="para1">
            Hands-on experience with crafts often begins reciprocity and
            coexistence with nature. <br />
            Practice and acknowledge the collective wisdom of local craftsmen
            with time- <br />
            honored and admired skills.
          </p>
        </div>
        <div class="register-button">
          <button class="regbtn">Register!</button>
        </div>
      </div>
      <div class="small">
        <div class="details">
          <div class="individual">
            <div class="topic">3500 INR</div>
            <div class="label">Individual Cost</div>
          </div>
          <div class="group-cost">
            <div class="topic">2500 INR</div>
            <div class="label">Group Cost Per Person (2+)</div>
          </div>
          <div class="per-request">
            <div class="topic">Per request</div>
            <div class="label">Date</div>
          </div>
          <div class="hours">
            <div class="topic">3 hours per day</div>
            <div class="label">time</div>
          </div>
          <div class="offer">
            <div class="topic">Bagru</div>
            <div class="label">Offered At</div>
          </div>

          <div class="topic-level">
            <div class="topic">Block Painting</div>
            <div class="label">Programs Included</div>
          </div>
          <div class="optional-level">
            <div class="topic">___</div>
            <div class="label">OPTIONAL EXCURSIONS</div>
          </div>
        </div>
        <div class="three">
          <p class="para2">
            Print cotton scarf with mud-resist, dye in our 2000 litre indigo
            vat for the elusive blues.
          </p>
        </div>
        <div class="image">
          <img
            src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="program-section">
    <div class="program-header" (click)="oneDayContent()">
      <span>ONE-DAY BLOCK PAINT & NATURAL DYE</span>
      <hr class="horizontal-line" />
      <span id="block-carving-icon" class="toggle-icon">{{
        isOneDayVisible ? "-" : "+"
      }}</span>
    </div>
    <div
      id="block-carving-content"
      class="program-content"
      *ngIf="isOneDayVisible"
    >
      <div class="text-row">
        <div class="text-part">
          <div class="para1">
            <p>Surrender. And. Play</p>
            <P
              >Surrender to the current of the impulses and feelings. Let
              playfulness be the way of <BR /> being for a day. Immerse
              yourself in the process of ‘making’.</P
            >
            <P
              >Experiment and explore the beauty and magic of the two amazing
              ancient crafts of <br />
              India.</P
            >
          </div>
        </div>
        <div class="register-button">
          <button class="regbtn">Register!</button>
        </div>
      </div>
      <div class="small">
        <div class="details">
          <div class="individual">
            <div class="topic">8000 INR</div>
            <div class="label">Individual Cost</div>
          </div>
          <div class="group-cost">
            <div class="topic">5500 INR</div>
            <div class="label">Group Cost Per Person (2+)</div>
          </div>
          <div class="per-request">
            <div class="topic">Per request</div>
            <div class="label">Date</div>
          </div>
          <div class="hours">
            <div class="topic">6 hours per day</div>
            <div class="label">time</div>
          </div>
          <div class="offer">
            <div class="topic">begru, oNLINE</div>
            <div class="label">Offered At</div>
          </div>

          <div class="topic-level">
            <div class="topic">Block Printing, Natural Dye</div>
            <div class="label">Programs Included</div>
          </div>
          <div class="optional-level">
            <div class="topic">Bagru ka TourTraditional Textiles</div>
            <div class="label">OPTIONAL EXCURSIONS</div>
          </div>
        </div>
        <div class="three">
          <p class="para2">
            Discover the basics of fibres. Make and dye in your own indigo
            sugar vat. Learn the science behind block printing techniques.
            Print mud-resist on a cotton scarf with wooden blocks. Tie-dye a
            silk scarf in madder red. Prepare dye liquor, and shift colors
            with iron black and indigo blue.
          </p>
        </div>
        <div class="image">
          <img
            src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="program-section">
    <div class="program-header" (click)="twoDayContent()">
      <span>TWO-DAY BLOCK PAINT & NATURAL DYE</span>
      <hr class="horizontal-line" />
      <span id="block-carving-icon" class="toggle-icon">{{
        isTwoDayVisible ? "-" : "+"
      }}</span>
    </div>
    <div
      id="block-carving-content"
      class="program-content"
      *ngIf="isTwoDayVisible"
    >
      <div class="text-row">
        <div class="text-part">
          <div class="para1">
            <P
              >Let’s factor nature back in. Practice understanding craft,
              processes, and techniques, <BR /> but more importantly, a way of
              seeing - while acknowledging its limitations, <br />
              pressures, and fatigue.</P
            >
          </div>
        </div>
        <div class="register-button">
          <button class="regbtn">Register!</button>
        </div>
      </div>
      <div class="small">
        <div class="details">
          <div class="individual">
            <div class="topic">15000 INR</div>
            <div class="label">Individual Cost</div>
          </div>
          <div class="group-cost">
            <div class="topic">12000 INR</div>
            <div class="label">Group Cost Per Person (2+)</div>
          </div>
          <div class="per-request">
            <div class="topic">Per request</div>
            <div class="label">Date</div>
          </div>
          <div class="hours">
            <div class="topic">6 hours per day</div>
            <div class="label">time</div>
          </div>
          <div class="offer">
            <div class="topic">begru, Online</div>
            <div class="label">Offered At</div>
          </div>

          <div class="topic-level">
            <div class="topic">Block Printing, Natural Dye</div>
            <div class="label">Programs Included</div>
          </div>
          <div class="optional-level">
            <div class="topic">Bagru ka TourTraditional Textiles</div>
            <div class="label">OPTIONAL EXCURSIONS</div>
          </div>
        </div>
        <div class="three">
          <p class="para2">
            Begin with scouring and mordanting the cloth. Make and learn the
            science of natural indigo vat. Prepare binders and printing
            pastes. Block print with mud resist and traditional inks. Nuances
            of woodblock carving. Use cold dyes - indigo/iron sulfate. Shibori
            silk scarf and dip in hot dyes with flowers, barks, roots, leaves.
          </p>
        </div>
        <div class="image">
          <img
            src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>


  <div class="program-section">
    <div class="program-header" (click)="fourDayContent()">
      <span>FOUR-DAY WORKSHOP</span>
      <hr class="horizontal-line" />
      <span id="block-carving-icon" class="toggle-icon">{{
        isFourDayVisible ? "-" : "+"
      }}</span>
    </div>
    <div
      id="block-carving-content"
      class="program-content"
      *ngIf="isFourDayVisible"
    >
      <div class="text-row">
        <div class="text-part">
          <div class="para1">
            <P
            >Philosophical speculation, attention to detail, perspective talking,
            asking questions - <BR /> sure are the raw materials for life, and so
            for crafts. An insatiable curious four-day <br />
            climate.</P
          >
          <P
            >We ensure that your learnings of these crafts outlast this scheduled
            programme.</P
          >
          </div>
        </div>
        <div class="register-button">
          <button class="regbtn">Register!</button>
        </div>
      </div>
      <div class="small">
        <div class="details">
          <div class="individual">
            <div class="topic">28000 INR</div>
            <div class="label">Individual Cost</div>
          </div>
          <div class="group-cost">
            <div class="topic">22000 INR</div>
            <div class="label">Group Cost Per Person (2+)</div>
          </div>
          <div class="per-request">
            <div class="topic">Per request</div>
            <div class="label">Date</div>
          </div>
          <div class="hours">
            <div class="topic">6 hours per day</div>
            <div class="label">time</div>
          </div>
          <div class="offer">
            <div class="topic">begru, Online</div>
            <div class="label">Offered At</div>
          </div>

          <div class="topic-level">
            <div class="topic">Block Printing, Natural Dye</div>
            <div class="label">Programs Included</div>
          </div>
          <div class="optional-level">
            <div class="topic">Bagru ka Tour, Traditional Textiles</div>
            <div class="label">OPTIONAL EXCURSIONS</div>
          </div>
        </div>
        <div class="three">
          <p class="para2">
            A self-paced inclusive module with hands-on learning and in-depth
            understanding with mentors and master craftspersons. Experience a
            grey cloth transform into a finished piece along with
            conversations replete with history, traditions and modern dyeing
            methods. Create a swatch book studded in natural colors and
            various block printing techniques.
          </p>
        </div>
        <div class="image">
          <img
            src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  

  <div class="program-section">
    <div class="program-header" (click)="sixDayContent()">
      <span>SIX-DAY WORKSHOP</span>
      <hr class="horizontal-line" />
      <span id="block-carving-icon" class="toggle-icon">{{
        isSixDayVisible ? "-" : "+"
      }}</span>
    </div>
    <div
      id="block-carving-content"
      class="program-content"
      *ngIf="isSixDayVisible"
    >
      <div class="text-row">
        <div class="text-part">
          <div class="para1">
            <P
        >So much of what propels our pursuit of beauty stems from the
        invisible connection <BR /> between nature and labor, realized only
        with time. Experience of working in the crafts <br />
        for six consecutive days will reveal new insights into the alchemy of
        multiple pre- <br />
        industrial processes; aided by organic and plant produce.</P
      >
      <P
        >We are delighted to host enthusiasts seeking to create a color
        palette of their own <br />
        with direct and compound dyes.</P
      >
          </div>
        </div>
        <div class="register-button">
          <button class="regbtn">Register!</button>
        </div>
      </div>
      <div class="small">
        <div class="details">
          <div class="individual">
            <div class="topic">54000 INR</div>
            <div class="label">Individual Cost</div>
          </div>
          <div class="group-cost">
            <div class="topic">37000 INR</div>
            <div class="label">Group Cost Per Person (2+)</div>
          </div>
          <div class="per-request">
            <div class="topic">Per request</div>
            <div class="label">Date</div>
          </div>
          <div class="hours">
            <div class="topic">6 hours per day</div>
            <div class="label">time</div>
          </div>
          <div class="offer">
            <div class="topic">begru, Online</div>
            <div class="label">Offered At</div>
          </div>

          <div class="topic-level">
            <div class="topic">
              Block Printing, Natural Dye, Resist Printing
            </div>
            <div class="label">Programs Included</div>
          </div>
          <div class="optional-level">
            <div class="topic">Bagru ka Tour, Traditional Textiles</div>
            <div class="label">OPTIONAL EXCURSIONS</div>
          </div>
        </div>
        <div class="three">
          <p class="para2">
            More number of days means more colors. Prepare dye extracts from
            real dye-stuffs, understand the effects of water quality, pH and
            decode traditional scouring methods. Use flowers, barks, roots,
            insect dyes to dye protein and cellulose fibres. Set up a natural
            Indigo fermentation vat and make printing inks and mud resist
            paste. Learn woodblock making techniques and traditional, modern
            dyeing methods with one-to-one mentoring.
          </p>
        </div>
        <div class="image">
          <img
            src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>


  <div class="program-section">
    <div class="program-header" (click)="eightDayContent()">
      <span>EIGHT-DAY WORKSHOP</span>
      <hr class="horizontal-line" />
      <span id="block-carving-icon" class="toggle-icon">{{
        isEightDayVisible ? "-" : "+"
      }}</span>
    </div>
    <div
      id="block-carving-content"
      class="program-content"
      *ngIf="isEightDayVisible"
    >
      <div class="text-row">
        <div class="text-part">
          <div class="para1">
            <P
            >Dissolving assumed and conventional separations between notions offer
            a new way <BR /> of retaining and expanding sensitivity to multiple
            inherited traditions. Be humbled by <br />
            the incredible degree of diversity and regional specialisation when
            the boundaries <br />
            amongst four ancient crafts are blurred.</P
          >
          <P>We let your method and approach overtake the dominant aesthetic.</P>
          </div>
        </div>
        <div class="register-button">
          <button class="regbtn">Register!</button>
        </div>
      </div>
      <div class="small">
        <div class="details">
          <div class="individual">
            <div class="topic">82000 INR</div>
            <div class="label">Individual Cost</div>
          </div>
          <div class="group-cost">
            <div class="topic">70000 INR</div>
            <div class="label">Group Cost Per Person (2+)</div>
          </div>
          <div class="per-request">
            <div class="topic">Per request</div>
            <div class="label">Date</div>
          </div>
          <div class="hours">
            <div class="topic">6 hours per day</div>
            <div class="label">time</div>
          </div>
          <div class="offer">
            <div class="topic">begru, Jaipur</div>
            <div class="label">Offered At</div>
          </div>

          <div class="topic-level">
            <div class="topic">
              Block Printing, Natural Dye, Resist Printing, Block Carving,
              Bagru ka Tour
            </div>
            <div class="label">Programs Included</div>
          </div>
          <div class="optional-level">
            <div class="topic">Traditional Textiles</div>
            <div class="label">OPTIONAL EXCURSIONS</div>
          </div>
        </div>
        <div class="three">
          <p class="para2">
            Spend a day with master block carvers, carve your own designs, and
            learn the craft’s nuances. Print on cotton with self-carved block
            designs or draw with brush, tjanting. Use traditional inks, hot
            wax-resist, mud-resist, shibori, tie-dye, and various natural dyes
            and pastes to create your collection and swatches. Insights into
            the nature of cellulose, protein fibers, the role of minerals,
            plant based mordants. Set up a natural indigo fermentation vat and
            learn the science of extracting indigo plant to pigment.
          </p>
        </div>
        <div class="image">
          <img
            src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  
</div>
   
    

    <div *ngIf="currentContent === 'ONLINE'" id="ONLINE" class="tabcontent">
      <div class="program-section">
        <div class="program-header" (click)="toggleContent()">
          <span>HALF-DAY BLOCK PAINTING</span>
          <hr class="horizontal-line" />
          <span id="block-carving-icon" class="toggle-icon">{{
            isHalfDayVisible ? "-" : "+"
          }}</span>
        </div>
        <div
          id="block-carving-content"
          class="program-content"
          *ngIf="isHalfDayVisible"
        >
          <div class="text-row">
            <div class="text-part">
              <p class="para1">
                Hands-on experience with crafts often begins reciprocity and
                coexistence with nature. <br />
                Practice and acknowledge the collective wisdom of local craftsmen
                with time- <br />
                honored and admired skills.
              </p>
            </div>
            <div class="register-button">
              <button class="regbtn">Register!</button>
            </div>
          </div>
          <div class="small">
            <div class="details">
              <div class="individual">
                <div class="topic">3500 INR</div>
                <div class="label">Individual Cost</div>
              </div>
              <div class="group-cost">
                <div class="topic">2500 INR</div>
                <div class="label">Group Cost Per Person (2+)</div>
              </div>
              <div class="per-request">
                <div class="topic">Per request</div>
                <div class="label">Date</div>
              </div>
              <div class="hours">
                <div class="topic">3 hours per day</div>
                <div class="label">time</div>
              </div>
              <div class="offer">
                <div class="topic">Bagru</div>
                <div class="label">Offered At</div>
              </div>
  
              <div class="topic-level">
                <div class="topic">Block Painting</div>
                <div class="label">Programs Included</div>
              </div>
              <div class="optional-level">
                <div class="topic">___</div>
                <div class="label">OPTIONAL EXCURSIONS</div>
              </div>
            </div>
            <div class="three">
              <p class="para2">
                Print cotton scarf with mud-resist, dye in our 2000 litre indigo
                vat for the elusive blues.
              </p>
            </div>
            <div class="image">
              <img
                src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
  
      <div class="program-section">
        <div class="program-header" (click)="oneDayContent()">
          <span>ONE-DAY BLOCK PAINT & NATURAL DYE</span>
          <hr class="horizontal-line" />
          <span id="block-carving-icon" class="toggle-icon">{{
            isOneDayVisible ? "-" : "+"
          }}</span>
        </div>
        <div
          id="block-carving-content"
          class="program-content"
          *ngIf="isOneDayVisible"
        >
          <div class="text-row">
            <div class="text-part">
              <div class="para1">
                <p>Surrender. And. Play</p>
                <P
                  >Surrender to the current of the impulses and feelings. Let
                  playfulness be the way of <BR /> being for a day. Immerse
                  yourself in the process of ‘making’.</P
                >
                <P
                  >Experiment and explore the beauty and magic of the two amazing
                  ancient crafts of <br />
                  India.</P
                >
              </div>
            </div>
            <div class="register-button">
              <button class="regbtn">Register!</button>
            </div>
          </div>
          <div class="small">
            <div class="details">
              <div class="individual">
                <div class="topic">8000 INR</div>
                <div class="label">Individual Cost</div>
              </div>
              <div class="group-cost">
                <div class="topic">5500 INR</div>
                <div class="label">Group Cost Per Person (2+)</div>
              </div>
              <div class="per-request">
                <div class="topic">Per request</div>
                <div class="label">Date</div>
              </div>
              <div class="hours">
                <div class="topic">6 hours per day</div>
                <div class="label">time</div>
              </div>
              <div class="offer">
                <div class="topic">begru, oNLINE</div>
                <div class="label">Offered At</div>
              </div>
  
              <div class="topic-level">
                <div class="topic">Block Printing, Natural Dye</div>
                <div class="label">Programs Included</div>
              </div>
              <div class="optional-level">
                <div class="topic">Bagru ka TourTraditional Textiles</div>
                <div class="label">OPTIONAL EXCURSIONS</div>
              </div>
            </div>
            <div class="three">
              <p class="para2">
                Discover the basics of fibres. Make and dye in your own indigo
                sugar vat. Learn the science behind block printing techniques.
                Print mud-resist on a cotton scarf with wooden blocks. Tie-dye a
                silk scarf in madder red. Prepare dye liquor, and shift colors
                with iron black and indigo blue.
              </p>
            </div>
            <div class="image">
              <img
                src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      
      <div class="program-section">
        <div class="program-header" (click)="twoDayContent()">
          <span>TWO-DAY BLOCK PAINT & NATURAL DYE</span>
          <hr class="horizontal-line" />
          <span id="block-carving-icon" class="toggle-icon">{{
            isTwoDayVisible ? "-" : "+"
          }}</span>
        </div>
        <div
          id="block-carving-content"
          class="program-content"
          *ngIf="isTwoDayVisible"
        >
          <div class="text-row">
            <div class="text-part">
              <div class="para1">
                <P
                  >Let’s factor nature back in. Practice understanding craft,
                  processes, and techniques, <BR /> but more importantly, a way of
                  seeing - while acknowledging its limitations, <br />
                  pressures, and fatigue.</P
                >
              </div>
            </div>
            <div class="register-button">
              <button class="regbtn">Register!</button>
            </div>
          </div>
          <div class="small">
            <div class="details">
              <div class="individual">
                <div class="topic">15000 INR</div>
                <div class="label">Individual Cost</div>
              </div>
              <div class="group-cost">
                <div class="topic">12000 INR</div>
                <div class="label">Group Cost Per Person (2+)</div>
              </div>
              <div class="per-request">
                <div class="topic">Per request</div>
                <div class="label">Date</div>
              </div>
              <div class="hours">
                <div class="topic">6 hours per day</div>
                <div class="label">time</div>
              </div>
              <div class="offer">
                <div class="topic">begru, Online</div>
                <div class="label">Offered At</div>
              </div>
  
              <div class="topic-level">
                <div class="topic">Block Printing, Natural Dye</div>
                <div class="label">Programs Included</div>
              </div>
              <div class="optional-level">
                <div class="topic">Bagru ka TourTraditional Textiles</div>
                <div class="label">OPTIONAL EXCURSIONS</div>
              </div>
            </div>
            <div class="three">
              <p class="para2">
                Begin with scouring and mordanting the cloth. Make and learn the
                science of natural indigo vat. Prepare binders and printing
                pastes. Block print with mud resist and traditional inks. Nuances
                of woodblock carving. Use cold dyes - indigo/iron sulfate. Shibori
                silk scarf and dip in hot dyes with flowers, barks, roots, leaves.
              </p>
            </div>
            <div class="image">
              <img
                src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
  
      <div class="program-section">
        <div class="program-header" (click)="fourDayContent()">
          <span>FOUR-DAY WORKSHOP</span>
          <hr class="horizontal-line" />
          <span id="block-carving-icon" class="toggle-icon">{{
            isFourDayVisible ? "-" : "+"
          }}</span>
        </div>
        <div
          id="block-carving-content"
          class="program-content"
          *ngIf="isFourDayVisible"
        >
          <div class="text-row">
            <div class="text-part">
              <div class="para1">
                <P
                >Philosophical speculation, attention to detail, perspective talking,
                asking questions - <BR /> sure are the raw materials for life, and so
                for crafts. An insatiable curious four-day <br />
                climate.</P
              >
              <P
                >We ensure that your learnings of these crafts outlast this scheduled
                programme.</P
              >
              </div>
            </div>
            <div class="register-button">
              <button class="regbtn">Register!</button>
            </div>
          </div>
          <div class="small">
            <div class="details">
              <div class="individual">
                <div class="topic">28000 INR</div>
                <div class="label">Individual Cost</div>
              </div>
              <div class="group-cost">
                <div class="topic">22000 INR</div>
                <div class="label">Group Cost Per Person (2+)</div>
              </div>
              <div class="per-request">
                <div class="topic">Per request</div>
                <div class="label">Date</div>
              </div>
              <div class="hours">
                <div class="topic">6 hours per day</div>
                <div class="label">time</div>
              </div>
              <div class="offer">
                <div class="topic">begru, Online</div>
                <div class="label">Offered At</div>
              </div>
  
              <div class="topic-level">
                <div class="topic">Block Printing, Natural Dye</div>
                <div class="label">Programs Included</div>
              </div>
              <div class="optional-level">
                <div class="topic">Bagru ka Tour, Traditional Textiles</div>
                <div class="label">OPTIONAL EXCURSIONS</div>
              </div>
            </div>
            <div class="three">
              <p class="para2">
                A self-paced inclusive module with hands-on learning and in-depth
                understanding with mentors and master craftspersons. Experience a
                grey cloth transform into a finished piece along with
                conversations replete with history, traditions and modern dyeing
                methods. Create a swatch book studded in natural colors and
                various block printing techniques.
              </p>
            </div>
            <div class="image">
              <img
                src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>


      <div class="program-section">
        <div class="program-header" (click)="sixDayContent()">
          <span>SIX-DAY WORKSHOP</span>
          <hr class="horizontal-line" />
          <span id="block-carving-icon" class="toggle-icon">{{
            isSixDayVisible ? "-" : "+"
          }}</span>
        </div>
        <div
          id="block-carving-content"
          class="program-content"
          *ngIf="isSixDayVisible"
        >
          <div class="text-row">
            <div class="text-part">
              <div class="para1">
                <P
            >So much of what propels our pursuit of beauty stems from the
            invisible connection <BR /> between nature and labor, realized only
            with time. Experience of working in the crafts <br />
            for six consecutive days will reveal new insights into the alchemy of
            multiple pre- <br />
            industrial processes; aided by organic and plant produce.</P
          >
          <P
            >We are delighted to host enthusiasts seeking to create a color
            palette of their own <br />
            with direct and compound dyes.</P
          >
              </div>
            </div>
            <div class="register-button">
              <button class="regbtn">Register!</button>
            </div>
          </div>
          <div class="small">
            <div class="details">
              <div class="individual">
                <div class="topic">54000 INR</div>
                <div class="label">Individual Cost</div>
              </div>
              <div class="group-cost">
                <div class="topic">37000 INR</div>
                <div class="label">Group Cost Per Person (2+)</div>
              </div>
              <div class="per-request">
                <div class="topic">Per request</div>
                <div class="label">Date</div>
              </div>
              <div class="hours">
                <div class="topic">6 hours per day</div>
                <div class="label">time</div>
              </div>
              <div class="offer">
                <div class="topic">begru, Online</div>
                <div class="label">Offered At</div>
              </div>
  
              <div class="topic-level">
                <div class="topic">
                  Block Printing, Natural Dye, Resist Printing
                </div>
                <div class="label">Programs Included</div>
              </div>
              <div class="optional-level">
                <div class="topic">Bagru ka Tour, Traditional Textiles</div>
                <div class="label">OPTIONAL EXCURSIONS</div>
              </div>
            </div>
            <div class="three">
              <p class="para2">
                More number of days means more colors. Prepare dye extracts from
                real dye-stuffs, understand the effects of water quality, pH and
                decode traditional scouring methods. Use flowers, barks, roots,
                insect dyes to dye protein and cellulose fibres. Set up a natural
                Indigo fermentation vat and make printing inks and mud resist
                paste. Learn woodblock making techniques and traditional, modern
                dyeing methods with one-to-one mentoring.
              </p>
            </div>
            <div class="image">
              <img
                src="https://wabisabiproject.com/media/botanical-drawings/Img5516L.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="blcock_painting_script.js"></script>
  </section>
  <section class="sec3">
    <div class="line">
      <span class="topic-text1">Photos from us</span>
      <hr class="horizontal1-line" />
    </div>
    <section class="photo-sec">
      <img loading="eager" src="assets/images/blockpaint2.jpg" alt="" />
      <img loading="eager" src="assets/images/blockpaint3.jpg" alt="" />
      <img loading="eager" src="assets/images/blockpaint4.jpg" alt="" />
      <img loading="eager" src="assets/images/blockpaint5.jpg" alt="" />
      <img loading="eager" src="assets/images/blockpaint06.png" alt="" />
      <img loading="eager" src="assets/images/blockpaint7.jpg" alt="" />
      <img loading="eager" src="assets/images/blockpaint8.jpg" alt="" />
      <img loading="eager" src="assets/images/blockpaint9.jpg" alt="" />
      
    </section>
    <button class="img-btn">See More Photos &rarr;</button>
  </section>
    <section class="quotes-sec">
      <div class="line">
        <span class="topic-text1">QUOTES FROM YOU</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="testimonial-section">
        <div class="testimonial">
          <p class="quote">
            “ The process, the tempo, the structure and the way in which
            information was shared was excellent. I felt neither rushed nor
            overwhelmed over the course of the two days despite all the
            information I was so eager to know and learn. ”
          </p>
          <div class="user-info">
            <img src="assets/images/erin.jpg" alt="Aimee Vandersteen" />
            <p class="user-name">ERIN DOWDING</p>
          </div>
        </div>
        <div class="testimonial-section">
          <div class="testimonial">
            <p class="quote">
              “ The information presented with mix of theory and practical and
              the focus on the process was something I enjoyed the most. I
              really appreciate the work you have done in developing Wabisabi
              and your commitment to natural dyes and then to share that
              knowledge. ”
            </p>
            <div class="user-info">
              <img src="assets/images/JOSHUA.jpg" alt="Aimee Vandersteen" />
              <p class="user-name">JOSHUA BURGESS</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="quotes-sec">
      <div class="testimonial-section">
        <div class="testimonial">
          <p class="quote">
            “ Very friendly and relaxed environment. I appreciate the deep
            respect you have for the craft and it’s history. I enjoyed how you
            let us gradually get into the groove and so much knowledge you
            willingly shared. ”
          </p>
          <div class="user-info">
            <img src="assets/images/TORIL.jpg" alt="Aimee Vandersteen" />
            <p class="user-name">TORIL GRUE</p>
          </div>
        </div>
        <div class="testimonial-section">
          <div class="testimonial">
            <p class="quote">
              “ I enjoyed learning about the history and traditional processes,
              the flexibility of tailoring the experience to work for our unique
              need and the tour of Bagru. This will be our special memories I
              will carry away from our India trip. ”
            </p>
            <div class="user-info">
              <img src="assets/images/ANN.jpg" alt="Aimee Vandersteen" />
              <p class="user-name">ANN SMITH</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="quotes-sec">
      <div class="testimonial-section">
        <div class="testimonial">
          <p class="quote">
            “ I loved that we get free reign to create whatever we wanted. The
            space was so calm and soothing to be in, felt really at home and
            free to explore. Felt welcomed to ask questions. ”
          </p>
          <div class="user-info">
            <img src="assets/images/AIMEE.jpg" alt="Aimee Vandersteen" />
            <p class="user-name">AIMEE VANDERSTEEN</p>
          </div>
        </div>
        <div class="testimonial-section">
          <div class="testimonial">
            <p class="quote">
              “ I really enjoyed being immersed in the art of block printing and
              dyeing. It was an amazing experience for our entire group. I would
              like to come again. ”
            </p>
            <div class="user-info">
              <img src="assets/images/SUJATA.jpg" alt="Aimee Vandersteen" />
              <p class="user-name">SUJATA SHAH</p>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <section class="sec4">
      <div class="line">
        <span class="topic-text1">RECOMMENDED EXCURSIONS</span>
        <hr class="horizontal1-line" />
      </div>
      <div class="rec-sec">
        <div class="textsec">
          <div class="h1txt">BAGRU KA TOUR</div>
          <p class="smallp">Bagru · 2hr</p>
          <p class="bigp">
            Bagru ka Tour is an experience of walking through a series of
            visceral nature of livelihoods connected to the crafts of
            hand-making in textiles.
          </p>
          <button class="exc-btn">Visit Excursion</button>
        </div>
        <div class="picsec">
          <img src="assets/images/blockimg7.jpg" alt="" />
        </div>
      </div>
    </section>
    <section id="last-sec" class="tabcontent1">
      <div class="line">
        <span class="topic-text1">RECOMMENDED PROGRAMS </span>
        <hr class="horizontal1-line" />
      </div>
      <div class="container">
        <div class="item" onclick="window.location='#'">
          <img src="assets/images/block_prints.jpg" alt="Block Printing" />
          <p>BLOCK PRINTING</p>
          <p class="location">Jaipur, Online</p>
        </div>
        <div class="item" onclick="window.location='#'">
          <img src="assets/images/Natural_dyes.JPG" alt="Natural Dye" />
          <p>NATURAL DYE</p>
          <p class="location">Bagru, Delhi, Online</p>
        </div>
        <div class="item" onclick="window.location='#'">
          <img src="assets/images/resist-printing.jpg" alt="Natural Indigo" />
          <p>RESIST PAINTING</p>
          <p class="location">Bahru, Online</p>
        </div>
      </div>
    </section>
 
  <section class="breathe">
    <div class="breathe-container">
      <h1>BREATHE EASY</h1>
      <div class="headline-text">
        <p>
          The countryside location of our studio has been designed with natural
          ventilation in mind, with large windows and doors that allow the
          breeze to flow through.
        </p>
      </div>

      <div class="row-text">
        <div class="text1-column">
          <p>
            The design prioritizes open spaces for people can move around and
            socialize freely without feeling confined. The pockets of privacy
            and community provide a sense of security and belonging. The
          </p>
        </div>
        <div class="text2-column">
          <p>
            studio embraces industrial style and leaves essential elements and
            services exposed, albeit neatly arranged, providing easy access for
            maintenance.
          </p>
        </div>
        <div class="text3-column">
          <p>
            The studio is designed to be healthy, comfortable, and welcoming.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="jaipur">
    <div class="jaipur-section">
      <div class="jaipur-header" (click)="jaipurContent()">
        <span>BAGRU</span>
        <hr class="horizontal2-line" />
        <span id="workshop-icon" class="toggle-icon">{{
          isJaipur ? "-" : "+"
        }}</span>
      </div>
      <div id="workshop-content" class="jaipur-content" *ngIf="isJaipur">
        <div class="jaipur-text">
          <p>
            Bagru, a small village town in Rajasthan, is situated at a distance of 32 kms. south-west of Jaipur city. Its traditional processes of hand block printing on textiles with rich natural colors have been known for many centuries. With the attraction of foreign buyers for the traditional hand printed textiles, this village hums with much activity today, supplying exquisite printed materials for the export trade.
          </p>
          <p>The hand printers, known as chhipas, came from Sawai Madhopur, Alwar, Jhunjhunu and Sikkar districts of Rajasthan to settle in Bagru and make it their home some 300 years ago. According to a legend, at the very outset, some two families of chhipas were brought by the Thakur of Bagru to settle in Bagru from Isarda, a village four miles from Jaipur and from then on migration of more families of chhipas continued from different places.</p>
        <p>Block Printing and Dyeing of Bagru, Rajasthanby Bijoy Chandra Mohanty and Jagadish Prasad Mohanty</p>
        </div>
      </div>
    </div>

    <div class="jaipur-section">
      <div class="jaipur-header" (click)="onlineContent()">
        <span>ONLINE</span>
        <hr class="horizontal2-line" />
        <span id="workshop-icon" class="toggle-icon">{{
          isOnline ? "-" : "+"
        }}</span>
      </div>
      <div id="workshop-content" class="jaipur-content" *ngIf="isOnline">
        <div class="jaipur-text">
          <p>During the global COVID lockdowns when travel and in-person gatherings were restricted, we initiated virtual adaptations of our workshops. This innovative approach to crafting has captured our attention, and we are dedicated to enhancing its sophistication. Our primary objective remains consistent in both virtual and physical versions – to maintain a personalized and engaging experience.</p>
          <p>In the virtual workshops, upon enrollment, we dispatch a comprehensive dye-kit containing all the necessary ingredients and detailed instructions to your doorstep. To ensure you achieve the desired results and to foster a sense of inclusion, we complement this kit with daily online personal sessions led by experienced instructors. This approach allows you to fully participate and engage, even from a distance, preserving the essence of our craft workshops.</p>
       
        </div>
      </div>
    </div>
  </section>

</section>
