<section>
  <div class="image-container"></div>
</section>
<app-jajam-text1></app-jajam-text1>

<section>
  <div class="image-container1">
    <div class="image-headline">
      <h4>THE</h4>
      <h1>PEOPLE'S TEXTILE</h1>
    </div>
  </div>
</section>

<section class="text-contatiner">
  <div class="text-coming">
    <h1>COMING TOGETHER</h1>
    <p>
      Jajam has been called the people’s textiles as they were often communally
      owned and played a vital role in the social life of the village. These
      intricately crafted textiles were personalised for each community and were
      spread out when the communities got together for important events or
      festivals. Jajam textiles also have a history of being exchanged as
      marital gifts or temple offerings. In rural households, they were a symbol
      of honour for the visiting guests as well as convenient seating at fairs
      and festivals.
    </p>
  </div>
</section>

<Section class="text-contatiner2">
  <div class="year">
    <h4>SINCE 2016</h4>
  </div>
  <div class="rediscover">
    <h1>REDISCOVERING JAJAM</h1>
    <p>
      In an effort to bring this remarkable textile out of obscurity, Wabisabi
      Project has initiated a project — Rediscovering Jajam with enthusiastic
      support from the Anokhi Museum of Hand Printing.
    </p>
    <p>
      The project began with the objective of documenting the craft, stories,
      and culture around Jajam. In due course, the research blossomed into an
      exhibition that explores the significance of jajam through old textiles
      and new experiments by us, and a video documentary that captures various
      narratives of jajam textile and its ubiquity in everyday life.
    </p>
    <p>
      Gradually, this project which began on a pilot basis in 2016 opened new
      avenues. With more people on board, the ship is steadily sailing en route
      on the course of rediscovering jajam.
    </p>
  </div>
  <div class="tabs">
    <a class="tablinks"> Documentary </a>
    <div class="horizontal-line"></div>
    <a class="tablinks"> Production </a>
    <div class="horizontal-line"></div>
    <a class="tablinks"> Research </a>
    <div class="horizontal-line"></div>
    <a class="tablinks"> Exhibition </a>
  </div>
</Section>

<section>
  <div class="image-container2">
    <div class="txt-container2">
      <h4>REDISCOVERING</h4>
      <h1>JAJAM</h1>
      <p>
        As public spaces go missing in our urban lifestyles, Indian craftsmen
        share their stories of Jajam, a large traditional textile that signified
        a space of gathering for people in villages. Embedded in the culture of
        Rajasthan, Jajam was called the ‘people’s textile’ as it was often
        communally-owned and played a vital role in the social fabric of local
        communities. “Rediscovering Jajam” is not only about how Jajam textiles
        have featured in changing contexts over the centuries, but also about
        the people, their experiences, beliefs and way of life.
      </p>
      <div class="image-logo">
        <img src="assets/images/jajam3.png" alt="Jajam Logo" />
      </div>

      <button class="btn" type="button"><span>Watch the Trailer</span></button>
    </div>
  </div>
</section>

<section>
  <div class="wish-container">
    <img class="img1" src="assets/images/jajam5.png" alt="" />
    <h2>The Wish to Make. One. Many</h2>
    <p>
      The threads of Jajam beautifully weave together wisdom gained across
      generations. It transcends the boundary of textile and emerges as a
      unifying agent in the celebration of togetherness. At our Bagru workshop,
      as young designers, we strive to adapt these vocabularies of Jajam motifs
      to recreate it in its traditional aesthetics and further make contemporary
      apparel and home furnishings. In our heart of hearts, we hope the concept
      of coming together is revisited in today’s digital age.
    </p>
    <button class="btn" type="button"><span>Visit Out Collection</span></button>
    <img class="img2" src="assets/images/jajam6.jpg" alt="" />
  </div>
</section>

<section>
  <div class="research-container">
    <h4>On-going Research</h4>
    <p>
      During our research, we could trace the roots of Jajam to various parts of
      Rajasthan. Striking cultural similarities led Jajam prints to surface in
      the Barmer region of Western Rajasthan. Further east, we reached the Bundi
      region, popular for resplendent Jajam with local floral and wildlife
      motifs. We also found printing hotspots in the Ajmer region of central
      Rajasthan. As the seat of Rajputs, Shekhawati emerged as a land of
      dedicated Jajam patrons.
    </p>
    <p>
      Our immense faith in interacting with communities is leading us cheerfully
      to these regions. We believe in documenting these facts, stories, and
      memories and passing them on to other Jajam enthusiasts. This along with
      the exhibition of craftspeople's skills and their labor of love is the
      best way forward.
    </p>
    <button class="btn" type="button">
      <span>Explore Regional Jajam</span>
    </button>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d923882.6993640591!2d86.49106979370114!3d25.23972731233398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fa98ec952b36bf%3A0x78a915803065bf4!2sBibhanshu%20massala%20dukan!5e0!3m2!1sen!2sin!4v1717721481653!5m2!1sen!2sin"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>

<section class="travel">
  <div class="traveling-container"></div>
  <div class="travel-text1">
    <h4>THE TRAVELING EXHIBITION</h4>
    <h2>REDISCOVERING <span class="highlight">JAJAM</span></h2>
    <p>
      Tracing the aesthetic variations in Jajam textiles, the exhibition
      highlights a wide-ranging collection of new and old jajam across several
      regions of Rajasthan. This exhibition focuses on the craftspeople,
      highlighting their stories while simultaneously studying their work and
      the cultural significance of these traditional textiles. A contemporary
      collection by Wabisabi Project looks at ways to adapt these classic motifs
      and patterns.
    </p>
  </div>

  <div class="travel-text2">
    <h3>DEC 2021 – MAR 2022</h3>
    <p>
      <span class="bold-black">Kalm Village, Thailand</span> wants to create a
      place that brings people together through the love of art, craft and
      culture. They believe in the ability of art, craft and culture to educate,
      engage, inspire and empower.
    </p>
    <p>
      Much like Thailand, India’s art and crafts are embedded in every aspect of
      its identity. We hope exhibiting Jajam allowed visitors to explore many
      aspects in which art and crafts traditions remain an integral part of
      everyday life to this day.
    </p>
    <h3>JAN 2018 – APR 2019</h3>
    <p>
      <span class="bold-black">Museum of Hand Printing, Jaipur</span> is
      dedicated to the craft of block printing. It encourages textile
      specialists, the general public and more importantly, the artisans
      themselves to visit and view their craft in a unique and inspirational
      way.
    </p>
    <p>
      We are delighted to have willing support from Anokhi in documenting Jajam
      and exhibiting in the museum.
    </p>
  </div>
</section>
