.image-container {
  position: relative;
  width: 100%;
  height: auto;
}
.image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.image-container1 {
  position: relative;

  color: white;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

.image-container1 img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.image-container1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.image-headline {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 15%;
  top: 10%;
  font-style: normal;
  font-size: 1.08em;
  z-index: 2;
}
.image-headline h1 {
  display: flex;
  font-weight: bold;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}
/* ____________________text section __________________ */
.text-contatiner {
  background-color: rgba(233, 185, 161, 0.2);

  width: 100%;
  height: auto;
}
.text-coming {
  display: block;
  padding: 3%;
  padding: 2%;
}
.text-coming h1 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: rgb(61, 58, 58);
  opacity: 70%;
}
.text-coming p {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-family: Nunito, sans-serif;
  margin-bottom: 5%;
  color: rgb(68, 63, 63);

  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
}

/* ____________________text container2 section __________________ */
.text-contatiner2 {
  background-color: rgba(255, 255, 255, 0.2);

  width: 100%;
  height: auto;
  padding: 3%;
}

.year h4 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 400;
  color: rgb(129, 59, 59);
  opacity: 60%;
  letter-spacing: 0.02em;
}
.rediscover h1 {
  text-align: center;
  font-size: 2.8em;
  font-weight: normal;
  color: rgb(119, 57, 57);
  opacity: 60%;
  letter-spacing: 0.04em;
}
.rediscover p {
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-family: Nunito, sans-serif;
  /* margin-bottom: 0%; */
  color: rgb(110, 35, 35);
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
}

.tabs {
  display: flex;
  align-items: center;
  padding: 10px 0;

  padding-left: 10%;
  padding-right: 10%;
  text-wrap: wrap;
}

.tablinks {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
}

.tablinks {
  color: rgba(82, 11, 11, 0.5);
}

.tablinks.active {
  color: #330303;
}

.horizontal-line {
  flex-grow: 1;
  height: 2px;
  background-color: #520b0b;
  margin: 0 10px;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent:target {
  display: block;
}

/* __________________________________________rediscovering-container___________ */

/* .rediscovering {
    height: 100vh;
} */

.image-container2 {
  position: relative;

  color: white;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
 
}
.image-container2 img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.image-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.txt-container2 {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 2;
  width: 100%;
  line-height: 1.7em;
}

.txt-container2 h4,
.txt-container2 h1,
.txt-container2 p,
.image-logo,
.btn {
  margin: 0 auto;
}

.txt-container2 h4 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
  z-index: 2;
}

.txt-container2 h1 {
  font-family: Nunito Sans, sans-serif;
  color: rgba(210, 78, 113, 1);
  text-transform: uppercase;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 1em;
  z-index: 2;
}

.txt-container2 p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  margin-bottom: 4%;
  z-index: 2;
}

.image-logo {
  margin-bottom: 1em;
  z-index: 2;
}

.image-logo img {
  display: block;
  margin: 0 auto;
  margin-top: 7%;
  width: 70%;
  height: 70%;
  color: #fff;
  z-index: 2;
}

.btn {
  display: inline-block;
  background-color: rgb(247, 246, 246);
  color: rgb(139, 32, 32);
  border: none;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  z-index: 2;
  border-radius: 20px;
  
}

.btn:hover {
  background-color: #eceaea;
}

.btn span {
  display: inline-block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* ____________________wisih section______________ */
.wish-container {
  background-color: #e0dede;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.wish-container .img1 {
  display: flex;
  height: 16%;
  width: 16%;
  padding: 3%;
  position: relative;
  align-items: center;
  opacity: 30%;
}
.wish-container h2 {
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 100%;
  padding-top: 0.05em;
  white-space: unset;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0;
  opacity: 72%;
}
.wish-container p {
  font-family: Nunito, sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4%;
  text-align: center;
  /* margin: 1.25em; */
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 50%;
}
.wish-container .btn {
  background-color: rgb(255, 255, 255);
  color: rgb(87, 6, 6);
  border: none;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin: 1.5em 0;
}
.research-container .btn:hover {
  background-color: rgba(210, 78, 113, 0.8);
}
.wish-container .img2 {
  width: 80%;
  max-width: 100%;
  padding: 8%;
  display: block;
  margin: 0 auto 0;
}

/* --------------------research-container___________________
 */

.research-container {
  background-color: rgba(240, 222, 201, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.research-container h4 {
  font-family: Nunito Sans, sans-serif;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.2;
  margin: 0.5em 0;
  font-size: 2.5rem;
  font-weight: 300;
  opacity: 0.72;
}

.research-container p {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 0.5;
  max-width: 60ch;
  margin: 1em 0; /* Adjust margins for better spacing */
}

.research-container .btn {
  background-color: rgb(255, 255, 255);
  color: rgb(87, 6, 6);
  border: none;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin: 1.5em 0;
}

.research-container .btn:hover {
  background-color: rgba(210, 78, 113, 0.8);
}

.map {
  background-color: rgba(240, 222, 201, 0.5);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.map iframe {
  border: 0;
  width: 100%;
  height: 500px;
  max-width: 100%;
}

/* ________________________traveling-container______________

 */
.travel {
  background-color: rgba(240, 222, 201, 0.5);
}
.traveling-container {
  position: relative;

  color: white;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

 

.traveling-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


.travel-text1,
.travel-text2 {
  position: relative;
  z-index: 2; /* Ensure the text is above the background */
  /* padding-top: 5%; */
  /* margin: 3%; */
}
.travel-text1 {
  padding-top: 5%;
}
.travel-text2 {
  padding-bottom: 5%;
}

.travel-text1 h4,
.travel-text1 h2,
.travel-text1 p,
.travel-text2 h3,
.travel-text2 p {
  font-family: Nunito Sans, sans-serif;
  text-align: center;
  color: rgba(72, 50, 49, 1);
  overflow-wrap: break-word;
}

.travel-text1 h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  opacity: 0.66;
}
.travel-text1 .highlight {
  color: rgb(240, 28, 28);
}
.bold-black {
  color: #000;
  font-weight: bold;
}
.travel-text1 h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  opacity: 0.72;
}

.travel-text1 p {
  font-family: Nunito, sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  opacity: 0.5;
  margin: 0 auto; /* Center the paragraph */
  max-width: 60ch;
}

.travel-text2 h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  opacity: 0.7;
  margin-top: 2%;
}

.travel-text2 p {
  font-family: Nunito, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.02em;
  max-width: 60ch;
  margin: 0 auto;
  color: rgba(72, 50, 49, 1);
}

@media screen and (max-width: 768px) {
  .image-headline {
    left: 5%;
  }
  .text-contatiner {
    padding-top: 5%;
  }
  .text-coming p {
    margin-left: 5%;
    margin-right: 5%;

    font-size: 1rem; /* Adjust font size */
  }
  .text-contatiner2 h1 {
    font-size: 2.2em;
  }

  .text-contatiner2 .rediscover p {
    margin-left: 5%;
    margin-right: 5%; 
    font-size: 1rem; /* Adjust font size */
  }

  .tabs {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    text-wrap: wrap;
  }

  .image-container2 .txt-container2 {
    padding: 3%;
  }
  .image-container2{
    height: 190vh;

  }
  .image-logo img{
    height: 100%;
    width: 100%;
  }
  
  .image-container2 img {
    height: 100%; 
  }
  
  .wish-container .img1 {
   
    height: 30%;
    width: 30%;
  
  
   text-align: center;
  
    
  }
  .wish-container p {
    font-family: Nunito, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    text-align: center;
    
    font-style: normal;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    font-feature-settings: "pnum" on, "onum" on;
    opacity: 50%;
  }

  .wish-container .img2 {
    width: 100%;
    max-width: 100%;
   
  }
  .research-container p {
    font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "onum" on;
  opacity: 0.5;
  max-width: 60ch;
  margin: 1em 0;
  }
.map{
  padding: 0;
}
  .map iframe {
    width: 100%;
    max-width: 100%;
    height: 300px;
    /* padding: 0; */
  }
  .travel-text1{
    padding-top: 15%;
  }
  .travel-text1 h2 {
    font-size: 1.5rem;
  }

  .travel-text2 h3 {
    font-size: 1.5rem;
  }

  .travel-text2 p {
    font-size: 0.9rem;
  }
  .travel-text1 p {
    font-family: Nunito, sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
    opacity: 0.5;
    margin: 0 auto; /* Center the paragraph */
    max-width: 60ch;
    padding-top: 3%;
  }
  
  .travel-text2 h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    opacity: 0.7;
    margin-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .travel-text2 p {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.02em;
    max-width: 60ch;
    margin: 0 auto;
    color: rgba(72, 50, 49, 1);
    padding: 1rem;
  }
  
}
