<section class="red-section">
  <div class="text-container">
    <div class="left-text">
      <div class="text1">
        <p>
          We are a group of people who love traditional Indian crafts. We want
          to revive and share the knowledge of dyeing and crafts with the world.
        </p>
      </div>
      <div class="text2">
        <p>
          We have created a series of workshops in India, where we teach you how
          to make natural dyes, natural paints and other traditional craft
          materials. Our workshop is for anyone who wants to learn about Indian
          crafts and dyeing techniques.
        </p>
        <p>Join us in exploring this wonderful world.</p>
      </div>
    </div>
    <div class="right-text">
      <div class="right-text1">
        <p>
          Browse through our crafts Programs as well as Excursions of tours and
          unattended studio access below ——
        </p>
      </div>
    </div>
  </div>
</section>
