<section class="image1">
  <div class="image-container">
    <img src="/assets/images/coll2.jpg" alt="collection-img" />
  </div>
  <div class="text-container">
    <div class="overlay-row">
      <div class="text-column">
        <h5>JAJAM SPREAD</h5>
      </div>
      <div class="button-text">
        <button class="learn-more">Learn More</button>
      </div>
    </div>
    <p>
      As meeting spaces for people go missing in our urban lifestyles, this
      textile brings<br />
      back purposeful or aimless congregations with our loved ones.
    </p>
  </div>
</section>
<div class="border-fill"></div>

<section class="image2">
  <div class="image-container1">
    <img src="/assets/images/coll5.jpg" alt="collection-img" />
  </div>
  <div class="text-container">
    <div class="overlay-row">
      <div class="text-column">
        <h5>PROCESSION THROUGH TOWN</h5>
      </div>
      <div class="button-text">
        <button class="learn-more">Learn More</button>
      </div>
    </div>
    <p>
      A bedsheet design about balance of old characteristic royal processions
      and<br />ambiguous city spaces.
    </p>
  </div>
</section>
<div class="border-fill">
  
</div>
<section class="image3">
  <div class="image-container2">
    <img src="/assets/images/coll6.jpg" alt="collection-img" />
  </div>
  <div class="text-container">
    <div class="overlay-row">
      <div class="text-column">
        <h5>CHAUPAD GAME</h5>
      </div>
      <div class="button-text">
        <button class="learn-more">Learn More</button>
      </div>
    </div>
    <p>
      Enjoy tossing cowrie shells into the air and racing the tokens around a
      four-arm path<br />of the ancient Indian game of chaupad.
    </p>
  </div>
</section>
