.image1 {
  position: relative;
  width: 100%;
  height: auto;
}

.image-container {
  width: 100%;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* _______________ */
.image2 {
  position: relative;
  width: 100%;
  height: auto;
}

.image-container1 {
  width: 100%;
  height: auto;
}

.image-container1 img {
  width: 100%;
  height: auto;
  display: block;
}
/* _________________________ */
.image3 {
  position: relative;
  width: 100%;
  height: auto;
}

.image-container2 {
  width: 100%;
  height: auto;
}

.image-container2 img {
  width: 100%;
  height: auto;
  display: block;
}
.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column;
  align-items: start;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding-top: 5%;
  padding-left: 11%;
  padding-right: 11%;
  overflow: hidden;
}

.overlay-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-top: 5%;
  padding-left: 11%;
  padding-right: 11%;
  color: white;
}

.text-column {
  max-width: 100%;
}

.text-container p {
  padding-top: 2.5rem;
  width: 100%;
  text-align: left;
}

.button-text {
  display: flex;
  align-items: center;
}

.learn-more {
  background-color: #fff;
  color: #64161681;
  border: none;
  padding: 1px 90px;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.border-fill {
  height: 3rem;
  background-color: #520606;
  width: 100%;
  border: none;
  /* outline: #520606; */
}

@media (max-width: 714px) {
  .text-container {
    position: relative;

    background-color: #520606;
    flex-direction: column;
    align-items: start;

    color: white;
  }
  .text-column h5 {
    font-size: 1rem;
    white-space:wrap;
  }
  .text-column,
  .button-text {
    /* max-width: 100%; */
    text-align: start;
    font-size: 1em;
    display: inline-block;
  }

  .learn-more {
    padding: 1px 10px;
    font-size: 1em;
    white-space: nowrap;
  }

  .text-container p {
    padding-top: 2.5rem;
    width: 100%;
    text-align: left;
  }
}

/* .image-container::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.image-container2 {
  position: relative;
  background-image: url("/assets/images/coll5.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.image-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-container3 {
  position: relative;
  background-image: url("/assets/images/coll6.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.image-container3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

 */
