.image-container {
  position: relative;
  background-image: url("/assets/images/coll2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.image-container2 {
  position: relative;
  background-image: url("/assets/images/coll5.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.image-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-container3 {
  position: relative;
  background-image: url("/assets/images/coll6.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  padding: 3%;
}
.image-container3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text-row {
  margin-top: 20px;
  padding-left: 10%;
  color: white;
  z-index: 2;
}

.text-row h5 {
  margin: 0;
  font-size: 2em;
  font-weight: 500;
  color: #fff;
}

.text-row p {
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  margin: 10px 0;
  font-weight: 500;
}

.button-text {
  align-self: flex-start;
  margin-top: 20px;
  margin-right: 20%;
  z-index: 2;
}

.learn-more {
  background-color: #fff;
  color: #af2b2b;
  border: none;
  padding: 3px 80px;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  z-index: 2;
}

.learn-more:hover {
  background-color: #ddd;
}
.border-fill {
  border: none;
  padding: 2%;

  background-color: #723030;
}
