<section class="red-section">
  <div class="text-container">
    <div class="left-text">
      
        <div class="text1">
          <p>
            We are a small team practicing traditional techniques in block
            printing and natural dyes. Over many years, hands-on craft
            experiences have taught us the bounty and fragility of Nature's
            colours. We are delighted to share this knowledge with you.
          </p>
        </div>
        <div class="text2">
          <p>
            We have created a series of workshops, where we delve into the
            nuances of 'how to' in natural dyes, pastes and other craft
            practices. Our workshop is for anyone (beginner or expert) who wants
            to learn about crafts processes.</p>
           <p> If you have the time, we have the space. Join us in exploring this wonderful world.
          </p>
        </div>
    
    </div>
    <div class="right-text">
      <p>
        Browse through our crafts Programs as well as Excursions of tours below.
        Or, make your own itinerary with multiple programs and excursions and
        let us know.
      </p>
    </div>
  </div>
</section>
