<app-tabs-nav-bar></app-tabs-nav-bar>
<div class="ajmercontainer">
        <h1>REGIONAL JAJAM FROM DHUNDHAR</h1>
        <section class="ajmersec1">
            <img src="assets/images/dhundharimg1.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Unknown </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1870</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">284x449cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Bagru</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>This 150 year old temple Jajam readily spread itself out for the innumerable sermons, fairs and
                    gatherings. On closer look, one realises that beauty and wisdom grows with age. Additional layerings
                    covered the worn out handloom cotton due to frequent activities. The central Chaupad imprint is
                    given a miss on Temple Jajam. The priest sprung it out from an old trunk and willingly offered it
                    for our research and collection. In return, he asked for a new Jajam over monetary compensation.
                    This shows his belief in community life. An antique Jajam definitely deserved more, and thus we
                    instead gave four! As destiny would have it, our journey begins with donation of a Jajam to a
                    temple, a quintessential custom linked to Jajam.
                </p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/dhundharimg2.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Nathu Lal Chhipa </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.2005</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">185×285cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Bagru</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Powerloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>Privately owned jajam to host guest for weddings and other life ceremonies.</p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/dhundharimg3.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Unknown </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1980</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">315×850cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Jaipur</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>Jajam offered by a bride and groom on their wedding day to the Shri Namdev temple.</p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/dhundharimg4.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Unknown </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1967</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">350×450</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Sanganer</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Chemical Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>Jajam offered by a block printer to a community temple.</p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/dhundharimg5.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Narayan Chhipa </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1980</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">406×800cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Sanganer</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Chemical  Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>Sri Narayan ji and his wife Anandi Devi printed this in 1980, a year before the floods hit Sanganer.
                    It took 15 to 20 days to print and Sri Narayan used 56 different blocks to complete it – 32 blocks
                    to print the circle, 20 blocks to print the border and 4 blocks to print the inside surface. They
                    used to make jajam of all sizes according to the customer’s requirement. The main buyers being the
                    zamindars (land lords), village panchayats & temples.
                </p>
            </div>
        </section>
        <section class="ajmersec1">
            <img src="assets/images/dhundharimg6.png" alt="">
            <div class="workplace_info">
                <section class="workplace_detail">
                    <div style="grid-column: 1/-1;">
                        <div class="topic"> Devi Sahay Chhipa </div>
                        <div class="label">Printer</div>
                    </div>
                    <div>
                        <div class="topic">c.1997</div>
                        <div class="label">year</div>
                    </div>
                    <div>
                        <div class="topic">284×449cm</div>
                        <div class="label">size</div>
                    </div>
                    <div>
                        <div class="topic">Jairampura</div>
                        <div class="label">location</div>
                    </div>
                    <div>
                        <div class="topic">Block Print</div>
                        <div class="label">Craft</div>
                    </div>
                    <div>
                        <div class="topic">Natural Dye</div>
                        <div class="label">Color</div>
                    </div>
                    <div>
                        <div class="topic">Handloom Cotton</div>
                        <div class="label">Fabric</div>
                    </div>
                </section>
                <p>Privately owned jajam to host guest for weddings and other life ceremonies.</p>
            </div>
        </section>
    </div>